// ==========================================================================
// Invest Product Card List - 투자 카드 리스트 스타일
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

.invest-product-card-list {
  display: block;

  margin: auto;

  &__item {
    float: left;
    &--middle {
      width: 33.3%;

      padding: 20px;
    }

    &--big {
      /**/
    }

    &--small {
      /**/
    }
  }

  @include media("wide") {
    width: 90%;
    &__item {
      &--big { // 2개
        // flex-basis: 50%;
      }

      &--middle { // 5개
        padding: 30px;
      }

      &--small { // 7개
        // flex-basis: 14.28%;
      }
    }
  }

  @include media("desktop") {
    width: 95%;
    &__item {
      &--big { // 2개
        // flex-basis: 100%;
      }

      &--middle { // 4개
        padding: 20px 15px;
      }

      &--small { // 5개
        // flex-basis: 20%;
      }
    }

  }

  @include media("tablet") {
    width: 100%;
    &__item {
      &--big { // 1개
        // flex-basis: 100%;
      }

      &--middle { // 2개
        width: 50%;
        padding: 15px;
      }

      &--small { // 4개
        // flex-basis: 25%;
      }
    }
  }

  @include media("tablet-l") {
    &__item {
      &--big { // 1개
        // flex-basis: 100%;
      }

      &--middle { // 3개
        width: 50%;
      }

      &--small { // 4개
        // flex-basis: 25%;
      }
    }
  }

  @include media("mobile") {
    &__item {
      &--big { // 1개
        // flex-basis: 100%;
      }

      &--middle { // 1개
        width: 100%;
        padding: 15px 10px;
      }

      &--small { // 1개
        // flex-basis: 100%;
      }
    }
  }
}
.invest-product-card-list--main {
  /**/
}
