// ==========================================================================
// Invest Product Card - 투자 카드 스타일
//
// Copyright (c) 2019 Founding inc.
//
// hover 효과는 스타일 별 다르게 나타난다.
// card 자체 hover의 효과는 한정되어 있다.
//
// ==========================================================================


.invest-product-card {
  $b: &;
  $b__data-value: '.invest-product-card__data-value';
  $progress: '.progress';

  $font-opacity: .84;
  $image-height: 46%;

  @mixin img-overlay () {
    background-color: rgba(0, 0, 0, 0.4);
  }

  overflow: hidden;

  flex-grow: 1;

  height: 518px;
  // margin: 23px;
  border-radius: 18px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);

  background-color: white;

  @include user-select(none);

  %text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
  }

  // img-container
  // ==========================================================================
  &__img-container {
    position: relative;
    z-index: 0;

    width: 100%;
    height: $image-height;

    cursor: pointer;
  }

  &__img-container:hover {
    #{$b} {
      &__img {
        transform: scale(1.1);

        &::before {
        }

        &::after {
          opacity: 1;

          @include img-overlay();
        }
      }
      &__label-text {
        // opacity: 1;
        visibility: visible;

        &::before, &::after {
          width: 120%;
          height: 120%;
        }
      }
    }
  }

  // img
  // ==========================================================================
  &__img {
    width: 100%;
    height: 100%;

    background: url('/image/sample/apt.jpg') no-repeat center bottom;
    background-size: cover;

    @include transition-property(transform);
    @include transition-timing-function(ease);
    @include transition-duration(0.3s);

    &::after {
      @include transition-property(opacity);
      @include transition-timing-function(ease);
      @include transition-duration(0.3s);

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      opacity: 0;

      width: 100%;
      height: 100%;

      content: '';
    }
  }

  &__divider {
    /**/
  }

  // status
  // ==========================================================================
  &__status { // 공통 status
    color: white;

    &-text {
      display: inline;

      padding: 5px;
      border: 1px solid;
      border-radius: 5px;

      background-color: $theme-color;
    }

    &--ready {
      color: white;
      #{$b}-text {
        background-color: blue;
      }
    }

    &--complete {
      /**/
    }

    &--funding {
      /**/
    }
  }

  &__tags {
    /**/
  }

  &__text {
    /**/
  }

  &__img-container { // 이미지에 태그되는 상태
    #{$b} {
      &__status {
        position: absolute;
        z-index: 5;

        top: 20px;

        width: 100%;

        text-align: right;

        &-text {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        &--ready {
          top: 0;

          display: flex;
          align-content: center;
          justify-content: center;

          width: 100%;

          color: white;

          @include img-overlay();

          #{$b}__status-text {
            background-color: transparent;
            border: 0px;
          }
        }

        &--fail,
        &--cancel,
        &--finish,
        &--repaying,
        &--delay,
        &--poor {
          display: none;
        }
      }
    }
  }

  // label
  // ==========================================================================
  &__label {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width :100%;
    height: 100%;
  }

  &__label-text {
    position: relative;
    visibility: hidden;

    padding: 10px;

    color: white;

    &::before, &::after {
      content: '';

      position: absolute;
      opacity: 1;

      width: 0%;
      height: 0%;

      border: 0px solid white;

      @include transition-property(width, height);
      @include transition-timing-function(ease);
      @include transition-duration(0.3s);
    }
    &::before {
      left: 0;
      top: 0;

      border-left-width: 1px;
      border-top-width: 1px;
    }

    &::after {
      right: 0;
      bottom: 0;

      border-right-width: 1px;
      border-bottom-width: 1px;
    }
  }

  // content
  // ==========================================================================
  &__content {
    display: block;

    position: relative;
    z-index: 0;

    overflow: hidden;

    width: 100%;
    height: 100-$image-height;

    background-color: $invest-product-card-bg-color;

  }

  // header
  // ==========================================================================
  &__header {
    padding: 15px;
  }

  &__index, &__category {
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 3px;

    font-size: 0.8em;

    cursor: pointer;
  }

  /* 제 n 호 */
  &__index {

    border-color: #536dfe;

    color: #536dfe;
    background-color: rgba(92, 107, 192, 0.08);

    &::before {
      content: '제';
    }
    &::after {
      content: '호';
    }
  }

  // title
  // ==========================================================================
  &__title {
    @extend %text-ellipsis;

    position: relative;

    display: inline-block;

    max-width: 100%; // inline-block 특성 때문에 ellipsis 적용위해 필요
    margin-top: 8px;

    font-size: 1.3em;

    cursor: pointer;

    &::after {
      content: '';

      position: absolute;
      left: 0;
      top: 40%;

      opacity: 0;

      width: 0%;
      height: 40%;

      background-color: #0002;

      @include transition-property(width);
      @include transition-timing-function(ease);
      @include transition-duration(0.3s);
    }

    &:hover {
      &::after {
        opacity: 1;

        width: 100%;
      }
    }
  }

  // desc
  // ==========================================================================
  &__desc {
    @extend %text-ellipsis;

    font-size: 0.8em;
  }

  // data
  // ==========================================================================
  &__data-container {
    display: flex;

    justify-content: space-evenly;

    margin-top: 10px;
  }

  /* 수익률, 투자기간, 등굽, .. */
  &__data {
    text-align: center;

    &-key {
      opacity: $font-opacity;

      margin-bottom: 4px;

      color: $invest-product-card-circle-border-color;

      font-size: 0.9em;
    }

    &-value {
      display: table-cell;

      vertical-align: middle;

      width: 70px;
      height: 70px;
      border: 2px solid $invest-product-card-circle-border-color;
      border-radius: 50%;

      background-color: $invest-product-card-circle-bg-color;

      font-size: 20px;
      text-align: center;
    }

  }

  &__data--emphasis {
    #{$b}__data {
      &-value {
        color: white;
          background-color: $invest-product-card-circle-emphasis-bg-color;
        }
    }
  }

  %data-font {
    opacity: $font-opacity;

    font-size: 0.68em;
  }

  &__data--type {

    &-profit #{$b__data-value}::after {
      @extend  %data-font;
      content: '%';
    }

    &-period #{$b__data-value}::after {
      @extend  %data-font;
      content: '개월';
    }

    &-rank {
      /**/
    }
  }

  // footer
  // ==========================================================================
  &__footer {
    margin-top: 10px;

    padding: 0px 15px;

    #{$b} {
      &__status {
        float: left;

        margin-left: 10px;
      }
    }
  }

  // progress
  // ==========================================================================
  &__progress {
    width: 94%;
    margin: 0 auto;
    margin-top: 12px;

    #{$progress} {
      margin-top: 6px;
    }
  }

  &__progress-text {
    color: #999;

    text-align: right;
    font-size: 0.9em;

    #{$b}__unit {
      margin-left: 3px;
    }

    &--current {
      color: $theme-color;

      font-size: 1.25em;
    }

    &--max {
      font-size: 1.1em;
    }
  }

  &__open {
    color: #999;
    font-size: 0.8em;
    margin-top: 5px;

    text-align: center;
  }

  &__slash {
    color: #ababab;
  }

  @include media("wide") {
    height: 538px;
  }

  @include media("desktop") {
  }

  @include media("tablet") {
  }

  @include media("mobile") {
  }
}

.invest-product-card--landscape {
  $b: '.invest-product-card';

  width: 900px;
  height: 400px;

  $image-width: 46%;

  #{$b} {
    &__img-container {
      float: left;

      width: $image-width;
      height: 100%;
    }

    &__content {
      float: left;

      width: 100-$image-width;
      height: 100%;
    }

    &__data-container {
      width: 50%;
    }

    &__footer {
      width: 50%;
    }
  }

  @include media("wide") {
  }

  @include media("desktop") {
  }

  @include media("tablet") {
    width: 90%;
  }

  @include media("mobile") {
    width: 80%;
  }
}

.invest-product-card--portrait {
  /**/
}

.invest-product-card--state {
  /**/
  &-close {
    /**/
  }
  &-funding {
    /**/
  }
  &-open {
    /**/
  }
  &-progress {
    /**/
  }
}

// invest-product-card hover 시 효과
.invest-product-card:hover {
  $b: '.invest-product-card';

  #{$b} {
  }
}

.invest-product-card .line-progress {
  $b: '.line-progress';

  &__container {
    background-color: rgb(230, 230, 230) !important;
  }

  &__bar {
    background-color: $theme-color !important;
  }
}
