// ==========================================================================
// BaseTabbar
//
// Copymright (c) 2019 Founding inc.
// ==========================================================================

// Layout
// ==========================================================================
.tabbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;

  width: inherit;
  padding: 0px 5px;

  @include partial-width();

  @include browser("ie9") {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
  }

  &__item-container {
    list-style: none;
  }

  &__item {
    display: inline;

    margin: 8px 23px;

    &--btn {
      /**/
    }

    &--dropdown {
      /**/
    }

    &--login-btn {
      /**/
    }

    &--signup-btn {
      /**/
    }

    &--slot {
      /**/
    }

    &--social-media-btn {
      /**/
    }
  }

  div {
    display: inline-block;
    align-self: auto;
  }

  &__left {
    /**/
  }

  &__center {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
  }

  &__right {
  }
}
