@import '../common';

.area--maximum {
  position: relative;
}

.area--partial {
  /* partial */
}

.contact-box {
  /* contact-box */
  width: 100%;

  margin-top: -400px;

  &__title {
    margin-bottom: 50px;

    color: rgb(50, 50, 70);

    font-size: 2.3em;
    text-align: center;

    @include user-select(none);
  }

  .contact-form {
    position: relative;
    margin: 30px auto;

    width: 600px;

    box-shadow: 0px 2px 100px 20px rgba(30, 30, 30, 0.1);

    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      box-shadow: 0px 2px 10px 0px rgba(30, 30, 30, 0.5);
    }

    @include media("<tablet-s") {
      width: 100%;
    }
  }

  @include media("mobile") {
    margin-top: -250px;
  }
}
