<template>
  <div :class="getClasses('tab')"/>
</template>

<script>
/**
 * BaseTab
 * @vuedoc
 * @classdesc 기본 탭
 * @exports tabs/Base
 */
export default {
  name: 'BaseTab',
  components: {},
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'tab':
          classes[this.$style['tab']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.tab {
}
</style>
