<template>
  <base-tab>
    <div :class="getClasses('sticky-tab')"/>
  </base-tab>
</template>

<script>
import BaseTab from '~/components/tabs/Base.vue'
import StickyGrid from '~/components/grids/Sticky.vue'
export default {
  name: 'StickyTab',
  components: { BaseTab, StickyGrid },
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'sticky-tab':
          classes[this.$style['sticky-tab']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.sticky-tab {
}
</style>
