// ==========================================================================
// Button - 버튼 스타일
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

$button-slide-vertical-range: 200%;
$button-slide-horizontal-range: 250%;

.btn {
  $b: &;

  border: 1px solid $button-fg-color;

  color: $button-fg-color;
  background-color: $button-bg-color;

  @include transition-duration($hover-transition-time);
  @include transition-property(color, background-color);

  &:hover {
    color: $button-fg-hover-color;
    background-color: $button-bg-hover-color;
  }

  &--slide,
  &--slide-icon,
  &--slide-icon-only {
    position: relative;

    display: inline-block;
    overflow: hidden;

    color: $button-fg-color;
    background: transparent;

    #{$b} {
      &__text {
        display: inline-block;
        position: relative;

        transform: translateX(0%);
        transform: translateY(0%);

        @include transition-duration(0.5s);
        @include transition-property(transform);
      }

      &__slide-text {
        display: inline-block;
        position: absolute;

        @include transition-duration(0.5s);
        @include transition-property(transform);
      }
    }

    &#{$b}--left #{$b}__slide-text {
      transform: translateX(-$button-slide-horizontal-range);
    }
    &#{$b}--right #{$b}__slide-text {
      transform: translateX($button-slide-horizontal-range);
    }
    &#{$b}--top #{$b}__slide-text {
      transform: translateY(-$button-slide-vertical-range);
    }
    &#{$b}--bottom #{$b}__slide-text {
      transform: translateY($button-slide-vertical-range);
    }

    &:hover {
      #{$b} {
        &__text {
          display: inline-block;
          position: relative;
        }

        &__slide-text {
          display: inline-block;
          position: absolute;

          transform: translateX(0%);
          transform: translateY(0%);
        }
      }

      &#{$b}--left #{$b}__text {
        transform: translateX($button-slide-horizontal-range);
      }
      &#{$b}--right #{$b}__text {
        transform: translateX(-$button-slide-horizontal-range);
      }
      &#{$b}--top #{$b}__text {
        transform: translateY($button-slide-vertical-range);
      }
      &#{$b}--bottom #{$b}__text {
        transform: translateY(-$button-slide-vertical-range);
      }
    }
  }
}

.btn--default {
  /**/
}
