.metro-button {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1);
  transition: all 0.3s ease 0s;

  @include user-select(none);

  cursor: pointer;
}

.metro-button--type-basic,
.metro-button--type-complex {
  $b: '.metro-button';

  &#{$b}--pressed {
    &-none {

    }
    &-left,
    &-topleft,
    &-bottomleft {
      transform-origin: right 50%;
    }
    &-right,
    &-topright,
    &-bottomright {
      transform-origin: left 50%;
    }
    &-top {
      transform-origin: 50% bottom;
    }
    &-bottom {
      transform-origin: 50% top;
    }
    &-center {
      transform-origin: 50% 50%;
    }
  }
}
.metro-button--type-complex {
  $b: '.metro-button';

  &#{$b}--pressed {
    &-topleft {
      transform-origin: right bottom;
    }
    &-topright {
      transform-origin: left bottom;
    }
    &-bottomleft {
      transform-origin: right top;
    }
    &-bottomright {
      transform-origin: left top;
    }
  }
}
