// ==========================================================================
// Social Media Button - SNS 버튼
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

.social-media-btn {
  $b: &;
  $btn: '.btn';

  display: inline-block;


  #{$btn} {
    border: 0;
    border-radius:50px;

    color: gray;
  }

  svg {
    width: 1.55em;
    height: 1.55em;
  }

  &__sns-text {
    /**/
  }

  &--fb {
    #{$btn} {
      &__slide-text {
        color: white;
      }
      &--slide-icon:hover,
      &--slide-icon-only:hover {
        background-color: #4267b2;
      }
    }
  }

  &--kakao-talk {
    #{$btn} {
      &--slide-icon:hover,
      &--slide-icon-only:hover {
        background-color: #FEF202;
      }
    }
  }

  &--brunch {
    #{$btn} {
      &--slide-icon:hover,
      &--slide-icon-only:hover {
        background-color: white;
      }
    }
  }

  &--naver-blog {
    #{$btn} {
      &--slide-icon:hover,
      &--slide-icon-only:hover {
        svg {
          color: white;
        }
        background-color: #01c73c;
      }
    }
  }
}
