<template>
  <div 
    :class="getClasses('carousel')"
    @mouseenter="handleCarouselMouseEnter"
    @mouseleave="handleCarouselMouseLeave"
  >
    <div :class="getClasses('showcase')">
      <div
        v-if="useArrow"
        :class="getClasses('arrow', 'prev')"
        :style="arrowPrevStyle"
        @mouseenter="updateArrowHoverState('prev', true)"
        @mouseleave="updateArrowHoverState('prev', false)"
        @click="handleArrowPrevClick">
        <base-icon
          section="svg"
          theme="fnd"
          type="right-arrow-thin" />
      </div>
      <div
        :class="getClasses('showcase-track')"
        @mousedown="handleMouseDown"
        @mouseup="handleMouseUp"
        @mousemove="handleMouseMove"
        @mouseleave="handleMouseLeave"
        @touchstart="handleMouseDown"
        @touchend="handleMouseUp"
        @touchmove="handleMouseMove"
      >
        <div
          v-for="index in count"
          :key="index"
          :class="getClasses('showcase-content', index)"
          :data-index="index"
        >
          <slot
            :name="'content-'+index"
            :data-index="index"
          />
        </div>
      </div>
      <div
        v-if="useArrow"
        :class="getClasses('arrow', 'next')"
        :style="arrowNextStyle"
        @mouseenter="updateArrowHoverState('next', true)"
        @mouseleave="updateArrowHoverState('next', false)"
        @click="handleArrowNextClick">
        <base-icon
          section="svg"
          theme="fnd"
          type="right-arrow-thin" />
      </div>
    </div>

    <div :class="getClasses('indicator')">
      <div
        :class="getClasses('indicator-container')"
        @scroll="selectorScrollHandler">
        <div
          v-for="index in count"
          :key="index"
          :class="getClasses('indicator-selector', index)"
          :data-index="index"
          @click="clickSelector"
        >
          <slot
            :name="'selector-'+index"
            :data-index="index"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BaseIcon from '~/components/icons/Base.vue'
/**
 * BaseCarousel
 * @description 회전 슬라이드 컴포넌트입니다. **showcase** 와 **indicator** 가 나뉘어 있고 showcase 는 이미지 및 데이터의 메인 뷰어, indicator 는 썸네일 등 선택화면입니다.
 * **showcase**와 **indicator** 에는 각각 'content-', 'selector-' 라는 이름의 `slot` 이 포함되어야 하고 이 갯수 또한 동일해야 합니다.
 * 슬라이드 수는 `count` 수로 결정됩니다.
 *
 * 최대한 JS사용을 최소화하고 CSS를 이용하여 구현하려고 하였습니다.
 * ## 용어정리
 * - `showcase` : 메인 슬라이드를 보여주는 컨테이너
 * - `indicator` : 메인 슬라이드에 보여줄 썸네일 컨테이너
 * - `track` : 여러 컨텐츠를 하나로 묶은 것으로 `showcase`에서 돌아가는 부분
 * - `content` : 하나의 메인 슬라이드
 * - `selector` : 선택을 위한 썸네일
 *
 * @vuedoc
 * @exports carousels/Base
 */
export default {
  name: 'BaseCarousel',
  components: { BaseIcon },
  props: {
    /**
     * 총 슬라이드 수로, 'content-' 슬롯과 'selector-' 슬롯의 수와 동일해야 합니다.
     */
    count: {
      type: Number,
      default: 1
    },
    vertical: {
      type: Boolean,
      default: false
    },
    /**
     * `true`일 경우 자동으로 슬라이드를 합니다.
     */
    autoplay: {
      type: Boolean,
      default: false
    },
    /**
     * Autoplay 의 시간 간격입니다. (단위: ms)
     */
    interval: {
      type: Number,
      default: 4000
    },
    /**
     * 사용자 제스처 스크롤 시 자동 스크롤을 막는 시간 간격입니다. (단위: ms)
     */
    timeout: {
      type: Number,
      default: 10000
    },
    /**
     * indicator 위치를 설정합니다.
     * 클래스로 추가되어 CSS로 처리됩니다.
     */
    indicator: {
      type: String,
      default: 'bottom' // top, bottom, left, right
    },
    indicatorType: {
      type: String,
      default: 'default' // default, dash, dot
    },
    /**
     * indicator를 showcase 내부에 위치시킵니다.
     * 클래스로 추가되어 CSS로 처리됩니다.
     */
    inside: {
      type: Boolean,
      default: false
    },
    /**
     * 좌,우,상,하에 맞게 버튼을 만든다.
     * 사용자 상호작용(버튼 등)이 없는 컨텐츠에서 사용해야 한다.
     * 색상은 동적으로 적용할 수 있으며, 이는 배경색에 따라 적용하기 위함이다.
     * 동적인 색상 변경을 위하여 arrowPrevHoverState, arrowNextHoverState를 사용한다.
     */
    useArrow: {
      type: Boolean,
      default: false
    },
    alwaysShowArrow: {
      type: Boolean,
      default: false
    },
    arrowColor: {
      type: String,
      default: 'rgba(255,255,255,0.6)'
    },
    arrowHoverColor: {
      type: String,
      default: 'white'
    }
  },
  data() {
    return {
      /**
       * 이 값이 true 이면 autoplay를 하지 않습니다.
       */
      autoplayFlag: this.autoplay,
      /**
       * 이 값이 true 이면 autoplay가 잠시동안 중지됩니다.
       */
      ignoreAutoplayFlag: false,
      /**
       * 이 값이 true 이면 autoscroll이 중지합니다.
       */
      ignoreAutoscrollFlag: false,
      /**
       * 이 값이 true 이면 프로그래밍적 스크롤로 판단하여 사용자의 제스쳐와 구분합니다.
       */
      scrollingFlag: false,
      /**
       * 이 값이 true 이면 현재 드래그 상태입니다.
       */
      isDrag: false,
      /**
       * 이 값은 drag 상호작용을 하기 위한 데이터를 담아 놓습니다.
       */
      dragData: {},
      /**
       * 이 값은 현재 data-index의 값입니다.
       * 하지만 완전히 신뢰할 수 있는 값은 아닙니다.
       * 현재 active 된 객체를 가져오려면 `getActivatedIndex` 함수를 사용하는 것을 권장합니다.
       */
      dataIndex: 1, // 1부터 시작
      /**
       * data-index의 첫번째 index 입니다.
       * 불변합니다.
       */
      firstIndex: 1,
      /**
       * data-index의 마지막 index 입니다.
       * 불변합니다.
       */
      lastIndex: this.count,
      showArrow: this.alwaysShowArrow,
      arrowPrevHoverState: false,
      arrowNextHoverState: false
    }
  },
  computed: {
    /**
     * 현재 data-index 값이 첫번째일 경우
     */
    isFirstIndex() {
      return this.dataIndex == 1
    },
    /**
     * 현재 data-index 값이 마지막일 경우
     */
    isLastIndex() {
      return this.dataIndex == this.count
    },
    arrowPrevStyle() {
      var style = {
        visibility: this.showArrow ? 'visible' : 'hidden',
        opacity: this.showArrow ? '1' : '0'
      }
      if (this.arrowPrevHoverState) {
        style.color = this.arrowHoverColor
      } else {
        style.color = this.arrowColor
      }
      return style
    },
    arrowNextStyle() {
      var style = {
        visibility: this.showArrow ? 'visible' : 'hidden',
        opacity: this.showArrow ? '1' : '0'
      }
      if (this.arrowNextHoverState) {
        style.color = this.arrowHoverColor
      } else {
        style.color = this.arrowColor
      }
      return style
    }
  },
  mounted() {
    if (process.browser) {
      this.init()
      this.setAutoplay()
    }
  },
  created() {
    var self = this
    if (process.browser) {
      $(window).on('resize', function() {
        if (!self.isDrag) {
          // 모바일 드래그 시 초기화 방지
          self.init()
        }
      })
    }
  },
  destroyed() {
    if (process.browser) {
      $(window).off('resize', this.init)
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'carousel': // carousel, carousel--vertical
          classes[this.$style['carousel']] = true
          classes[this.$style['carousel--vertical']] = this.vertical == true
          if (this.inside == true || this.indicatorType != 'default') {
            // showcase 부분을 모두 채움
            classes[this.$style['carousel--maximum']] = true
          }
          break
        case 'arrow':
          classes[this.$style['carousel__arrow']] = true
          if (arg == 'prev') {
            classes[this.$style['carousel__arrow-prev']] = true
            if (this.vertical) {
              classes[this.$style['carousel__arrow--top']] = true
            } else {
              classes[this.$style['carousel__arrow--left']] = true
            }
          } else if (arg == 'next') {
            classes[this.$style['carousel__arrow-next']] = true
            if (this.vertical) {
              classes[this.$style['carousel__arrow--bottom']] = true
            } else {
              classes[this.$style['carousel__arrow--right']] = true
            }
          }
          break
        case 'showcase': // carousel__slide
          classes[this.$style['carousel__showcase']] = true
          break
        case 'showcase-track': // carousel__showcase-track
          classes[this.$style['carousel__showcase-track']] = true
          break
        case 'showcase-content': // carousel__showcase-content
          classes[this.$style['carousel__showcase-content']] = true
          classes[this.$style['is-active']] = arg == 1
          break
        case 'indicator': // carousel__indicator, --left, --right, --top, --bottom, --inside
          classes[this.$style['carousel__indicator']] = true

          classes[this.$style['carousel__indicator--top']] =
            this.indicator == 'top'
          classes[this.$style['carousel__indicator--bottom']] =
            this.indicator == 'bottom'
          classes[this.$style['carousel__indicator--left']] =
            this.indicator == 'left'
          classes[this.$style['carousel__indicator--right']] =
            this.indicator == 'right'

          classes[this.$style['carousel__indicator--inside']] =
            this.inside == true

          classes[
            this.$style['carousel__indicator--' + this.indicatorType]
          ] = true
          break
        case 'indicator-container': // carousel__indicator-container
          classes[this.$style['carousel__indicator-container']] = true
          break
        case 'indicator-selector': // carousel__indicator-selector
          classes[this.$style['carousel__indicator-selector']] = true
          classes[this.$style['is-active']] = arg == 1
          break
      }

      return classes
    },
    /**
     * 모듈화된 클래스명을 문자열로 반환합니다.
     */
    getClass(name) {
      return '.' + this.$style[name]
    },
    getClassName(name) {
      return this.$style[name]
    },
    /**
     * JQuery로 변환된 엘리먼트를 반환합니다.
     */
    getElement(name) {
      var className
      switch (name) {
        case 'track':
          className = this.getClass('carousel__showcase-track')
          break
      }
      return $(this.$el).find(className)
    },
    /**
     * ignoreAutoplay 값이 false일 경우에만 작동
     */
    setAutoplay() {
      var self = this
      setInterval(function() {
        if (self.autoplayFlag != true) {
          return
        }
        if (self.ignoreAutoplayFlag == false) {
          self.moveNextTrack()
        }
        self.ignoreAutoplayFlag = false
      }, this.interval)
    },
    /**
     * showcase 내에 위치한 컨텐츠와 트랙을 초기화합니다.
     */
    init() {
      this.initSlideContent()
      this.initTrack()
    },
    /**
     * showcase 너비, 높이(vertical 시)를 맞춰서 slideContents 길이를 초기화합니다.
     */
    initSlideContent() {
      var showcaseClass = this.getClass('carousel__showcase')
      var contentClass = this.getClass('carousel__showcase-content')
      var btnClass = this.getClass('btn')

      var showcase = $(this.$el).find(showcaseClass)
      var slideContents = $(this.$el).find(contentClass)
      var self = this
      slideContents.each(function(i, e) {
        if (self.vertical) {
          $(e).css('height', showcase.height())
        } else {
          $(e).css('width', showcase.width())
        }
      })

      // 버튼은 잠시 딜레이됨
      var btns = slideContents.find(btnClass)
      btns.on('mouseenter', this.ignoreAutoplay)
    },
    /**
     * 트랙 길이를 초기화합니다.
     * 트랙 길이를 모든 컨텐츠의 길이를 합하여 설정합니다.
     * 트랙 길이를 구하기 전에 컨텐츠의 길이가 초기화 되어 있어야 합니다.
     */
    initTrack() {
      var trackClass = this.getClass('carousel__showcase-track')
      var contentClass = this.getClass('carousel__showcase-content')

      var track = $(this.$el).find(trackClass)
      var trackLength = 0
      var self = this
      track.children(contentClass).each(function(i, e) {
        if (self.vertical) {
          trackLength += $(e).height()
        } else {
          trackLength += $(e).width()
        }
      })
      if (self.vertical) {
        track.css('height', trackLength)
      } else {
        track.css('width', trackLength)
      }
      track.css('visibility', 'visible')
      track.css('opacity', 1)

      var index = this.getActivatedIndex()
      this.moveTrack(index)
    },
    /**
     * 현재 활성화된 객체의 data-index를 반환
     */
    getActivatedIndex() {
      var contentClass = this.getClass('carousel__showcase-content')
      var activeClassName = this.getClassName('is-active')

      var contents = $(this.$el).find(contentClass)
      var index = 1
      contents.each(function(i, e) {
        var ind = $(e).attr('data-index')
        if ($(e).hasClass(activeClassName)) {
          index = ind
        }
      })
      return parseInt(index)
    },
    /**
     * dataIndex에 해당하는 객체를 activated로 클래스 토글
     * moveTrack 에서만 호출하도록 해야 혼동 없음
     *
     * data-index를 dataIndex 내부 변수로 지정
     */
    toggleActivate(dataIndex) {
      var contentClass = this.getClass('carousel__showcase-content')
      var selectorClass = this.getClass('carousel__indicator-selector')
      var activeClassName = this.getClassName('is-active')

      var contents = $(this.$el).find(contentClass)
      var selectors = $(this.$el).find(selectorClass)

      this.dataIndex = dataIndex

      contents.each(function(i, e) {
        var index = $(e).attr('data-index')
        if (index == dataIndex) $(e).addClass(activeClassName)
        else $(e).removeClass(activeClassName)
      })
      selectors.each(function(i, e) {
        var index = $(e).attr('data-index')

        if (index == dataIndex) $(e).addClass(activeClassName)
        else $(e).removeClass(activeClassName)
      })
    },
    /**
     * dataIndex에 해당하는 위치로 트랙 이동과 함께 조건에 맞으면 자동 스크롤링
     * 단순하게 현재 컨텐츠의 너비와 dataIndex 수를 곱하여 계산
     *
     * `indicator` 부분 스크롤링은 몇 가지 조건이 맞아야 실행됩니다.
     * 1. `ignoreAutoscrollFlag` 값이 `false` 일 것 - 자동스크롤링을 무시하지 않음
     * 2. 선택될 `selector` 가 현재 화면에 온전히 차있는 경우가 아닐 때
     *
     * 스크롤링이 실행되면 사용자 스크롤링과 분리하여 판단하기 위해서
     * 스크롤 시 `scrollingFlag` 값이 `true` 로 설정되고,
     * 애니메이션이 끝나면 다시 `false`로 전환됩니다.
     */
    moveTrack(dataIndex) {
      this.toggleActivate(dataIndex)
      var self = this
      var contentClass = this.getClass('carousel__showcase-content')
      var containerClass = this.getClass('carousel__indicator-container')
      var selectorClass = this.getClass('carousel__indicator-selector')
      var activeClass = this.getClass('is-active')

      var content = $(this.$el).find(contentClass)
      var contentWidth = content.width()
      var contentHeight = content.height()

      var track = this.getElement('track')
      var value
      if (this.vertical) {
        value = contentHeight * (dataIndex - 1)
        this.setTrackTranslateY(-value)
      } else {
        value = contentWidth * (dataIndex - 1)
        this.setTrackTranslateX(-value)
      }

      // selector 애니메이션
      if (this.ignoreAutoscrollFlag == false) {
        var selectorContainer = $(this.$el).find(containerClass)
        var selector = $(this.$el).find(selectorClass + activeClass)
        var selectorWidth = selector.width()
        var selectorHeight = selector.height()
        var pos = selector.position()
        var scroll
        if (this.indicator == 'left' || this.indicator == 'right') {
          if (contentHeight - (pos.top + selectorHeight) < 0 || pos.top < 0) {
            scroll = selectorHeight * (dataIndex - 1)
            this.scrollingFlag = true
            selectorContainer.animate({ scrollTop: scroll })
            this.scrollingFlag = false
          }
        } else {
          if (typeof pos === 'object' && typeof pos.left === 'number') {
            if (contentWidth - (pos.left + selectorWidth) < 0 || pos.left < 0) {
              // 너비가 화면에 다 차지 않을 경우
              scroll = selectorWidth * (dataIndex - 1)
              this.scrollingFlag = true
              selectorContainer.animate(
                { scrollLeft: scroll },
                {
                  complete: function() {
                    setTimeout(function() {
                      self.scrollingFlag = false
                    }, 300)
                  }
                }
              )
            }
          }
        }
      }
    },
    /**
     * 다음 트랙으로 이동합니다.
     */
    moveNextTrack() {
      // getActivatedIndex를 꼭 사용할 것(index로 접근하지 말 것)
      var index = this.getActivatedIndex()
      index = this.isLastIndex ? this.firstIndex : index + 1
      this.moveTrack(index)
    },
    /**
     * 이전 트랙으로 이동합니다.
     */
    movePrevTrack() {
      // getActivatedIndex를 꼭 사용할 것(index로 접근하지 말 것)
      var index = this.getActivatedIndex()
      index = this.isFirstIndex ? this.lastIndex : index - 1
      this.moveTrack(index)
    },
    /**
     * 트랙의 이동을 현재 위치에서 멈춘다.
     */
    stopTrack() {
      var xPos = this.getTrackTranslateX()
      this.setTrackTranslateX(xPos)
    },
    /**
     * 트랙의 X 포지션을 반환한다.
     */
    getTrackTranslateX() {
      var track = this.getElement('track')
      return parseFloat(track.css('transform').split(',')[4])
    },
    /**
     * 트랙의 X 포지션을 설정한다.
     */
    setTrackTranslateX(xPos) {
      var track = this.getElement('track')
      track.css('transform', 'translateX(' + xPos + 'px)')
    },
    /**
     * 트랙의 Y 포지션을 설정한다.
     */
    setTrackTranslateY(yPos) {
      var track = this.getElement('track')
      track.css('transform', 'translateY(' + yPos + 'px)')
    },
    /**
     * ie9를 제외하고 ie10, 11, edge, ff, opera, chrome, ios chrome 테스트 완료
     * ie9는 이벤트 처리과정에서 target이 chrome 처럼 slot div로 지정이 되는 문제가 생김
     * 다만 chrome은 path를 이용해서 버블링된 타겟 선택이 가능하지만, ie9는 찾을 수 없음
     *
     * 클릭이 된 경우 잠시동안 autoplay 를 금지시킴
     *
     * 사용자 클릭이 이루어질 경우, 사용자 제스처로 자동 스크롤링이 막혀있던 것이 풀림
     */
    clickSelector(e) {
      var elem = e.target

      var selectorClassName = this.getClassName('carousel__indicator-selector')

      while (!$(elem).hasClass(selectorClassName)) {
        elem = elem.parentElement
      }
      var index = $(elem).attr('data-index')

      this.ignoreAutoplay() // 사용자가 클릭시 자동으로 넘기는 기능을 잠시 사용하지 않음
      this.ignoreAutoscrollFlag = false // 사용자가 클릭시, 사용자 스크롤 제스처로 막힌 스크롤 기능을 재활성화
      this.moveTrack(index)
    },
    ignoreAutoplay() {
      this.ignoreAutoplayFlag = true
    },
    timeoutAutoscroll(time) {
      let self = this
      this.ignoreAutoscrollFlag = true
      setTimeout(function() {
        self.ignoreAutoscrollFlag = false
      }, time)
    },
    /**
     * 스크롤 시 자동 스크롤을 방지합니다.
     * 자동 스크롤 중인지, 사용자 제스처인지 분간하기 위해서 `scrollingFlag`를 사용합니다
     */
    selectorScrollHandler(e) {
      if (this.scrollingFlag == false) {
        this.timeoutAutoscroll(this.timeout)
      }
    },
    /**
     * Drag 관련 구현 시작
     */
    addDragClass($elem) {
      var dragClassName = this.getClassName('is-drag')
      $elem.addClass(dragClassName)
    },
    removeDragClass($elem, dragOutInverval = false) {
      if (typeof dragOutInverval === 'number') {
        var dragOutClassName = this.getClassName('is-dragout')
        $elem.addClass(dragOutClassName)
        setTimeout(function() {
          $elem.removeClass(dragOutClassName)
        }, dragOutInverval)
      }

      var dragClassName = this.getClassName('is-drag')
      $elem.hasClass(dragClassName) && $elem.removeClass(dragClassName)
    },
    /**
     * 트랙 드래그를 시작합니다.
     *
     * autoplay를 막고, `is-drag` 클래스를 추가합니다.
     */
    startTrackDrag(e) {
      this.initTrackDrag(e)

      // 현재 위치에서 트랙을 멈춘다
      this.stopTrack()

      // drag 클래스를 추가한다. (애니메이션을 멈추는 효과)
      var track = this.getElement('track')
      this.addDragClass(track)

      // 자동플래이 정지
      this.autoplayFlag = false

      // drag 관련 데이터 입력
      this.isDrag = true
      this.dragData.startX = e.clientX || e.pageX
      this.dragData.startY = e.clientY || e.pageY
      this.dragData.translateX = this.getTrackTranslateX()
    },
    /**
     * 트랙 드래그를 종료합니다.
     * 현재 이동한 만큼 트랙을 옮길 것인지 아닌지를 판단합니다.
     * 만약 트랙을 옮기게 된다면, 새로운 transition 을 적용하기 위해서
     * `is-dragout` 클래스가 잠시동안 추가됩니다.
     *
     * `is-drag` 클래스는 삭제됩니다.
     */
    stopTrackDrag(e) {
      // drag 관련 데이터 설정
      this.isDrag = false
      this.dragData.stopX = e.clientX || e.pageX
      this.dragData.stopY = e.clientY || e.pageY

      // drag 클래스를 제거한다. (애니며이션을 사용하는 효과)
      var track = this.getElement('track')
      this.removeDragClass(track, 500)

      // 최소 작동하는 pixel 거리
      var triggerPixel = this.$device.isMobile ? 40 : 100

      // track을 move할 경우 자동 스크롤을 사용함
      this.ignoreAutoscrollFlag = false

      if (this.vertical) {
      } else {
        if (this.dragData.stopX - this.dragData.startX > triggerPixel) {
          this.isFirstIndex
            ? this.moveTrack(this.dataIndex)
            : this.movePrevTrack()
        } else if (this.dragData.stopX - this.dragData.startX < -triggerPixel) {
          this.isLastIndex
            ? this.moveTrack(this.dataIndex)
            : this.moveNextTrack()
        } else {
          this.moveTrack(this.dataIndex)
        }
      }

      // 잠시 autoplay를 정지
      this.ignoreAutoplay()
      this.initTrackDrag(e)
    },
    /**
     * 트랙을 드래그 중일 때 트랙의 이동을 담당합니다.
     */
    draggingTrack(e) {
      if (this.isDrag) {
        var track = this.getElement('track')
        var posX = this.dragData.translateX
        var diffX = (e.clientX || e.pageX) - this.dragData.startX

        if (this.vertical) {
          // 구현해야함
        } else {
          if (diffX > 0) {
            // right
            if (this.isFirstIndex) {
              diffX = diffX / 3
            }
          } else {
            // left
            if (this.isLastIndex) {
              diffX = diffX / 3
            }
          }
          var value = diffX + posX
          track.css('transform', 'translateX(' + value + 'px)')
        }
      }
    },
    arrowAction(e, pos) {
      // 잠시 autoplay 중지
      this.ignoreAutoplay()
      if (pos == 'prev') {
        this.movePrevTrack()
      } else {
        this.moveNextTrack()
      }
    },
    showOrHideArrow(state) {
      if (this.useArrow) {
        if (this.alwaysShowArrow) {
          this.showArrow = true
        } else {
          this.showArrow = state
        }
      }
    },
    /**
     * 트랙을 초기화합니다.
     *
     * autoplay를 기존 설정에 맞게 재설정합니다.
     */
    initTrackDrag(e) {
      var track = this.getElement('track')
      this.removeDragClass(track)

      // 자동플레이 설정에 맞게 재설정
      this.autoplayFlag = this.autoplay

      this.isDrag = false
      this.dragData = {}
    },
    updateArrowHoverState(pos, state) {
      if (pos == 'prev') {
        this.arrowPrevHoverState = state
      } else {
        this.arrowNextHoverState = state
      }
    },
    handleMouseDown(e) {
      this.startTrackDrag(e)
    },
    handleMouseUp(e) {
      this.stopTrackDrag(e)
    },
    handleMouseMove(e) {
      this.draggingTrack(e)
    },
    handleMouseLeave(e) {
      this.stopTrackDrag(e)
    },
    handleArrowPrevClick(e) {
      this.arrowAction(e, 'prev')
    },
    handleArrowNextClick(e) {
      this.arrowAction(e, 'next')
    },
    handleCarouselMouseEnter(e) {
      this.showOrHideArrow(true)
    },
    handleCarouselMouseLeave(e) {
      this.showOrHideArrow(false)
    }
  }
}
</script>

<style module>
.carousel {
}
.carousel--vertical {
}
.carousel--maximum {
}

.carousel__arrow {
}
.carousel__arrow--left {
}
.carousel__arrow--right {
}
.carousel__arrow--top {
}
.carousel__arrow--bottom {
}
.carousel__arrow-next {
}
.carousel__arrow-prev {
}

.carousel__showcase {
}
.carousel__showcase-track {
}
.carousel__showcase-content {
}

.carousel__indicator {
}
.carousel__indicator-container {
}
.carousel__indicator-selector {
}

.carousel__indicator--default {
}
.carousel__indicator--dash {
}
.carousel__indicator--belt {
}
.carousel__indicator--dot {
}

.carousel__indicator--top {
}
.carousel__indicator--bottom {
}
.carousel__indicator--left {
}
.carousel__indicator--right {
}

.carousel__indicator--inside {
}

.btn {
}

.is-active {
}

.is-drag {
}

.is-dragout {
}
</style>
