<template>
  <div :class="getClasses('jumbotron')">
    <base-carousel
      :count="items.length"
      :autoplay="autoplay"
      indicator="bottom"
    >
      <div
        v-for="(item, index) in items"
        :class="getClasses('wrapper', item.name)"
        :key="index"
        :slot="'content-'+(index+1)"
        :style="'background-image:url('+item.image+')'">
        <div :class="getClasses('content')">
          <div :class="getClasses('header')">
            <span :class="getClasses('status', item.status)">{{ item.status }}</span>
            <span :class="getClasses('status-desc', item.statusDesc)">{{ item.statusDesc }}</span>
          </div>
          <div :class="getClasses('title')">
            <span>{{ item.title }}</span>
          </div>
          <div :class="getClasses('desc')">
            <span>{{ item.desc }}</span>
          </div>
          <div :class="getClasses('data')">
            <ruby
              v-for="(value, key) in item.data">
              <span :class="getClasses('data-value')">{{ value }}</span>
              <rp>(</rp>
              <rt><span :class="getClasses('data-key')">{{ key }}</span></rt>
              <rp>)</rp>
            </ruby>
          </div>
          <div :class="getClasses('buttons')">
            <a
              v-for="(btn, i) in item.buttons"
              :href="btn.link">
              <base-button :text="btn.text" />
            </a>
          </div>
        </div>
      </div>
      <div
        v-for="(item, index) in items"
        :class="getClasses('wrapper', item.name)"
        :key="index"
        :slot="'selector-'+(index+1)">
        <div :class="getClasses('content')">
          <div :class="getClasses('header')">
            <span :class="getClasses('status', item.status)">
              {{ item.status }}
            </span>
          </div>
          <div :class="getClasses('title')">
            <span>{{ item.title }}</span>
          </div>
          <div :class="getClasses('desc')">
            <span>{{ item.desc }}</span>
          </div>
        </div>
      </div>
    </base-carousel>
  </div>
</template>

<script>
import BaseCarousel from '~/components/carousels/Base'
import BaseButton from '~/components/buttons/Base'
/**
 * JumbotronCarousel
 * @vuedoc
 * @classdesc 메인 카로우셀
 * @property {Array} items
 * @property {String} item.name - 아이템 이름(class 이름으로 들어감)
 * @property {String} item.title - 타이틀
 * @property {String} item.desc - 설명
 * @property {String} item.type - 타입
 * @property {String} item.status - 상태
 * @property {String} item.statusDesc - 상태 설명
 * @property {Array} item.buttons - 버튼
 * @property {String} item.buttons.text - 버튼 이름
 * @property {String} item.buttons.link - 버튼 링크
 * @property {Array} item.tags - 태그
 * @property {Object} item.data - 데이터 정보(key - value)
 * @exports carousel/Jumbotron
 */
export default {
  name: 'CarouselJumbotron',
  components: { BaseCarousel, BaseButton },
  props: {
    autoplay: {
      type: Boolean,
      default: true
    },
    items: {
      type: Array,
      default: function() {}
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'jumbotron':
          classes[this.$style['carousel-jumbotron']] = true
          break
        case 'wrapper':
          classes[this.$style['carousel-jumbotron__wrapper']] = true
          if (typeof arg === 'string')
            classes[
              this.$style['carousel-jumbotron__wrapper--' + arg.toLowerCase()]
            ] = true
          break
        case 'content':
          classes[this.$style['carousel-jumbotron__content']] = true
          break
        case 'header':
          classes[this.$style['carousel-jumbotron__header']] = true
          break
        case 'status':
          classes[this.$style['carousel-jumbotron__status']] = true
          if (typeof arg === 'string')
            classes[
              this.$style['carousel-jumbotron__status--' + arg.toLowerCase()]
            ] = true
          break
        case 'status-desc':
          classes[this.$style['carousel-jumbotron__status-desc']] = true
          classes[this.$style['has-content']] = arg == true
          break
        case 'title':
          classes[this.$style['carousel-jumbotron__title']] = true
          break
        case 'desc':
          classes[this.$style['carousel-jumbotron__desc']] = true
          break
        case 'data':
          classes[this.$style['carousel-jumbotron__data']] = true
          break
        case 'data-key':
          classes[this.$style['carousel-jumbotron__data-key']] = true
          break
        case 'data-value':
          classes[this.$style['carousel-jumbotron__data-value']] = true
          break
        case 'buttons':
          classes[this.$style['carousel-jumbotron__buttons']] = true
          break
        case 'has-content':
          classes[this.$style['has-content']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.carousel-jumbotron {
}
.carousel-jumbotron__wrapper {
}
.carousel-jumbotron__content {
}
.carousel-jumbotron__header {
}
.carousel-jumbotron__status {
}
.carousel-jumbotron__status-desc {
}
.carousel-jumbotron__title {
}
.carousel-jumbotron__desc {
}
.carousel-jumbotron__data {
}
.carousel-jumbotron__data-key {
}
.carousel-jumbotron__data-value {
}
.carousel-jumbotron__buttons {
}

.carousel-jumbotron__wrapper--open {
}
.carousel-jumbotron__wrapper--new {
}
.carousel-jumbotron__wrapper--notice {
}
.carousel-jumbotron__wrapper--event {
}
.carousel-jumbotron__wrapper--funding {
}
.carousel-jumbotron__wrapper--complete {
}

.carousel-jumbotron__status--open {
}
.carousel-jumbotron__status--new {
}
.carousel-jumbotron__status--notice {
}
.carousel-jumbotron__status--event {
}
.carousel-jumbotron__status--funding {
}
.carousel-jumbotron__status--complete {
}

.has-content {
}
</style>
