<template>
  <div :class="getClasses('jumbotron')">
    <base-carousel
      :count="items.length"
      :autoplay="autoplay"
      :interval="interval"
      :use-arrow="useArrow"
      indicator="bottom"
      indicator-type="dash"
      style="height:100%;"
    >
      <div
        v-for="(item, index) in items"
        :class="getClasses('wrapper', item.name)"
        :key="index"
        :slot="'content-'+(index+1)"
        :style="'background-image:url('+item.image+')'">
        <div :class="getClasses('content')">
          <div :class="getClasses('title')">
            <span>{{ item.title }}</span>
          </div>
        </div>
      </div>
    </base-carousel>
  </div>
</template>

<script>
import BaseCarousel from '~/components/carousels/Base'
import BaseIndicator from '~/components/indicators/Base'
/**
 * ThumbnailCarousel
 * @vuedoc
 * @classdesc 썸네일 카로우셀
 * @property {Array} items
 * @property {String} item.name - 아이템 이름(class 이름으로 들어감)
 * @property {String} item.title - 타이틀
 * @property {String} item.desc - 설명
 * @property {String} item.type - 타입
 * @property {String} item.status - 상태
 * @property {String} item.statusDesc - 상태 설명
 * @property {Array} item.buttons - 버튼
 * @property {String} item.buttons.text - 버튼 이름
 * @property {String} item.buttons.link - 버튼 링크
 * @property {Array} item.tags - 태그
 * @property {Object} item.data - 데이터 정보(key - value)
 * @exports carousel/Thumbnail
 */
export default {
  name: 'ThumbnailCarousel',
  components: { BaseCarousel, BaseIndicator },
  props: {
    autoplay: {
      type: Boolean,
      default: true
    },
    interval: {
      type: Number,
      default: 2000
    },
    items: {
      type: Array,
      default: function() {}
    },
    useArrow: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'jumbotron':
          classes[this.$style['thumbnail-carousel']] = true
          break
        case 'wrapper':
          classes[this.$style['thumbnail-carousel__wrapper']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.thumbnail-carousel {
}
.thumbnail-carousel__wrapper {
}
.thumbnail-carousel__content {
}
.thumbnail-carousel__title {
}
</style>
