// ==========================================================================
// Header
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================
@mixin header-link-text-style() {
  .tabbar__item--link {
    position: relative;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.3), 0px 0px 3px rgba(255,255,255,0.6), 0px 0px 2px rgba(0,0,0,0.4);

    a {
      color: $header-link-text-color;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -2px;
        z-index: -1;

        width: 0px;
        height: 2px;

        border-radius: 3px;

        background-color: $header-link-text-border-effect-color;

        @include transition-duration(.2s);
        @include transition-property(all);
        @include transition-timing-function(ease-out);
      }

      &:hover {
        color: $header-link-text-hover-color;

        &::after {
          left: 0px;
          width: 100%;
          background-color: $header-link-text-border-effect-hover-color;
        }
      }

      // link 객체가 선택되었을 경우
      &.is-selected {
        color: $header-link-text-selected-color;

        &::after {
          left: 0px;
          width: 100%;

          background-color: $header-link-text-selected-border-effect-color;
        }

        &:hover {
          color: $header-link-text-selected-hover-color;

          &::after {
            background-color: $header-link-text-selected-border-effect-hover-color;
          }
        }
      }
    }
  }
}
@mixin header-fixed-link-text-style() {
  .tabbar__item--link {
    @include a-color($header-fixed-link-text-color, $header-fixed-link-text-hover-color);
    text-shadow: 0px 0px 1px rgba(255,255,255,0.1), 0px 0px 3px rgba(255,255,255,0.1), 0px 0px 2px rgba(0,0,0,0.1);

    a {
      color: $header-fixed-link-text-color;

      &::after {
        background-color: $header-fixed-link-text-border-effect-color;
      }

      &:hover {
        color: $header-fixed-link-text-hover-color;

        &::after {
          background-color: $header-fixed-link-text-border-effect-hover-color;
        }
      }

      // link 객체가 선택되었을 경우
      &.is-selected {
        color: $header-fixed-link-text-selected-color;

        &::after {
          background-color: $header-fixed-link-text-selected-border-effect-color;
        }

        &:hover {
          color: $header-fixed-link-text-selected-hover-color;

          &::after {
            background-color: $header-fixed-link-text-selected-border-effect-hover-color;
          }
        }
      }
    }
  }
}

@mixin header-dropdown-style() {
  .dropdown {
    &__trigger {
      color: $header-dropdown-text-color;
    }
    &__menu {
      li {
        &:hover {
          background-color: $header-dropdown-menu-bg-hover-color;
        }
      }
    }
    &.is-visible {
      .dropdown__trigger {
        color: $header-dropdown-text-hover-color;
      }
    }
  }
  .tabbar {
    &__left {
      .dropdown {
        margin-left: -15px;
      }
    }
  }
}
@mixin header-fixed-dropdown-style() {
  .dropdown {
    &__trigger {
      color: $header-fixed-dropdown-text-color;
    }
    &__menu {
      li {
        &:hover {
          background-color: $header-fixed-dropdown-menu-bg-hover-color;
        }
      }
    }
    &.is-visible {
      .dropdown__trigger {
        color: $header-fixed-dropdown-text-hover-color;
      }
    }
  }
  .tabbar {
    &__left {
      .dropdown {
        margin-left: -15px;
      }
    }
  }
}

@mixin header-btn-style () {
  .btn {
    color: $header-btn-text-color;
    background-color: $header-btn-bg-color;
    border: 1px solid $header-btn-border-color;

    &:hover {
      color: $header-btn-text-hover-color;
      background-color: $header-btn-bg-hover-color;
      border: 1px solid $header-btn-border-hover-color;
    }
  }
}
@mixin header-fixed-btn-style () {
  .btn {
    color: $header-fixed-btn-text-color;
    background-color: $header-fixed-btn-bg-color;
    border: 1px solid $header-fixed-btn-border-color;

    &:hover {
      color: $header-fixed-btn-text-hover-color;
      background-color: $header-fixed-btn-bg-hover-color;
      border: 1px solid $header-fixed-btn-border-hover-color;
    }
  }
}
@mixin header-signup-style () {
  .signup-btn {
    color: $header-signup-color;
    background-color: $header-signup-bg-color;
    border: 1px solid $header-signup-border-color;

    &:hover {
      color: $header-signup-hover-color;
      background-color: $header-signup-bg-hover-color;
      border: 1px solid $header-signup-border-hover-color;
    }
  }
}
@mixin header-fixed-signup-style () {
  .signup-btn {
    color: $header-fixed-signup-color;
    background-color: $header-fixed-signup-bg-color;
    border: 1px solid $header-fixed-signup-border-color;

    &:hover {
      color: $header-fixed-signup-hover-color;
      background-color: $header-fixed-signup-bg-hover-color;
      border: 1px solid $header-fixed-signup-border-hover-color;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: $header-z-index;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;

  @include transition-duration($header-transition-duration);
  @include transition-property(all);
  @include transition-timing-function(ease-in);

  @include header-link-text-style();
  @include header-dropdown-style();
  @include header-btn-style();
  @include header-signup-style();

  @include browser("ie9") {
    display: table;
  }

  &--space {
    position: relative;
  }

  &.is-top {
    position: absolute;

    &::after {
      left: 0;
      top: 0;
      position: fixed;
      z-index: $header-gradient-z-index;

      content: "";
      width: 100%;

      height: 120px;

      @include header-bg;
    }
  }

  .tabbar {

    &__item {
      margin: 0px;

    }

    .logo {
      margin-right: 12px;

      color: $header-link-text-color;
    }
  }

}


@include media(">tablet") {
  .header {
    height: 81px;

    .tabbar {

      &__item {
        font-size: 17px;
      }

      .logo {
        margin-right: 34px;
      }

      .btn {
        padding: 10px 14px;
        margin: 0px 6px;
      }

      .dropdown {
        margin: 0px;
      }
    }
  }
}
@include media("tablet") {
  .header {
    height: 51px;

    .tabbar {
      &__item {
        font-size: 15px;
      }

      .logo {
        margin-right: 22px;
      }

      .btn {
        padding: 8px 12px;
        margin: 0px 3px;
      }

      .dropdown {
        margin: 0px;
      }
    }

    &.is-top::after {
      height: 80px;
    }
  }
}
@include media("mobile") {
  .header {
    height: 46px;

    &.is-top::after {
      height: 60px;
    }

    .tabbar {
      .dropdown {
        display: none;
      }

      .btn {
        margin-left: 5px;
      }
    }
  }
}

.header.is-fixed {
  @include header-fixed-bg;

  box-shadow: 0px 1px 1px 1px $header-fixed-shadow-color;

  @include header-fixed-link-text-style();
  @include header-fixed-dropdown-style();
  @include header-fixed-btn-style();
  @include header-fixed-signup-style();

  .header--space {
    position: relative;
  }

  .tabbar {
    .logo {
      color: $header-fixed-link-text-hover-color;
    }
  }
}

.header--theme {
  $b: '.header';

  &-black {
    @include header-fixed-link-text-style();
    @include header-fixed-dropdown-style();
    @include header-fixed-btn-style();
    @include header-fixed-signup-style();

    .tabbar {
      .logo {
        color: $header-fixed-link-text-hover-color;
      }
    }

    &.is-top {
      &:after {
        content: initial;
      }
    }
  }

  &-dark {
    /**/
  }

  &-light {
    /**/
  }

  &-white {
    /**/
  }
}
