@keyframes raise {
  0% {
    top: 10px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  75% {
    top: 0px;
    opacity: 1;
  }
  95% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 0;
  }
}

.animate-raise {
  position: relative;

  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-name: raise;
  animation-timing-function: ease;
}
