.text {
  &--xs {
    font-size: 0.5em;
  }

  &--s {
    font-size: 0.8em;
  }

  &--m {
    font-size: 1.1em;
  }

  &--l {
    font-size: 1.4em;
  }

  &--xl {
    font-size: 1.7em;
  }

  &--xxl {
    font-size: 2em;
  }
}

.underline {
  &--bend {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 40%;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 70%;
      background-color: rgba(30, 30, 30, 0.4);
    }
  }
}

.color {
  &--theme {
    color: $theme-color;
  }
}
