// mixin 에서 사용하기 위한 함수들

@function first($list, $next: 0) {
  @return nth($list, 1 + $next);
}

@function last($list, $prev: 0) {

  @return nth($list, length($list)-$prev);
}

@function isClass($selector) {
  $elem: last($selector);
  @if ($elem == null) {
    @return false;
  }
  @if str-slice($elem, 0, 1) == '.' {
    @return true;
  }
  @return false;

}
