@mixin browser($name) {
  @if $name == 'ff' {
    @-moz-document url-prefix() { @content; }
  } @else if $name == 'ie10' {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
    }
  } @else if $name == 'ie9' {
    @media all and (min-width:0\0) and (min-resolution: .001dpcm) { @content; }
  } @else if $name == 'ie8' {
    @media \0screen { @content; }
  } @else if $name == 'ie' {
    @media screen and (min-width:0\0) { @content; }
  }
}
