@import './functions';

@import './mixins_browser';
@import './mixins_bem';

@mixin a-color ($color, $hover-color) {
  a {
    color: $color;
    &:hover {
      color: $hover-color;
    }
  }
}

@mixin user-select($user-select...) {
  -webkit-user-select: $user-select;
  -khtml-user-select: $user-select;
  -moz-user-select: $user-select;
  -o-user-select: $user-select;
  user-select: $user-select;
}

@mixin appearance($arg) {
  -webkit-appearance: $arg;
  -moz-appearance: $arg;
  appearance: $arg;
}

@mixin only-desktop () { // touchstart 없는 hover
  @media not all and (hover: none), (-ms-high-contrast: none) {
    @content;
  }
}

@function translate-device-condition($c) {
  $cond-map: (
  "mobile": ".is-mobile",
  "tablet": ".is-tablet",
  "desktop": ".is-not-mobile"
);
  @return map-get( $cond-map, $c );
}

@function translate-browser-condition($c) {
  $cond-map: (
  "ff": ".firefox",
  "chrome": ".chrome",
  "opera": ".opera",
  "edge": ".edge",
  "ie": ".ie",
  "ie11": ".ie--11",
  "ie10": ".ie--10",
  "ie9": ".ie--9"
);
  @return map-get( $cond-map, $c );
}

@function translate-os-condition($c) {
  $cond-map: (
  "ios": ".ios",
  "mac": ".mac-os",
  "windows": ".windows"
);
  @return map-get( $cond-map, $c );
}

@mixin at-device ($name) { // at-root
  $query: translate-device-condition($name);
  $selectors: ();
  @each $selector in & {
    $selectors: append($selectors, html#{$query} #{$selector}, comma);
  }
  @at-root #{$selectors} { @content; }
}

@mixin at-browser ($name) { // at-root
  $query: translate-browser-condition($name);
  $selectors: ();
  @each $selector in & {
    $selectors: append($selectors, html#{$query} #{$selector}, comma);
  }
  @at-root #{$selectors} { @content; }
}

@mixin at-os ($name) { // at-root
  $query: translate-os-condition($name);
  $selectors: ();
  @each $selector in & {
    $selectors: append($selectors, html#{$query} #{$selector}, comma);
  }
  @at-root #{$selectors} { @content; }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-duration:    $duration;
  -o-transition-duration:      $duration;
  -webkit-transition-duration: $duration;
  transition-duration:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	@include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Media
// ==========================================================================
$media-max-desktop-width: $desktop-max-width;
$media-max-mobile-width: $mobile-max-width;
$media-max-tablet-width: $tablet-max-width;
$media-max-tablet-small-width: $tablet-small-max-width;
$media-max-tablet-middle-width: $tablet-middle-max-width;
$media-max-tablet-large-width: $tablet-large-max-width;

@function translate-media-condition($c) {
  $cond-map: (
  "screen": "only screen",
  "print": "only print",
  "retina": "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
  "wide": "(min-width: #{$media-max-desktop-width + 1})",
  "desktop": "(min-width: #{$media-max-tablet-width + 1}) and (max-width: #{$media-max-desktop-width})",
  "tablet-l": "(min-width: #{$media-max-tablet-middle-width + 1}) and (max-width: #{$media-max-tablet-large-width})",
  "tablet-m": "(min-width: #{$media-max-tablet-small-width + 1}) and (max-width: #{$media-max-tablet-middle-width})",
  "tablet-s": "(min-width: #{$media-max-mobile-width + 1}) and (max-width: #{$media-max-tablet-small-width})",
  "tablet": "(min-width: #{$media-max-mobile-width + 1}) and (max-width: #{$media-max-tablet-width})",
  "mobile": "(max-width: #{$media-max-mobile-width})",

  ">desktop": "(min-width: #{$media-max-desktop-width + 1})",
  "<desktop": "(max-width: #{$media-max-desktop-width})",
  ">tablet-l": "(min-width: #{$media-max-tablet-large-width} + 1)",
  "<tablet-l": "(max-width: #{$media-max-tablet-large-width})",
  ">tablet-m": "(min-width: #{$media-max-tablet-middle-width} + 1)",
  "<tablet-m": "(max-width: #{$media-max-tablet-middle-width})",
  ">tablet-s": "(min-width: #{$media-max-tablet-small-width} + 1)",
  "<tablet-s": "(max-width: #{$media-max-tablet-small-width})",
  ">tablet": "(min-width: #{$media-max-tablet-width + 1})",
  "<tablet": "(max-width: #{$media-max-tablet-width})",
  ">mobile": "(min-width: #{$media-max-mobile-width + 1})",
  "<mobile": "(max-width: #{$media-max-mobile-width})"
);
  @return map-get( $cond-map, $c );
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ( $query != "" ) {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query}  { @content; }
}
