// ==========================================================================
// BEM Mixins - BEM 믹스인
//
// Copyright (c) 2019 Founding inc.
//
// b -> block을 만든다.
// e -> element를 만든다. (여러 이름 지원 ',')
// m -> modifier를 만든다. (여러 이름 지원 ',')
// s -> state를 만든다.
//
// e(element) 로직
// 엘리먼트는 바로 위의 부모 클래스의 블록 값을 이용하여 만들어진다.
// 엘리먼트의 자식으로 엘리먼트가 될 수 없고, 수식어(modifier) 클래스가 부모 클래스로 올 수 없다.
//
// m(modifier) 로직
// 수식어는 모든 부모에 추가될 수 있다.
//
// 함수 이름 구조 설명
//
// 함수는 b, e, m, s 등이 있으며, 각 기능별 특징에 따라 이름 형태가 변한다.
// __f : force 기능으로 selector를 이용하여 이름이 추가된다.
//
// 모든 함수는 기본적으로 상위 클래스의 descendant 관계로 되어있다.
// -c : direct child를 뜻하며 CSS 선택자 '>' 가 추가된다.
// -a : adjacent sibling을 뜻하며 CSS 선택자 '+' 가 추가된다.
// -s : sibling을 뜻하며 CSS 선택자 '~' 가 추가된다.
// -m : multiple class를 뜻하며 여러 클래스를 붙히고 싶을 때 사용한다.
//
// ! mixin에서는 '_' 와 '-' 를 구분하지 않으므로, 형식상 __ , - 를 사용하는데 modifier를 두개가 아닌 하나의 '-' 로 사용함
// ==========================================================================

$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is';

@function selectorToString($selector) {
  $selector: inspect($selector); //cast to string
  // $selector: str-slice($selector, 2, -2); //remove bracket

  @return $selector;
}

/**
 * BEM Element 존재 여부 확인
 */
@function containsElement($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, $element-separator) {
    @return true;
  }
  @else {
    @return false;
  }
}

/**
 * BEM Modifier 존재 여부 확인
 */
@function containsModifier($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, $modifier-separator) {
    @return true;
  }
  @else {
    @return false;
  }
}

/**
 * :hover, :active, :focus, .. 확인
 */
@function containsPseudoClass ($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, ':') {
    @return true;
  }
  @else {
    @return false;
  }
}

/**
 * a[href="https://example.com"] 존재 여부 확인
 */
@function containsAttribute ($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, '[') {
    @return true;
  }
  @else {
    @return false;
  }
}

/**
 * $selector 에서 block을 가져온다. element, modifier 제거됨
 */
@function getBlock($selector) {
  $selector: selectorToString($selector);

  @if not (containsElement($selector)
           or containsModifier($selector)
           or containsPseudoClass($selector)
           or containsAttribute($selector)) {
    @return $selector;
  }

  // element, modifier, pseudoclass, attribute 중 가장 앞에있는 부분을 제거하여 block 추출
  $index: str-length($selector);
  @if containsElement($selector) {
    $index: str-index($selector, $element-separator);
  }

  @if containsModifier($selector) {
    $tmpIndex: str-index($selector, $modifier-separator);
    @if ($tmpIndex < $index) {
      $index: $tmpIndex;
    }
  }

  @if containsPseudoClass($selector) {
    $tmpIndex: str-index($selector, ':');
    @if ($tmpIndex < $index) {
      $index: $tmpIndex;
    }
  }

  @if containsAttribute($selector) {
    $tmpIndex: str-index($selector, '[');
    @if ($tmpIndex < $index) {
      $index: $tmpIndex;
    }
  }

  @return str-slice($selector, 0, $index - 1);

}

@function getDelimiter($str) {
  $del: str-slice($str, 0, 1);
  @if not ($del == '>'
           or $del == '+'
           or $del == '~'
           or $del == ' '
           or $del == '&') {
    @return null;
  }
  @return $del;
}

@function getCssDelimiter($func-delimiter) {
  @if $func-delimiter == 'c' {
    // child
    @return '>';
  }
  @else if $func-delimiter == 'a' {
    // adjacent sibling
    @return '+';
  }
  @else if $func-delimiter == 's' {
    // sibling
    @return '~';
  }
  @else if $func-delimiter == 'm' {
    // multiple
    @return '&';
  }
  @else {
    @return '';
  }
}

@mixin b($block) {
  .#{$block} {
    @content;
  }
}

/**
 * Element 입력
 * Multiple selector 지원
 */
@mixin e($elements...) {
  $selectors: ();

  @each $selector in & {
    $block: getBlock(last($selector));
    @if isClass($block) == false {
      @error "BEM: block should be a class name."
    }
    @each $elem in $elements {

      @if inspect($selector) == $block {
        $selectors: append($selectors, #{$block+$element-separator+$elem}, comma);
      }
      @else {
        $selectors: append($selectors, #{$selector} #{$block+$element-separator+$elem}, comma);
      }
    }
  }

  @at-root {
    #{$selectors} {
      @content;
    }
  }
}

/**
 * Modifier 입력
 * Multiple selector 지원
 */
@mixin m($modifiers...) {
  $selectors: ();
  @each $selector in & {
    @each $mod in $modifiers { // modifier 루프
      $selectors: append($selectors, #{$selector+$modifier-separator+$mod}, comma);
    }
  }

  // 결과
  @at-root {
    #{$selectors} {
      @content;
    }
  }
}

/**
 * m(modifier) force
 * $selector를 이용해 강제로 modifier를 생성한다
 */
@mixin _m__f ($delimiter, $selector, $modifiers...) {
  $selectors: ();
  @each $mod in $modifiers { // modifier 루프
    $selectors: append($selectors, #{$selector+$modifier-separator+$mod}, comma);
  }

  #{getCssDelimiter($delimiter)}#{$selectors} {
    @content;
  }
}

@mixin m__f ($selector, $modifiers...) {
  @include _m__f('', $selector, $modifiers...) {
    @content;
  }
}
@mixin m__f-c ($selector, $modifiers...) {
  @include _m__f('c', $selector, $modifiers...) {
    @content;
  }
}
@mixin m__f-a ($selector, $modifiers...) {
  @include _m__f('a', $selector, $modifiers...) {
    @content;
  }
}
@mixin m__f-s ($selector, $modifiers...) {
  @include _m__f('s', $selector, $modifiers...) {
    @content;
  }
}
@mixin m__f-m ($selector, $modifiers...) {
  @include _m__f('m', $selector, $modifiers...) {
    @content;
  }
}

@mixin s($state, $prefix: $state-prefix) {
  @at-root {
    &.#{$prefix}-#{$state} {
      // @content;
    }
  }
}
