@import './reset-antd';

body {
  background-color: $body-bg;
}

ul {
  padding: 0px;
  margin: 0px;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: initial;
}
a:active,
a:visited,
a:focus {
  text-decoration: none;
  underline: none;
}
a {
  @include transition-duration(0.2s);
  @include transition-property(all);
  @include transition-timing-function(ease-in);
}

svg {
  width: 1em;
  height: 1em;

  fill: currentColor;

  aria-hidden: true;
}

::selection {
  background: $blue-color;
}
