.tooltip {
}

.tooltip--effect-box {
  $b: '.tooltip';

  $item-color: $theme-color;
  $text-color: #888;
  $bg-color: #fff;
  $border-color: $theme-color-black;
  $border-size: 40px;
  $width: 250px;

  display: inline;
  position: relative;
  z-index: 999;
  #{$b} {
    &__item {
      position: relative;
      z-index: 100;

      display: inline-block;

      color: $item-color;

      font-weight: 700;

      cursor: pointer;

      @include transition(background-color 0.3s, color 0.3s, transform 0.3s);
    }

    &__content {
      position: absolute;
      left: 50%;
      bottom: -5px;
      z-index: 99;

      opacity: 0;

      width: $width;
      padding: 1.5em;
      margin-left: -$width/2;
      border: 1px solid $border-color;
      border-bottom: $border-size solid $border-color;
      border-radius: 5px;
      box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);

      color: $text-color;
      background: $bg-color;

      font-size: .95em;
      line-height: 1.5;

      pointer-events: none;
      text-align: left;

      @include transform(translate3d(0,-0.5em,0));
      @include transition(opacity 0.3s, transform 0.3s);
    }

    &__text {
      opacity: 0;

      @include transform(translate3d(0,1.5em,0));
      @include transition(opacity 0.3s, transform 0.3s);

      h5 {
        font-size: 1.1em;
        text-decoration: underline;
        text-align: center;
      }
    }
  }
  &#{$b} { // selector 전용
    &:hover {
      #{$b} {
        &__item {
          color: #fff;

          @include transform(translate3d(0,-0.5em,0));
        }
        &__content,
        &__text {
          pointer-events: auto;
          opacity: 1;

          @include transform(translate3d(0,0,0));
        }

      }
    }
  }
}
