<template>
  <div :class="getClasses('main')">
    <column-summary-section
      :base="base"
      :border-colors="['transparent']"
      :border-width="innerMargin"
      type="rect"
    >
      <metro-button
        v-for="(item, i) in items"
        :key="i"
        :style="{alignSelf: 'normal', width: '100%'}"
        :class="getClasses('elem')"
        type="complex"
        @click="handleMetroButtonClick(item.link)"
      >
        <div :class="getClasses('title-icon')">
          <base-icon
            :type="item.icon"
            theme="fnd"/>
        </div>
        <div :class="getClasses('title')">
          <div :class="getClasses('title-text')">
            {{ item.title }}
          </div>
        </div>
        <div :class="getClasses('info')">
          <div :class="getClasses('info-text')">{{ item.info }}</div>
          <div :class="getClasses('info-icon')">
            <base-icon
              theme="fnd"
              type="right-arrow"/>
          </div>
        </div>
      </metro-button>
    </column-summary-section>
  </div>
</template>

<script>
import ColumnSummarySection from '~/components/sections/ColumnSummary.vue'
import MetroButton from '~/components/buttons/Metro.vue'
import BaseIcon from '~/components/icons/Base.vue'

/**
 * ColumnSummaryMetroButtonSection
 * @vuedoc
 * @classdesc
 * @exports sections/ColumnSummaryMetroButton
 */
export default {
  name: 'ColumnSummaryMetroButtonSection',
  components: { ColumnSummarySection, MetroButton, BaseIcon },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    theme: {
      type: String,
      default: 'default'
    },
    base: {
      type: Number,
      default: 2
    },
    innerMargin: {
      type: String,
      default: '15px'
    }
  },
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  created() {},
  destoryed() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'main':
          classes[this.$style['column-summary-metro-button-section']] = true
          classes[
            this.$style[
              'column-summary-metro-button-section--theme-' + this.theme
            ]
          ] = true
          break
        case 'elem':
          classes[
            this.$style['column-summary-metro-button-section__elem']
          ] = true
          break
        case 'title':
          classes[
            this.$style['column-summary-metro-button-section__title']
          ] = true
          break
        case 'title-text':
          classes[
            this.$style['column-summary-metro-button-section__title-text']
          ] = true
          break
        case 'title-icon':
          classes[
            this.$style['column-summary-metro-button-section__title-icon']
          ] = true
          break
        case 'info':
          classes[
            this.$style['column-summary-metro-button-section__info']
          ] = true
          break
        case 'info-text':
          classes[
            this.$style['column-summary-metro-button-section__info-text']
          ] = true
          break
        case 'info-icon':
          classes[
            this.$style['column-summary-metro-button-section__info-icon']
          ] = true
          break
      }
      return classes
    },
    handleMetroButtonClick(link) {
      location.href = link
    }
  }
}
</script>

<style module>
.column-summary-metro-button-section {
}
.column-summary-metro-button-section--theme-default {
}
.column-summary-metro-button-section--theme-blue {
}
.column-summary-metro-button-section--theme-white {
}
.column-summary-metro-button-section__elem {
}
.column-summary-metro-button-section__title {
}
.column-summary-metro-button-section__title-text {
}
.column-summary-metro-button-section__title-icon {
}
.column-summary-metro-button-section__info {
}
.column-summary-metro-button-section__info-text {
}
.column-summary-metro-button-section__info-icon {
}
</style>
