<template>
  <div :class="getClasses('column-summary')">
    <div :class="getClasses('content')">
      <div
        v-for="(vnode, i) in $slots.default"
        v-if="vnode.tag !== undefined"
        :key="i"
        :style="getElemStyle(vnode.key || i)"
        :class="getClasses('elem')">
        <vnodes :vnodes="vnode"/>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * ColumnSummarySection Component
 * @vuedoc
 * @classdesc 칼럼으로 나뉘어진 간략 요약을 나타내는데 쓰인다.
 * 이 컴포넌트는 `v-node` 라는 가상 컴포넌트를 이용해서 `$slots.default`의 vnode들을 동적으로 가져와 렌더링한다.
 * `backgroundColors`, `colors` 프로퍼티를 이용해 각 순서에 맞게 색상을 선택한다.
 *
 * 모바일 : 2 칼럼, 태블릿, 데스크톱 : 4칼럼, 와이드 : 8칼럼
 *
 * ### Tip ###
 * #### slot height 100% ? ####
 * slot에 div를 각 column에 꽉 채우고 싶을 때는 각 엘리먼트에
 * align-self: normal, width: 100% 스타일을 추가하면 된다.
 *
 * #### slot key 설정? ####
 * slot 엘리먼트마다 key를 설정해줘야 더 정확한 index를 추정할 수 있다.
 * index를 정확히 추정이 가능하면 `backgroundColors`, `borderColors` 등 각 index에 맞는 스타일이 제대로 설정이 된다.
 * key는 0부터 시작해야 한다.
 *
 * 이렇게 구현된 이유는 `$slots.default` 에서 `undefined` 로 설정되는 vnode 들이 있기 때문이다.
 *
 * 여러 엘리먼트들은 `v-for`로 생성하는 것을 추천한다.
 *
 * @exports sections/ColumnSummary
 */
export default {
  name: 'ColumnSummarySection',
  components: {
    Vnodes: {
      functional: true,
      render: (h, ctx) => ctx.props.vnodes
    }
  },
  props: {
    type: {
      type: String,
      default: 'none' // 'rect', 'none'
    },
    base: {
      type: Number,
      default: 4 // 2, 4
    },
    height: {
      type: String,
      default: '100px'
    },
    backgroundColors: {
      type: Array,
      default: () => []
    },
    colors: {
      type: Array,
      default: () => []
    },
    borderColors: {
      type: Array,
      default: () => []
    },
    borderWidth: {
      type: String,
      default: undefined
    },
    borderStyle: {
      type: String,
      default: 'solid'
    },
    textAlign: {
      type: String,
      default: 'center'
    }
  },
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  created() {},
  destoryed() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'column-summary':
          classes[this.$style['column-summary-section']] = true
          classes[
            this.$style['column-summary-section--base-' + this.base]
          ] = true
          classes[
            this.$style['column-summary-section--type-' + this.type]
          ] = true
          break
        case 'content':
          classes[this.$style['column-summary-section__content']] = true
          break
        case 'elem':
          classes[this.$style['column-summary-section__elem']] = true
          break
      }
      return classes
    },
    getElemStyle(index) {
      var height = this.type == 'rect' ? 'auto' : this.height
      return {
        height: height,
        backgroundColor: this.backgroundColors[
          index % this.backgroundColors.length || 0
        ],
        color: this.colors[index % this.colors.length || 0],
        borderColor: this.borderColors[index % this.borderColors.length || 0],
        borderWidth: this.borderWidth,
        borderStyle: this.borderStyle,
        textAlign: this.textAlign
      }
    }
  }
}
</script>

<style module>
.column-summary-section {
}
.column-summary-section--base-2 {
}
.column-summary-section--base-4 {
}
.column-summary-section--type-rect {
}
.column-summary-section--type-none {
}
.column-summary-section__content {
}
.column-summary-section__elem {
}
</style>
