<template>
  <div :class="getClasses('subscribe')">
    <span :class="getClasses('title')"><span style="color:#FF5722">기록적인 수익률</span>의 <span
      :class="getClasses('underline-bend')" 
      style="white-space: nowrap">파운딩 투자 상품</span>을 <br> 놓치지 않으려면?</span>
    <div :class="getClasses('input')">
      <email-input
        :result.sync="emailResult"
        placeholder="이메일 주소를 입력해주세요."
        use-icon
        simul
        @onSendClick="handleEmailSendClick"
      />
    </div>
  </div>
</template>

<script>
import EmailInput from '~/components/inputs/Email.vue'

/**
 * SubscribeSection
 * @vuedoc
 * @classdesc 구독 섹션
 * @exports sections/Subscribe
 */
export default {
  name: 'SubscribeSection',
  components: { EmailInput },
  props: {},
  data() {
    return {
      emailResult: {}
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'subscribe':
          classes[this.$style['subscribe-section']] = true
          break
        case 'title':
          classes[this.$style['subscribe-section__title']] = true
          break
        case 'input':
          classes[this.$style['subscribe-section__input']] = true
          break
        case 'underline-bend':
          classes[this.$style['underline--bend']] = true
          classes[this.$style['is-valid']] = this.emailResult.valid
          break
        case 'color-theme':
          classes[this.$style['color--theme']] = true
          break
      }
      return classes
    },
    handleEmailSendClick(e) {}
  }
}
</script>

<style module>
.underline--bend {
}
.underline--bend::after {
  background-color: #555 !important;
}
.is-valid.underline--bend::after {
  background-color: #00a86b !important;
}
.color--theme {
}
.is-valid {
}

.subscribe-section {
}
.subscribe-section__title {
}
.subscribe-section__input {
}
</style>
