<template>
  <i
    v-if="section == 'svg'"
    :class="getClasses('icon', theme, type)"
    v-html="svg"/>
  <object
    v-else-if="section == 'object'"
    :data="'/icons/'+type+'.svg'"
    :class="getClasses('icon', theme, type)"
    type="image/svg+xml"/>
  <i
    v-else-if="section == 'default'"
    :class="getClasses('icon', theme, type)">
    <img :src="'/icons/'+type+'.svg'">
  </i>
</template>

<script>
/**
 * BaseIcon Element
 * @vuedoc
 * @exports icons/Base
 */
export default {
  name: 'BaseIcon',
  props: {
    type: {
      type: String,
      default: ''
    },
    section: {
      type: String,
      default: 'svg'
    },
    theme: {
      type: String,
      default: 'fnd'
    }
  },
  data() {
    return {
      svg: ''
    }
  },
  created() {
    this.svg = this.getSvg(this.theme, this.type)
  },
  methods: {
    getClasses(type, arg1, arg2) {
      var classes = {}
      switch (type) {
        case 'icon':
          classes[this.$style['icon']] = true
          classes[this.$style['icon--' + arg1 + '--' + arg2]] = true
          break
      }
      return classes
    },
    getSvg(theme, type) {
      return require(`../icons/${theme}/${type}.svg`)
    }
  }
}
</script>

<style module>
.icon {
}
.icon--fnd--fb {
}
.icon--fnd--kakao-talk {
}
.icon--fnd--brunch {
}
.icon--fnd--naver-blog {
}
</style>
