<template>
  <div
    v-if="type == 'circle'"
    :class="getClasses('progress')">
    <circle-progress
      :id="id"
      :diameter="size"
      :completed-steps="step"
      :total-steps="totalStep"
      :timing-func="transitionEasing"
      :animate-speed="transitionDuration"
      :linecap="shape"
      :stroke-width="width"
      :start-color="strokeColor"
      :stop-color="strokeEndColor"
      :inner-stroke-color="innerColor"
      :inner-fill-color="innerFillColor"
    >
      <slot/>
  </circle-progress></div>
  <div
    v-else-if="type == 'line'"
    :class="getClasses('progress')">
    <line-progress
      :val="step"
      :max="totalStep"
      :size="width"
      :bar-transition="transitionProperty + ' ' + transitionDuration + 'ms ' + transitionEasing"
      :bg-color="innerColor"
      :bar-color="strokeColor"
      :shape="shape"
      :text-position="textPosition"
    >
      <slot/>
    </line-progress>
  </div>
</template>

  <script>
import CircleProgress from '~/components/progress/Circle.vue'
import LineProgress from '~/components/progress/Line.vue'

/**
 * BaseProgress
 * @vuedoc
 * @classdesc 기본 프로그레스 컴포넌트, 이 컴포넌트를 이용해 line, circle을 생성한다.
 * @exports progress/Base
 */
export default {
  name: 'BaseProgress',
  components: { CircleProgress, LineProgress },
  props: {
    id: {
      type: String, // circle 에서만 사용
      required: false
    },
    type: {
      type: String,
      required: false,
      default: 'line' // line, circle
    },
    size: {
      type: Number,
      required: false,
      default: 200
    },
    totalStep: {
      type: Number,
      required: true,
      default: 10
    },
    currentStep: {
      type: Number,
      required: true,
      default: 10
    },
    width: {
      type: Number,
      required: false,
      default: 10
    },
    transitionEasing: {
      type: String,
      required: false,
      default: 'ease'
    },
    transitionProperty: {
      type: String,
      required: false,
      default: 'all'
    },
    transitionDuration: {
      type: Number,
      required: false,
      default: 700
    },
    shape: {
      type: String,
      required: false,
      default: 'round'
    },
    innerColor: {
      type: String,
      required: false,
      default: '#323232'
    },
    innerFillColor: {
      // circle only
      type: String,
      required: false,
      default: 'gray'
    },
    strokeColor: {
      type: String,
      required: false,
      default: '#2196f3'
    },
    strokeEndColor: {
      // circle only
      type: String,
      required: false,
      default: '#00a86b'
    },
    /**
     * 맨 처음 animate를 할 지 결정(csr 에서만 작동함)
     * false 일 경우 ssr 에서 부터 렌더링 되어서 나옴
     * true 일 경우, javascript가 동작하지 않는 환경에서는 stroke가 그려지지 않음
     */
    initialAnimate: {
      type: Boolean,
      required: false,
      default: true
    },
    textPosition: {
      type: String,
      default: 'inside'
    }
  },
  data() {
    return {
      step: 0
    }
  },
  created() {
    this.initStep()
  },
  methods: {
    initStep() {
      if (this.initialAnimate) {
        if (process.browser) {
          let self = this
          setTimeout(function() {
            self.step = self.currentStep
          }, 300)
        }
      } else {
        this.step = this.currentStep
      }
    },
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'progress':
          classes[this.$style['progress']] = true
          if (this.type == 'line') {
            classes[this.$style['progress--line']] = true
          }
          if (this.type == 'circle') {
            classes[this.$style['progress--circle']] = true
          }
          break
      }

      return classes
    }
  }
}
</script>
<style module>
.progress {
}
.progress--line {
}
.progress--circle {
}
</style>
