<template>
  <div
    :class="getClasses('line-progress')">
    <div
      v-if="textPosition == 'top'"
      :style="text_style"
      :class="getClasses('text')"><slot/></div>
    <div
      :style="progress_style"
      :class="getClasses('container')">
      <div
        v-if="textPosition == 'middle'"
        :style="text_style"
        :class="getClasses('text')"><slot/></div>
      <div
        v-if="textPosition == 'inside'"
        :style="text_style"
        :class="getClasses('text')"
        style="position: relative; left: -9999px"><slot/></div>
      <div
        :style="bar_style"
        :class="getClasses('bar')">
        <div
          v-if="textPosition == 'inside'"
          :class="getClasses('text')"
          :style="text_style"><slot/></div>
      </div>
    </div>
    <div
      v-if="textPosition == 'bottom'"
      :style="text_style"
      :class="getClasses('text')"><slot/></div>
  </div>
</template>

<script>
var isNumber = function(n) {
  return !isNaN(parseFloat(n)) && isFinite(n)
}
/**
 * LineProgress
 * @vuedoc
 * @classdesc 직선 모양의 프로그레스
 * @exports progress/Line
 */
export default {
  name: 'LineProgress',
  props: {
    val: {
      default: 0
    },
    max: {
      default: 100
    },
    size: {
      // either a number (pixel width/height) or 'tiny', 'small',
      // 'medium', 'large', 'huge', 'massive' for common sizes
      default: 10
    },
    'bg-color': {
      type: String,
      default: '#eee'
    },
    'bar-color': {
      type: String,
      default: '#2196f3' // match .blue color to Material Design's 'Blue 500' color
    },
    'bar-transition': {
      type: String,
      default: 'all 0.5s ease'
    },
    spacing: {
      type: Number,
      default: 4
    },
    shape: {
      type: String,
      default: 'round' // rect or round
    },
    text: {
      type: String,
      default: ''
    },
    'text-position': {
      type: String,
      default: 'bottom' // 'bottom', 'top', 'middle', 'inside'
    },
    'font-size': {
      type: Number,
      default: 13
    },
    'text-fg-color': {
      type: String,
      default: '#222'
    }
  },
  computed: {
    pct() {
      var pct = (this.val / this.max) * 100
      pct = pct.toFixed(2)
      return pct
    },
    size_px() {
      switch (this.size) {
        case 'tiny':
          return 2
        case 'small':
          return 4
        case 'medium':
          return 8
        case 'large':
          return 12
        case 'big':
          return 16
        case 'huge':
          return 32
        case 'massive':
          return 64
      }
      return isNumber(this.size) ? this.size : 32
    },
    text_padding() {
      switch (this.size) {
        case 'tiny':
        case 'small':
        case 'medium':
        case 'large':
        case 'big':
        case 'huge':
        case 'massive':
          return Math.min(Math.max(Math.ceil(this.size_px / 8), 3), 12)
      }
      return isNumber(this.spacing) ? this.spacing : 4
    },
    text_font_size() {
      switch (this.size) {
        case 'tiny':
        case 'small':
        case 'medium':
        case 'large':
        case 'big':
        case 'huge':
        case 'massive':
          return Math.min(Math.max(Math.ceil(this.size_px * 1.4), 11), 32)
      }
      return isNumber(this.fontSize) ? this.fontSize : 13
    },
    progress_style() {
      var style = {
        background: this.bgColor
      }
      if (this.textPosition == 'middle' || this.textPosition == 'inside') {
        style['position'] = 'relative'
        style['min-height'] = this.size_px + 'px'
        style['height'] = this.size_px + 'px'
        style['z-index'] = '-2'
      }
      return style
    },
    bar_style() {
      var style = {
        background: this.barColor,
        width: this.pct + '%',
        height: this.size_px + 'px',
        transition: this.barTransition
      }
      if (this.textPosition == 'middle' || this.textPosition == 'inside') {
        style['position'] = 'absolute'
        style['top'] = '0'
        style['height'] = '100%'
        ;(style['min-height'] = this.size_px + 'px'), (style['z-index'] = '-1')
      }
      return style
    },
    text_style() {
      var style = {
        color: this.textFgColor,
        'font-size': this.text_font_size + 'px',
        'text-align': 'center'
      }
      if (
        this.textPosition == 'top' ||
        this.textPosition == 'middle' ||
        this.textPosition == 'inside'
      )
        style['padding-bottom'] = this.text_padding + 'px'
      if (
        this.textPosition == 'bottom' ||
        this.textPosition == 'middle' ||
        this.textPosition == 'inside'
      )
        style['padding-top'] = this.text_padding + 'px'
      return style
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'line-progress':
          classes[this.$style['line-progress']] = true
          classes[this.$style['line-progress--' + this.shape]] = true
          break
        case 'container':
          classes[this.$style['line-progress__container']] = true
          break
        case 'text':
          classes[this.$style['line-progress__text']] = true
          break
        case 'bar':
          classes[this.$style['line-progress__bar']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.line-progress {
}
.line-progress--rect {
}
.line-progress--round {
}
.line-progress__container {
}
.line-progress__text {
}
.line-progress__bar {
}

.line-progress--round .line-progress__container,
.line-progress--round .line-progress__bar {
}
</style>
