<!DOCTYPE html>
<!--[if IE 8]>    <html lang="ko" class="ie8" {{ HTML_ATTRS }}> <![endif]-->
<!--[if IE 9]>    <html lang="ko" class="ie9 {{ HTML_ATTRS }}"> <![endif]-->
<html lang="ko" {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
