<template>
  <div :class="$style.fnd">
    <default-layout />
    <base-header
      :items="headerItems"
      logo-type="svg-text"
      logo
      always-top
      theme="black"
    />

    <div :class="$style.contents">
      <jumbo-screen
        design="wave"
        vertical-align="middle">
        <slot />
      </jumbo-screen>
      <nuxt/>
    </div>
    <simple-footer
      :logo-type="'rect'"
      :items="footerItems"
      logo
    />
  </div>
</template>

<script>
import DefaultLayout from '~/layouts/default.vue'
import BaseHeader from '~/components/headers/Base.vue'
import SimpleFooter from '~/components/footers/Simple.vue'
import JumboScreen from '~/components/screens/Jumbo.vue'

export default {
  components: {
    DefaultLayout,
    BaseHeader,
    SimpleFooter,
    JumboScreen
  },
  data() {
    return {
      headerItems: this.$store.state.data.headerItems,
      footerItems: this.$store.state.data.footerItems
    }
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/layouts/support/base.css' }]
  }
}
</script>

<style module>
.fnd {
  /* fnd */
}
.contents {
  /* contents */
}
</style>
