<template>
  <base-support-layout>
    <base-search placeholder="무엇을 도와드릴까요?" />
  </base-support-layout>
</template>

  <script>
import BaseSupportLayout from '~/layouts/support/base.vue'
import BaseSearch from '~/components/search/Base.vue'

export default {
  components: {
    BaseSupportLayout,
    BaseSearch
  }
}
</script>

<style lang='scss' module>
</style>
