<template>
  <div :class="$style.fnd">
    <default-layout />
    <simple-header
      :logo-type="'svg-text'"
      :items="headerItems"
      logo
    />
    <div :class="$style.contents">
      <nuxt/>
    </div>
    <simple-footer
      :logo-type="'rect'"
      :items="footerItems"
      logo
    />
  </div>
</template>

<script>
import DefaultLayout from '~/layouts/default.vue'
import SimpleHeader from '~/components/headers/Simple.vue'
import SimpleFooter from '~/components/footers/Simple.vue'

export default {
  components: {
    DefaultLayout,
    SimpleHeader,
    SimpleFooter
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/layouts/base/simple.css' }]
  },
  data() {
    return {
      headerItems: this.$store.state.data.headerItems,
      footerItems: this.$store.state.data.footerItems
    }
  }
}
</script>


<style module>
.fnd {
}
.contents {
}
</style>
