<template>
  <span
    v-if="type == 'default'"
    :class="getClasses()">
    {{ text }}
  </span>
  <span
    v-else-if="type == 'slide'"
    :class="getClasses()">
    <span :class="$style['btn__slide-text']">
      {{ text[1] }}
    </span>
    <span :class="$style['btn__text']">
      {{ text[0] }}
    </span>
  </span>
  <span
    v-else-if="type == 'slide-icon'"
    :class="getClasses()">
    <span :class="$style['btn__slide-text']">
      <base-icon
        :type="text[1]"
        :theme="text[2]"/>
    </span>
    <span :class="$style['btn__text']">
      {{ text[0] }}
    </span>
  </span>
  <span
    v-else-if="type == 'slide-icon-only'"
    :class="getClasses()">
    <span :class="$style['btn__slide-text']">
      <base-icon
        :type="text[0]"
        :theme="text[1]"/>
    </span>
    <span :class="$style['btn__text']">
      <base-icon
        :type="text[0]"
        :theme="text[1]"/>
    </span>
  </span>
</template>

<script>
import BaseIcon from '~/components/icons/Base.vue'

/**
 * Button Element
 * @vuedoc
 * @exports buttons/Base
 */
export default {
  name: 'BaseButton',
  components: {
    BaseIcon
  },
  props: {
    /**
     * 버튼에 사용할 텍스트를 설정합니다.
     */
    text: {
      type: [String, Array],
      default: ''
    },
    type: {
      type: String,
      default: 'default' // slide, slide-icon, slide-icon-only(기본 텍스트도 아이콘으로 대체)
    },
    option: {
      type: String, // top. bottom, left, right
      default: ''
    }
  },
  created() {
    if (process.browser) {
      $(window).on('resize', this.handleResize)
    }
  },
  destroyed() {
    if (process.browser) {
      $(window).off('resize', this.handleResize)
    }
  },
  mounted() {
    if (process.browser) {
      this.init()
    }
  },
  methods: {
    getClasses() {
      var classes = {}

      classes[this.$style['btn']] = true
      classes[this.$style['btn--default']] = this.type == 'default'
      classes[this.$style['btn--slide']] = this.type == 'slide'
      classes[this.$style['btn--slide-icon']] = this.type == 'slide-icon'
      classes[this.$style['btn--slide-icon-only']] =
        this.type == 'slide-icon-only'
      classes[this.$style['btn--top']] =
        this.option == 'top' || this.option == null
      classes[this.$style['btn--bottom']] = this.option == 'bottom'
      classes[this.$style['btn--left']] = this.option == 'left'
      classes[this.$style['btn--right']] = this.option == 'right'
      return classes
    },
    init() {
      var btn = $(this.$el)
      switch (this.type) {
        case 'slide':
        case 'slide-icon':
        case 'slide-icon-only':
          var slideText = btn.children('.' + this.$style['btn__slide-text'])
          slideText.css(
            'left',
            btn.innerWidth() / 2 - slideText.outerWidth() / 2
          )
          break
        default:
          break
      }
    },
    handleResize() {
      this.init()
    }
  }
}
</script>

<style module>
.btn {
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.btn--default {
}
.btn--slide {
}
.btn--slide-icon {
}
.btn--slide-icon-only {
}

.btn--top {
}
.btn--bottom {
}
.btn--left {
}
.btn--right {
}

.btn__text {
}
.btn__slide-text {
}
</style>
