<template>
  <a :href="hrefUrl">
    <base-button
      :class="getClasses()"
      text="로그인"/></a>
</template>

<script>
import BaseButton from '~/components/buttons/Base.vue'
/**
 * LoginButton Element
 * @vuedoc
 * @exports buttons/Login
 */
export default {
  name: 'LoginButton',
  components: { BaseButton },
  data() {
    return {
      ref: this.$route.path
    }
  },
  computed: {
    hrefUrl() {
      if (this.ref == '/auth/login') {
        return "/auth/login?ref='/'"
      } else {
        return '/auth/login?ref=' + this.ref
      }
    }
  },
  methods: {
    getClasses() {
      var classes = {}
      classes[this.$style['login-btn']] = true
      return classes
    }
  }
}
</script>

<style module>
.login-btn {
}
</style>
