<template>
  <div 
    v-touch:start="handleMouseDown"
    v-touch:moving="handleMouseMove"
    v-touch:end="handleMouseUp"
    :class="getClasses('metro')"
    :style="metroStyle"
    @click="handleClick"
    @mousedown="handleMouseDown"
    @mousemove="handleMouseMove"
    @mouseleave="handleMouseUp"
    @mouseup="handleMouseUp"
  >
    <slot />
  </div>
</template>

<script>
/**
 * MetroButton
 * @vuedoc
 * @classdesc 메트로 스타일의 버튼
 * @exports buttons/Metro
 */
export default {
  name: 'MetroButton',
  components: {},
  props: {
    /**
     *  타입을 설정한다.
     *  'basic' 일 경우 5가지 상태
     *  'complex' 일 경우 9가지 상태
     */
    type: {
      type: String,
      default: 'basic' // 'basic', 'complex'
    },
    width: {
      type: String,
      default: undefined
    },
    height: {
      type: String,
      default: undefined
    },
    backgroundColor: {
      type: String,
      default: undefined
    },
    style: {
      type: Object,
      default: () => {}
    },
    class: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      /**
       * pressedPosition
       * 버튼이 눌린 위치
       * 'none' : 눌리지 않음
       * 'left' : 왼쪽
       * 'right' : 오른쪽
       * 'top' : 윗쪽
       * 'bottom' : 아랫쪽
       * 'topleft' : 왼쪽 위
       * 'topright' : 오른쪽 위
       * 'bottomleft' : 왼쪽 아래
       * 'bottomright' : 오른쪽 아래
       * 'center' : 가운데
       */
      pressedPosition: 'none'
    }
  },
  computed: {
    metroStyle: function() {
      var transform = this.getTransform(this.pressedPosition)

      return Object.assign(
        {
          width: this.width,
          height: this.height,
          backgroundColor: this.backgroundColor,
          transform: transform
        },
        this.style
      )
    }
  },
  watch: {},
  mounted() {},
  created() {},
  destoryed() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'metro':
          classes[this.$style['metro-button']] = true
          classes[this.$style['metro-button--type-' + this.type]] = true
          classes[
            this.$style['metro-button--pressed-' + this.pressedPosition]
          ] = true
          Object.assign(classes, this.class)
          break
      }
      return classes
    },
    getRadianValue(length) {
      if (length >= 0 && length < 100) {
        return 0.198372
      } else if (length >= 100 && length < 200) {
        return 0.172343
      } else if (length >= 200 && length < 300) {
        return 0.132444
      } else if (length >= 300 && length < 400) {
        return 0.113141
      } else if (length >= 400 && length < 500) {
        return 0.081193
      } else if (length >= 500 && length < 600) {
        return 0.068773
      } else if (length >= 600 && length < 700) {
        return 0.061987
      } else if (length >= 700 && length < 800) {
        return 0.057889
      } else if (length >= 800 && length < 900) {
        return 0.042384
      } else if (length >= 900 && length < 1000) {
        return 0.032348
      } else if (length >= 1000 && length < 1100) {
        return 0.023144
      } else if (length >= 1100 && length < 1200) {
        return 0.011239
      } else if (length >= 1200 && length < 1300) {
        return 0.009485
      } else {
        return 0.008372
      }
    },
    getScaleValue(length) {
      if (length >= 0 && length < 200) {
        return 0.88
      } else if (length >= 200 && length < 400) {
        return 0.9
      } else if (length >= 400 && length < 800) {
        return 0.92
      } else if (length >= 800 && length < 1600) {
        return 0.95
      } else {
        return 0.98
      }
    },
    getTransform(position) {
      if (!process.browser) return
      var $elem = $(this.$el)
      var width = $elem.width()
      var height = $elem.height()
      var wRadian = this.getRadianValue(width)
      var hRadian = this.getRadianValue(height)
      var scale = this.getScaleValue(width > height ? width : height)

      var complex = this.type == 'complex'

      switch (position) {
        case 'topleft':
          if (complex) return 'perspective(500px) rotateY(-' + hRadian + 'rad)'
        case 'bottomleft':
          if (complex) return 'perspective(500px) rotateY(-' + hRadian + 'rad)'
        case 'left':
          return 'perspective(500px) rotateY(-' + hRadian + 'rad)'
          break
        case 'topright':
          if (complex) return 'perspective(500px) rotateY(' + hRadian + 'rad)'
        case 'bottomright':
          if (complex) return 'perspective(500px) rotateY(' + hRadian + 'rad)'
        case 'right':
          return 'perspective(500px) rotateY(' + hRadian + 'rad)'
          break
        case 'top':
          return 'perspective(500px) rotateX(' + wRadian + 'rad)'
          break
        case 'bottom':
          return 'perspective(500px) rotateX(-' + wRadian + 'rad)'
          break
        case 'center':
          return 'perspective(500px) scale(' + scale + ')'
          break
        default:
          return 'perspective(500px)'
          break
      }
    },
    pressButton(e) {
      var $elem = $(this.$el)
      var offset = $elem.offset()
      var offsetTop = offset.top
      var offsetLeft = offset.left

      var width = $elem.width()
      var height = $elem.height()
      var widthThird = (width / 3).toFixed(0)
      var heightThird = (height / 3).toFixed(0)

      var pageX = e.pageX
      var pageY = e.pageY

      var posX = pageX - offsetLeft
      var posY = pageY - offsetTop

      var x, y
      var result = ''

      if (posY >= 0 && posY < heightThird) {
        y = 1
        result = 'top'
      } else if (posY >= heightThird && posY < heightThird * 2) {
        y = 2
      } else {
        y = 3
        result = 'bottom'
      }

      if (posX >= 0 && posX < widthThird) {
        x = 1
        result += 'left'
      } else if (posX >= widthThird && posX < widthThird * 2) {
        x = 2
        if (result == '') {
          result = 'center'
        }
      } else {
        x = 3
        result += 'right'
      }

      this.pressedPosition = result
    },
    unpressButton(e) {
      this.pressedPosition = 'none'
    },
    handleMouseDown(e) {
      this.pressButton(e)
    },
    handleMouseUp(e) {
      this.unpressButton(e)
    },
    handleMouseMove(e) {
      if (this.pressedPosition != 'none') {
        this.pressButton(e)
      }
    },
    handleClick(e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style module>
.metro-button {
}
.metro-button--type-basic {
}
.metro-button--type-complex {
}
.metro-button--pressed-none {
}
.metro-button--pressed-left {
}
.metro-button--pressed-right {
}
.metro-button--pressed-top {
}
.metro-button--pressed-bottom {
}
.metro-button--pressed-topleft {
}
.metro-button--pressed-topright {
}
.metro-button--pressed-bottomleft {
}
.metro-button--pressed-bottomright {
}
.metro-button--pressed-center {
}
</style>
