<template>
  <a :href="'/auth/signup?ref='+ref">
    <base-button
      :class="getClasses()"
      text="회원가입"/></a>
</template>

<script>
import BaseButton from '~/components/buttons/Base.vue'
/**
 * SignupButton Element
 * @vuedoc
 * @exports buttons/Signup
 */
export default {
  name: 'SignupButton',
  components: { BaseButton },
  data() {
    return {
      ref: this.$route.path
    }
  },
  methods: {
    getClasses() {
      var classes = {}
      classes[this.$style['signup-btn']] = true
      return classes
    }
  }
}
</script>

<style module>
.signup-btn {
}
</style>
