<template>
  <div :class="getClasses()">
    <a
      :href="href"
      :class="$style['social-media-btn__sns-text']">
      <base-button
        :text="[text, type]"
        type="slide-icon"
        option="top"/>
    </a>
  </div>
</template>
<script>
import BaseButton from '~/components/buttons/Base.vue'
/**
 * Social Media Button
 * @vuedoc
 * @exports buttons/SocialMediaButton
 */
export default {
  name: 'SocialMediaButton',
  components: { BaseButton },
  props: {
    type: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    href: {
      type: String,
      default: ''
    }
  },
  methods: {
    getClasses() {
      var classes = {}
      classes[this.$style['social-media-btn']] = true
      classes[this.$style['social-media-btn--' + this.type]] = true
      return classes
    }
  }
}
</script>

<style module>
.social-media-btn {
}

.social-media-btn__sns-text {
}

.social-media-btn--fb {
}
.social-media-btn--kakao-talk {
}
.social-media-btn--brunch {
}
.social-media-btn--naver-blog {
}
</style>
