<template>
  <div :class="$style.fnd">
    <base-header/>
    <div :class="$style.contents">
      <nuxt/>
    </div>
    <base-footer/>
  </div>
</template>

<script>
import BaseHeader from '~/components/headers/Base.vue'
import BaseFooter from '~/components/footers/Base.vue'

export default {
  components: {
    BaseHeader,
    BaseFooter
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/layouts/board/base.css' }]
  },
  data() {
    return {
      headerItems: this.$store.state.data.headerItems,
      footerItems: this.$store.state.data.footerItems
    }
  }
}
</script>

<style module>
.fnd {
  /* fnd */
}
.contents {
  /* contents */
}
</style>
