<template>
  <div
    v-if="type == 'daumkakao'"
    :style="mapStyle"
    :id="id"/>
</template>

<script>
/**
 * BaseMap
 * @vuedoc
 * @classdesc 지도 기본 컴포넌트
 * @exports maps/Base
 */
export default {
  name: 'BaseMap',
  components: {},
  props: {
    type: {
      type: String,
      default: 'daumkakao' // 'daumkakao', 'naver', 'google'
    },
    id: {
      type: String,
      default: 'map'
    },
    lat: {
      type: Number,
      default: undefined
    },
    lng: {
      type: Number,
      default: undefined
    },
    address: {
      type: String,
      default: '경기도 성남시 분당구 대왕판교로645번길 12'
    },
    level: {
      type: Number,
      default: 3
    },
    width: {
      type: String,
      required: true
    },
    height: {
      type: String,
      required: true
    },
    /**
     * 지도 타입을 변경할 수 있는 컨트롤의 위치를 정한다.
     * 'none' 일 경우 사용하지 않는다.
     */
    mapTypeControl: {
      type: String,
      default: 'topright' // 'none', 'topright', 'bottomright', 'topleft', 'bottomleft'
    },
    zoomControl: {
      type: String,
      default: 'right' // 'none', 'left', 'right', 'top', 'bottom'
    },
    useMarker: {
      type: Boolean,
      default: true
    },
    /**
     * 마커 이미지를 설정한다.
     * useMarker 값이 true 일 때 작동한다.
     * markerSize의 변수를 사용한다.
     */
    markerImage: {
      type: String,
      default:
        'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png'
    },
    /**
     * 마커 크기를 설정한다.
     */
    markerSize: {
      type: Array,
      default: () => [24, 35]
    },
    /**
     * Mousehover 시 나타나는 텍스트
     */
    text: {
      type: String,
      default: undefined
    },
    overlayContent: {
      type: String,
      default: undefined
    },
    overlayAnchor: {
      type: Array,
      default: () => [0.5, 0.5]
    }
  },
  data() {
    return {
      loaded: false
    }
  },
  computed: {
    mapStyle: function() {
      return {
        width: this.width,
        height: this.height
      }
    }
  },
  created() {},
  destoryed() {},
  mounted() {
    if (process.browser) {
      switch (this.type) {
        case 'daumkakao':
          this.initDaumKakao()
          break
      }
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    },
    initDaumKakaoMapContent(latlng) {
      if (this.loaded) {
        console.log('Map is already loaded.')
        return
      }

      this.loaded = true
      var container = document.getElementById(this.id)

      var options = {
        center: latlng,
        level: this.level
      }
      var map = new daum.maps.Map(container, options)

      // mapTypeControl
      if (this.mapTypeControl != 'none') {
        var mapTypeControl = new daum.maps.MapTypeControl()

        map.addControl(
          mapTypeControl,
          daum.maps.ControlPosition[this.mapTypeControl.toUpperCase()]
        )
      }

      if (this.zoomControl != 'none') {
        var zoomControl = new daum.maps.ZoomControl()
        map.addControl(
          zoomControl,
          daum.maps.ControlPosition[this.zoomControl.toUpperCase()]
        )
      }

      if (this.useMarker) {
        var imageSize = new daum.maps.Size(
          this.markerSize[0],
          this.markerSize[1]
        )
        var markerImage = new daum.maps.MarkerImage(this.markerImage, imageSize)
        var marker = new daum.maps.Marker({
          map: map,
          position: latlng,
          title: this.text || '',
          image: markerImage
        })
      }

      if (this.overlayContent != null) {
        var mapCustomOverlay = new daum.maps.CustomOverlay({
          position: latlng,
          content: this.overlayContent,
          xAnchor: this.overlayAnchor[0], // 커스텀 오버레이의 x축 위치입니다. 1에 가까울수록 왼쪽에 위치합니다. 기본값은 0.5 입니다
          yAnchor: this.overlayAnchor[1] // 커스텀 오버레이의 y축 위치입니다. 1에 가까울수록 위쪽에 위치합니다. 기본값은 0.5 입니다
        })

        mapCustomOverlay.setMap(map)
      }
    },
    initDaumKakao() {
      var self = this
      try {
        if (this.lat != undefined && this.lng != undefined) {
          var latlng = new daum.maps.LatLng(this.lat, this.lng)
          this.initDaumKakaoMapContent(latlng)
        } else {
          var geocoder = new daum.maps.services.Geocoder()
          geocoder.addressSearch(this.address, function(result, status) {
            // 정상적으로 검색이 완료됐으면
            if (status === daum.maps.services.Status.OK) {
              var latlng = new daum.maps.LatLng(result[0].y, result[0].x)
              self.initDaumKakaoMapContent(latlng)
            } else {
              console.log(
                'Failed to load kakao map. status: ' +
                  status +
                  ' id: ' +
                  self.id
              )
            }
          })
        }
      } catch (e) {
        console.log('Failed to load kakao map. id: ' + this.id)
        console.log(e)
      }
    }
  }
}
</script>

<style module>
</style>
