<template>
  <div :class="getClasses('real-estate-map')">
    <div id="test"/>
    <base-map
      :type="type"
      :id="id"
      :lat="lat"
      :lng="lng"
      :address="address"
      :width="width"
      :height="height"
      :use-marker="false"
      :text="title"
      :overlay-content="realEstateOverlayContent"
      :overlay-anchor="[0.5, 0.9]"
      map-type-control="topright"
      zoom-control="right"
    />
  </div>
</template>

<script>
import BaseMap from '~/components/maps/Base.vue'
import BaseIcon from '~/components/icons/Base.vue'
/**
 * RealEstateMap
 * @vuedoc
 * @classdesc 부동산 지도 컴포넌트
 * - `BaseIcon` 컴포넌트의 `getSvg`를 이용하여 아이콘들을 가져온다.
 * @exports maps/RealEstate
 */
export default {
  name: 'RealEstateMap',
  components: { BaseMap },
  props: {
    type: {
      type: String,
      default: 'daumkakao' // 'daumkakao', 'naver', 'google'
    },
    id: {
      type: String,
      default: 'real-estate-map'
    },
    lat: {
      type: Number,
      default: undefined
    },
    lng: {
      type: Number,
      default: undefined
    },
    width: {
      type: String,
      required: true
    },
    height: {
      type: String,
      required: true
    },
    /**
     * 사용할 썸네일 이미지
     */
    thumbnail: {
      type: String,
      default:
        'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/place_thumb.png'
    },
    /**
     * 사용할 링크
     */
    link: {
      type: String,
      default: undefined
    },
    /**
     * 오버레이와 마우스 hover시 나타날 제목
     */
    title: {
      type: String,
      default: '제목'
    },
    /**
     * 나타낼 주소
     */
    address: {
      type: String,
      default: '주소'
    }
  },
  data() {
    return {
      svg: {}
    }
  },
  computed: {
    realEstateOverlayContent: function() {
      var content = '<div class="' + this.getClasses('overlay', true) + '">'
      content +=
        '    <a href="' +
        this.mapLink +
        '" class="' +
        this.getClasses('link', true) +
        '"' +
        ' target="_blank">' +
        '<span class="' +
        this.getClasses('icon', 'building', true) +
        '">' +
        this.svg.building +
        '</span>' +
        '    <span class="' +
        this.getClasses('title', true) +
        '">' +
        this.title +
        '</span>' +
        '<span class="' +
        this.getClasses('icon', 'arrow', true) +
        '">' +
        this.svg.arrow +
        '</span>' +
        '</a>'
      content += '    <div class="' + this.getClasses('content', true) + '">'
      content +=
        '        <div class="' +
        this.getClasses('thumbnail', true) +
        '">' +
        '        <img' +
        ' src="' +
        this.thumbnail +
        '" alt="">' +
        '</div>'
      content +=
        '        <div class="' +
        this.getClasses('desc', true) +
        '">' +
        '        <span class="' +
        this.getClasses('address', true) +
        '">' +
        this.address +
        '</span></div>'
      content += '    </div>'
      content += '</div>'

      return content
    },
    mapLink: function() {
      if (this.link != undefined) {
        return this.link
      } else {
        return 'https://map.kakao.com/?q=' + this.address
      }
    }
  },
  watch: {},
  mounted() {},
  created() {
    this.svg['building'] = BaseIcon.methods.getSvg('fnd', 'building')
    this.svg['arrow'] = BaseIcon.methods.getSvg('fnd', 'right-arrow-thin')
  },
  destoryed() {},
  methods: {
    getClasses(type, arg, arg2) {
      var classes = {}
      switch (type) {
        case 'real-estate-map':
          classes[this.$style['real-estate-map']] = true
          break
        case 'overlay':
          classes[this.$style['real-estate-map__overlay']] = true
          if (arg) return this.$style['real-estate-map__overlay']
          break
        case 'title':
          classes[this.$style['real-estate-map__title']] = true
          if (arg) return this.$style['real-estate-map__title']
          break
        case 'link':
          classes[this.$style['real-estate-map__link']] = true
          if (arg) return this.$style['real-estate-map__link']
          break
        case 'content':
          classes[this.$style['real-estate-map__content']] = true
          if (arg) return this.$style['real-estate-map__content']
          break
        case 'thumbnail':
          classes[this.$style['real-estate-map__thumbnail']] = true
          if (arg) return this.$style['real-estate-map__thumbnail']
          break
        case 'desc':
          classes[this.$style['real-estate-map__desc']] = true
          if (arg) return this.$style['real-estate-map__desc']
          break
        case 'address':
          classes[this.$style['real-estate-map__address']] = true
          if (arg) return this.$style['real-estate-map__address']
          break
        case 'icon':
          classes[this.$style['real-estate-map__icon']] = true
          classes[this.$style['real-estate-map__icon--' + arg]] = true
          if (arg2)
            return (
              this.$style['real-estate-map__icon'] +
              ' ' +
              this.$style['real-estate-map__icon--' + arg]
            )
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.real-estate-map {
}
.real-estate-map__overlay {
}
.real-estate-map__title {
}
.real-estate-map__link {
}
.real-estate-map__content {
}
.real-estate-map__thumbnail {
}
.real-estate-map__desc {
}
.real-estate-map__address {
}
.real-estate-map__icon {
}
.real-estate-map__icon--building {
}
.real-estate-map__icon--arrow {
}
</style>
