.terms-base-data {

  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 30px;
  white-space: pre-line;

  &__chapter {
    padding: 10px;
  }

  &__section {
    padding: 10px;
    margin: 10px;
  }

  &__title {
    font-size: 1.3em;
  }

  &__subtitle {
    font-size: 1.1em;
  }

  &__text {
    padding: 5px;
  }
}
