<template>
  <div :class="getClasses('maximum')">
    <div :class="getClasses('maximum')">
      <jumbo-screen
        slot="a"
        design="image"
        align="center"
        vertical-align="middle"
        bg-image="/image/view/detail-1.jpg">
        <div style="margin-top:-200px;margin-left:-50px;font-size:1.5em;background-color: rgba(255,255,255,0.93);padding:20px;border-radius:10px;">
          제 {{ id }} 호 부동산 경매 낙찰
        </div>
      </jumbo-screen>
      <base-progress
        id="invest-id-main"
        :current-step="funding.current"
        :total-step="funding.max"
        :width="14"
        :transition-duration="1000"
        stroke-color="#35d27f"
        shape="rect"
        type="line"
        transition-easing="ease-in-out"
      />
    </div>
    <div 
      :class="getClasses('partial')"
      style="margin:20px auto;">
      <column-summary-section
        :background-colors="['#332f2f']"
        :border-colors="['#f9f9fa']"
        :colors="['white']"
        height="110px"
        border-width="2px">
        <div 
          v-for="(data, i) in columnSummaryContents" 
          :key="i">
          <span :class="getClasses('text','s')">{{ data.key }}</span>
          <br >
          <span :class="getClasses('text',data.size)">{{ data.value }}</span>
        </div>
      </column-summary-section>
    </div>
    <div :class="getClasses('partial')">
      <split-grid
        :only-show-on-browser="false"
        :min-left="availableInvestForm ? undefined : '100%'"
        :min-right="availableInvestForm ? '340px' : undefined">
        <div slot="left">
          <base-accordion>
            <accordion-item
              v-for="(content, index) in contents"
              :key="index"
              :sticky="true"
              :content-margin-top="10"
              :collapse="false"
              :sticky-target="stickyTarget">
              <template slot="header">
                <span>{{ content.header }}</span>
              </template>
              <template slot="content">
                <ContentAdapter
                  v-for="(c, i) in content.contents"
                  :key="i"
                  :content="c"
                />
              </template>
            </accordion-item>
          </base-accordion>
        </div>
        <sticky-grid
          v-if="availableInvestForm "
          slot="right"
          :margin-top-target="getClasses('header')">
          <invest-form
            :funded-amount="funding.current"
            :funding-amount="funding.max"
          />
        </sticky-grid>
      </split-grid>
      <div v-if="!availableInvestForm">
        <modal-frame
          :activate.sync="isActivatedInvestFormModal">
          <invest-form
            :funded-amount="funding.current"
            :funding-amount="funding.max"
            type="modal"
          />
        </modal-frame>
      </div>
      <div 
        v-if="!availableInvestForm"
        @click="handleInvestFormButtonClick">
        <invest-form
          :funded-amount="funding.current"
          :funding-amount="funding.max"
          type="button"
        />
      </div>
    </div>
  </div>
</template>

  <script>
import ThumbnailCarousel from '~/components/carousels/Thumbnail.vue'
import BaseProgress from '~/components/progress/Base.vue'
import GoldenSpiralGrid from '~/components/grids/GoldenSpiral.vue'
import InvestForm from '~/components/forms/Invest.vue'
import SplitGrid from '~/components/grids/Split.vue'
import StickyGrid from '~/components/grids/Sticky.vue'
import BaseAccordion from '~/components/accordion/Base.vue'
import AccordionItem from '~/components/accordion/Item.vue'
import BaseContent from '~/components/content/Base.vue'
import ContentAdapter from '~/components/content/Adapter.vue'
import ModalFrame from '~/components/frames/Modal.vue'
import JumboScreen from '~/components/screens/Jumbo.vue'
import ColumnSummarySection from '~/components/sections/ColumnSummary.vue'

export default {
  layout: 'invest/base',
  components: {
    AccordionItem,
    ThumbnailCarousel,
    BaseProgress,
    GoldenSpiralGrid,
    InvestForm,
    SplitGrid,
    StickyGrid,
    BaseAccordion,
    BaseContent,
    ContentAdapter,
    ModalFrame,
    JumboScreen,
    ColumnSummarySection
  },
  fetch({ store, params }) {
    store.dispatch('data/base')
  },
  data() {
    return {
      stickyTarget: this.getClasses('header'),
      isActivatedInvestFormModal: false,
      funding: {
        current:
          Math.floor(Math.random() * Math.floor(14)) * 100000000 + 500000000,
        max: 1900000000
      },
      id: this.$route.params.id
    }
  },
  computed: {
    availableInvestForm: function() {
      return this.w['>tablet_s']
    },
    isMobile: function() {
      if (process.browser) {
        return this.w['<tablet_s']
      } else {
        return false
      }
    },
    isWide: function() {
      if (process.browser) {
        return this.w['isWide']
      } else {
        return false
      }
    },
    thumbnailHeight: function() {
      return this.isMobile ? '250px' : '450px'
    },
    locationHeight: function() {
      return this.isMobile ? '300px' : '450px'
    },
    columnSummaryContents: function() {
      return [
        {
          key: '예상 투자 수익률',
          value: '20%',
          size: 'xl'
        },
        {
          key: '투자 기간',
          value: '5개월',
          size: 'xl'
        },
        {
          key: '평가 등급',
          value: 'B+',
          size: 'xl'
        },
        {
          key: '상환방식',
          value: '만기 일시 상환',
          size: 'l'
        }
      ]
    },
    contents: function() {
      return [
        {
          header: '1. 투자 포인트',
          contents: [
            {
              type: 'point',
              data: {
                header: 'Point 1',
                content: '매각이 원활하여 환가성이 높은 아파트를 담보로 한 투자'
              }
            },
            {
              type: 'point',
              data: {
                header: 'Point 2',
                content: '매각이 원활하여 환가성이 높은 아파트를 담보로 한 투자'
              }
            },
            {
              type: 'point',
              data: {
                header: 'Point 3',
                content: '매각이 원활하여 환가성이 높은 아파트를 담보로 한 투자'
              }
            }
          ]
        },
        {
          header: '2. 주요 정보',
          contents: [
            {
              type: 'thumbnail',
              data: {
                header: '건물 이미지',
                options: {
                  height: this.thumbnailHeight,
                  interval: 3000
                },
                content: [
                  {
                    name: 'hi',
                    title: 'abcd',
                    image: '/image/view/detail-2.jpg'
                  },
                  {
                    name: 'hi',
                    title: 'abcd',
                    image: '/image/view/detail-3.jpg'
                  },
                  {
                    name: 'hi',
                    title: 'abcd',
                    image: '/image/view/detail-4.jpg'
                  },
                  {
                    name: 'hi',
                    title: 'abcd',
                    image: '/image/view/detail-5.jpg'
                  },
                  {
                    name: 'hi',
                    title: 'abcd',
                    image: '/image/view/detail-6.jpg'
                  }
                ]
              }
            },
            {
              type: 'location',
              data: {
                options: {
                  type: 'real-estate',
                  title: '한남 더힐',
                  address: '서울특별시 용산구\n한남동 810',
                  thumbnail: '/image/hanam-the-hill.png',
                  width: '100%',
                  height: this.locationHeight
                }
              }
            },
            {
              type: 'point',
              data: {
                header: 'Point 1',
                content: `원금을 보장하는 투자는 '유사수신행위의 규제에 관한 법률' 에 저촉되는 불법행위입니다.
              투자상품은 일정 리스크를 가지고 있는 투자상품입니다.
              투자활동은 고객 본인의 판단에 의해 이루어지며, 당사는 원금 및 수익률을 보장하지 않으므로 투자 시 신중한 결정이 필요합니다.`
              }
            }
          ]
        },
        {
          header: '3. 상세 정보',
          contents: [
            {
              type: 'point',
              data: {
                header: 'Point 1',
                content: `원금을 보장하는 투자는 '유사수신행위의 규제에 관한 법률' 에 저촉되는 불법행위입니다.
              투자상품은 일정 리스크를 가지고 있는 투자상품입니다.
              투자활동은 고객 본인의 판단에 의해 이루어지며, 당사는 원금 및 수익률을 보장하지 않으므로 투자 시 신중한 결정이 필요합니다.`
              }
            }
          ]
        },
        {
          header: '4. 투자 유의 사항',
          contents: [
            {
              type: 'point',
              data: {
                header: 'Point 1',
                content: `원금을 보장하는 투자는 '유사수신행위의 규제에 관한 법률' 에 저촉되는 불법행위입니다.
              투자상품은 일정 리스크를 가지고 있는 투자상품입니다.
              투자활동은 고객 본인의 판단에 의해 이루어지며, 당사는 원금 및 수익률을 보장하지 않으므로 투자 시 신중한 결정이 필요합니다.`
              }
            }
          ]
        }
      ]
    }
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/invest/view/id.css' }],
    script: [
      {
        type: 'text/javascript',
        src:
          '//dapi.kakao.com/v2/maps/sdk.js?appkey=c7a388c0a6011d5790719bbdfab2ca9f&libraries=services'
      }
    ]
  },
  mounted() {},
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'maximum':
          classes[this.$style['area--maximum']] = true
          break
        case 'partial':
          classes[this.$style['area--partial']] = true
          break
        case 'header': // margin-top-target 에서 쓰이므로 바로 string 리턴
          return this.$style['header']
          break
        case 'text':
          return this.$style['text--' + arg]
          break
        default:
          break
      }
      return classes
    },
    handleInvestFormButtonClick() {
      this.isActivatedInvestFormModal = true
    }
  }
}
</script>

<style module>
.area--maximum {
}
.area--partial {
}
.header {
}
.text--s {
}
.text--m {
}
.text--l {
}
.text--xl {
}
.text--xxl {
}
</style>
