<template>
  <div
    :class="getClasses('header')"
  >
    <base-tabbar
      :logo="logo"
      :logo-type="logoType"
      :items="items"
    >
      <slot
        v-for="(item, index) in items"
        v-if="item.type == 'slot'"
        :slot="item.data"
        :name="item.data"
      />
    </base-tabbar>
  </div>
</template>

<script>
import BaseTabbar from '~/components/tabbars/Base.vue'

/**
 * BaseHeader Component
 * @vuedoc
 * @classdesc 스크롤 시 CSS 클래스 `fixed` 추가됨
 * @exports headers/Base
 */
export default {
  name: 'BaseHeader',
  components: {
    BaseTabbar
  },
  props: {
    logo: {
      type: Boolean,
      default: false
    },
    logoType: {
      type: String,
      default: 'rect'
    },
    items: {
      type: Array,
      default: () => {}
    },
    withSpace: {
      type: Boolean,
      default: false
    },
    alwaysFixed: {
      type: Boolean,
      default: false
    },
    alwaysTop: {
      type: Boolean,
      default: false
    },
    theme: {
      type: String,
      default: 'white' // white, black, light, dark(dark 모드)
    }
  },
  data() {
    return {
      scrolled: false
    }
  },
  created() {
    if (process.browser) {
      $(window).on('scroll', this.handleScroll)
    }
  },
  destroyed() {
    if (process.browser) {
      $(window).off('scroll', this.handleScroll)
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'header':
          classes[this.$style['header']] = true
          classes[this.$style['header--theme-' + this.theme]] = true
          if (this.withSpace) classes[this.$style['header--space']] = true
          if (!this.alwaysTop && (this.alwaysFixed || this.scrolled))
            classes[this.$style['is-fixed']] = true
          else classes[this.$style['is-top']] = true
          break
      }
      return classes
    },
    handleScroll() {
      var scrollTop = $(document).scrollTop()
      if (scrollTop > 0) this.scrolled = true
      else this.scrolled = false
    }
  }
}
</script>

<style module>
.header {
}
.header--space {
}
.header--theme-white {
}
.header--theme-black {
}
.header--theme-light {
}
.header--theme-dark {
}

.is-fixed {
}
.is-top {
}
</style>
