<template>
  <base-header
    :class="$style['simple-header']"
    :logo-type="logoType"
    :items="items"
    :logo="logo"
    always-fixed
    with-space
  />
</template>

<script>
import BaseHeader from '~/components/headers/Base.vue'

/**
 * SimpleHeader
 * @vuedoc
 * @classdesc 심플한 헤더
 * @exports headers/Simple
 */
export default {
  name: 'SimpleHeader',
  components: { BaseHeader },
  props: {
    logo: {
      type: Boolean,
      default: false
    },
    logoType: {
      type: String,
      default: 'rect'
    },
    items: {
      type: Array,
      default: () => {}
    }
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
.simple-header {
}
</style>
