// ==========================================================================
// Logo - 로고
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Italianno');

@include media("wide") {
  @include logo-rect($logo-rect-wide-width, $logo-rect-wide-height);
}
@include media("desktop") {
  @include logo-rect($logo-rect-desktop-width, $logo-rect-desktop-height);
}
@include media("tablet") {
  @include logo-rect($logo-rect-tablet-width, $logo-rect-tablet-height);
}
@include media("mobile") {
  @include logo-rect($logo-rect-mobile-width, $logo-rect-mobile-height);
}

.logo {
  &--text {
    font-family: 'Italianno', cursive;
    font-size: 3em;

    @include media("tablet") {
      font-size: 2.4em;
    }

    @include media("mobile") {
      font-size: 2.1em;
    }
  }

  &--svg-text {
    /**/
  }

  &--f { // f letter
    font-family: 'Italianno', cursive;
    font-weight: 800;
  }
}
