.svg-text-logo {

  $width: 8em;
  $height-ratio: 0.4;
  width: $width;
  height: $width*$height-ratio;
  margin-top: 7px;

  // fill: transparent;
  stroke: currentColor;
  stroke-width: 3px;

  font-size: initial;

  line-height: 1;

  @include media("tablet") {
    $width: 5.8em;
    width: $width;
    height: $width*$height-ratio;
    margin-top: 7px;

    stroke-width: 4px;
  }

  @include media("mobile") {
    $width: 5.2em;
    width: $width;
    height: $width*$height-ratio;
    margin-top: 5px;

    stroke-width: 4px;
  }

  // stroke-dasharray: 500;
  // stroke-dashoffset: 500;
  // animation: dash 3s 1s infinite;

  &__f {
    /**/
  }

  &__o {
    /**/
  }

  &__u {
    /**/
  }

  &__n {
    /**/
  }

  &__d {
    /**/
  }

  &__i {
    /**/
  }

  &__n {
    /**/
  }

  &__g {
    /**/
  }

  &__dot {
    fill: transparent;
    // color: red;
  }
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#svg {
}
