<template>
  <div
    :style="gridStyle">
    <slot/>
  </div>
</template>
<script>
/**
 * BaseGrid
 * @vuedoc
 * @classdesc 베이스 그리드
 * @exports grids/Base
 */
export default {
  name: 'BaseGrid',
  props: {
    onlyShowOnBrowser: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    gridStyle: function() {
      // bot 일 경우 SEO 를 위해 display:none 옵션 사용 안함
      if (!this.$device.isBot && this.onlyShowOnBrowser) {
        if (process.browser) {
          return {
            display: null
          }
        } else {
          return {
            display: 'none'
          }
        }
      }
    }
  }
}
</script>
