<template>
  <base-grid
    v-if="numType == 1 || numType == 6"
    :class="getClasses('golden-spiral-grid')">
    <div :class="getClasses('a')">
      <slot name="a" />
    </div>
    <div :class="getClasses('a-side')">
      <slot
        v-if="hasSlot('a-side')"
        name="a-side" />
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b')">
        <slot name="b" />
      </div>
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b-side')">
        <slot
          v-if="hasSlot('b-side')"
          name="b-side" />
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c-side')">
          <slot
            v-if="hasSlot('c-side')"
            name="c-side" />
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d-side')">
            <slot
              v-if="hasSlot('d-side')"
              name="d-side" />
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('e')">
              <slot name="e" />
            </div>
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('f')">
              <slot name="f" />
            </div>
          </div>
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d')">
            <slot name="d" />
          </div>
        </div>
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c')">
          <slot name="c" />
        </div>
      </div>
    </div>
  </base-grid>
  <base-grid
    v-else-if="numType == 2 || numType == 5"
    :class="getClasses('golden-spiral-grid')">
    <div :class="getClasses('a')">
      <slot name="a" />
    </div>
    <div :class="getClasses('a-side')">
      <slot
        v-if="hasSlot('a-side')"
        name="a-side" />
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b-side')">
        <slot
          v-if="hasSlot('b-side')"
          name="b-side" />
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c-side')">
          <slot
            v-if="hasSlot('c-side')"
            name="c-side" />
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d')">
            <slot name="d" />
          </div>
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d-side')">
            <slot
              v-if="hasSlot('d-side')"
              name="d-side" />
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('e')">
              <slot name="e" />
            </div>
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('f')">
              <slot name="f" />
            </div>
          </div>
        </div>
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c')">
          <slot name="c" />
        </div>
      </div>
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b')">
        <slot name="b" />
      </div>
    </div>
  </base-grid>
  <base-grid
    v-else-if="numType == 3 || numType == 8"
    :class="getClasses('golden-spiral-grid')">
    <div :class="getClasses('a-side')">
      <slot
        v-if="hasSlot('a-side')"
        name="a-side" />
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b-side')">
        <slot
          v-if="hasSlot('b-side')"
          name="b-side" />
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c')">
          <slot name="c" />
        </div>
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c-side')">
          <slot
            v-if="hasSlot('c-side')"
            name="c-side" />
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d')">
            <slot name="d" />
          </div>
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d-side')">
            <slot
              v-if="hasSlot('d-side')"
              name="d-side" />
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('e')">
              <slot name="e" />
            </div>
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('f')">
              <slot name="f" />
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b')">
        <slot name="b" />
      </div>
    </div>
    <div :class="getClasses('a')">
      <slot name="a" />
    </div>
  </base-grid>
  <base-grid
    v-else-if="numType == 4 || numType == 7"
    :class="getClasses('golden-spiral-grid')">
    <div :class="getClasses('a-side')">
      <slot
        v-if="hasSlot('a-side')"
        name="a-side" />
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b-side')">
        <slot
          v-if="hasSlot('b-side')"
          name="b-side" />
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c')">
          <slot name="c" />
        </div>
        <div
          v-if="!hasSlot('b-side')"
          :class="getClasses('c-side')">
          <slot
            v-if="hasSlot('c-side')"
            name="c-side" />
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d')">
            <slot name="d" />
          </div>
          <div
            v-if="!hasSlot('c-side')"
            :class="getClasses('d-side')">
            <slot
              v-if="hasSlot('d-side')"
              name="d-side" />
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('f')">
              <slot name="f" />
            </div>
            <div
              v-if="!hasSlot('d-side')"
              :class="getClasses('e')">
              <slot name="e" />
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="!hasSlot('a-side')"
        :class="getClasses('b')">
        <slot name="b" />
      </div>
    </div>
    <div :class="getClasses('a')">
      <slot name="a" />
    </div>
  </base-grid>
</template>

<script>
import BaseGrid from '~/components/grids/Base.vue'

/**
 * @vuedoc
 *
 * GoldenSpiralGrid
 * @description 황금비 그리드입니다. slot으로 그리드 안에 엘리먼트를 수 있습니다.
 * `a~f` 까지 배치할 수 있으며 `a` 반대는 `a-side`, `b` 반대는 `b-side` 가 됩니다.
 * `side` 가 들어가는 slot은 그 하위 그리드를 모두 제거합니다.
 * 즉, `a`와 `a-side` 슬롯이 입력되면 `b` 부터 `f` 까지는 모두 무시됩니다.
 * 초기 `height`를 조정하기 위해서 자바스크립트를 사용하고, 화면이 resize가 되면 초기화됩니다.
 * @exports grids/GoldenSpiral
 */
export default {
  name: 'GoldenSpiralGrid',
  components: { BaseGrid },
  props: {
    scale: {
      type: Number,
      default: 1
    },
    clockwise: {
      type: Boolean,
      default: true
    },
    rotate: {
      type: Boolean,
      default: false
    },
    vertical: {
      type: Boolean,
      default: false
    },
    type: {
      type: Number,
      default: undefined
    }
  },
  data() {
    return {}
  },
  computed: {
    numType() {
      if (typeof this.type === 'number') {
        return this.type
      }
      if (this.clockwise) {
        if (!this.vertical) {
          if (!this.rotate) {
            return 1
          } else {
            return 3
          }
        } else {
          if (!this.rotate) {
            return 2
          } else {
            return 4
          }
        }
      } else {
        if (!this.vertical) {
          if (!this.rotate) {
            return 6
          } else {
            return 8
          }
        } else {
          if (!this.rotate) {
            return 5
          } else {
            return 7
          }
        }
      }
    }
  },
  created() {},
  destoryed() {},
  mounted() {
    if (process.browser) {
      this.initHeight()
    }
  },
  created() {
    if (process.browser) {
      $(window).on('resize', this.handleResize)
    }
  },
  destroyed() {
    if (process.browser) {
      $(window).off('resize', this.handleResize)
    }
  },
  methods: {
    hasSlot(name) {
      return !!this.$slots[name]
    },
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'golden-spiral-grid':
          classes[this.$style['golden-spiral-grid']] = true
          classes[
            this.$style['golden-spiral-grid--type-' + this.numType]
          ] = true
          break
        case 'a':
          classes[this.$style['golden-spiral-grid__a']] = true
          break
        case 'a-side':
          classes[this.$style['golden-spiral-grid__a--side']] = true
          break
        case 'b':
          classes[this.$style['golden-spiral-grid__b']] = true
          break
        case 'b-side':
          classes[this.$style['golden-spiral-grid__b--side']] = true
          break
        case 'c':
          classes[this.$style['golden-spiral-grid__c']] = true
          break
        case 'c-side':
          classes[this.$style['golden-spiral-grid__c--side']] = true
          break
        case 'd':
          classes[this.$style['golden-spiral-grid__d']] = true
          break
        case 'd-side':
          classes[this.$style['golden-spiral-grid__d--side']] = true
          break
        case 'e':
          classes[this.$style['golden-spiral-grid__e']] = true
          break
        case 'f':
          classes[this.$style['golden-spiral-grid__f']] = true
          break
      }
      return classes
    },
    initHeight() {
      var _heightRatio
      switch (this.numType) {
        case 1:
        case 3:
        case 6:
        case 8:
          _heightRatio = 0.615 * this.scale
          break
        case 2:
        case 4:
        case 5:
        case 7:
          _heightRatio = 1.625 * this.scale
          break
      }
      $(this.$el).css('height', $(this.$el).outerWidth() * _heightRatio)
    },
    handleResize(e) {
      this.initHeight()
    }
  }
}
</script>

<style module>
.golden-spiral-grid {
}
.golden-spiral-grid--type-1 {
}
.golden-spiral-grid--type-2 {
}
.golden-spiral-grid--type-3 {
}
.golden-spiral-grid--type-4 {
}
.golden-spiral-grid--type-5 {
}
.golden-spiral-grid--type-6 {
}
.golden-spiral-grid--type-7 {
}
.golden-spiral-grid--type-8 {
}

.golden-spiral-grid__a {
}
.golden-spiral-grid__a--side {
}
.golden-spiral-grid__b {
}
.golden-spiral-grid__b--side {
}
.golden-spiral-grid__c {
}
.golden-spiral-grid__c--side {
}
.golden-spiral-grid__d {
}
.golden-spiral-grid__d--side {
}
.golden-spiral-grid__e {
}
.golden-spiral-grid__f {
}
</style>
