<template>
  <div :class="getClasses('linear-grid')">
    <div
      v-for="i in $slots.default"
      :key="i"
      :class="getClasses('elem')">
      <slot :name="i"/>
    </div>
  </div>
</template>

<script>
/**
 * LinearGrid
 * @vuedoc
 * @classdesc 선형그리드
 * @exports grids/Linear
 */
export default {
  name: 'LinearGrid',
  components: {},
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
.linear-grid {
}
.linear-grid__elem {
}
</style>
