<template>
  <base-grid
    :class="getClasses('split-grid')"
    :only-show-on-browser="onlyShowOnBrowser">
    <div
      :class="getClasses('left')"
      :style="leftStyle">
      <slot name="left" />
    </div>
    <div
      :class="getClasses('right')"
      :style="rightStyle">
      <slot name="right" />
    </div>
  </base-grid>
</template>
<script>
import BaseGrid from '~/components/grids/Base.vue'
/**
 * SplitGrid
 * @vuedoc
 * @classdesc 그리드를 좌, 우로 나누는 컴포넌트
 * @exports grids/Split
 */
export default {
  name: 'SplitGrid',
  components: { BaseGrid },
  props: {
    onlyShowOnBrowser: {
      type: Boolean,
      default: true
    },
    ratio: {
      type: String,
      default: undefined // 1-1, 1-2, 1-3, 2-1, 2-3, 3-1, 3-2
    },
    minLeft: {
      type: String,
      default: undefined
    },
    minRight: {
      type: String,
      default: undefined
    }
  },
  computed: {
    leftStyle: function() {
      return {
        width:
          this.minRight != undefined
            ? 'calc(100% - ' + this.minRight + ')'
            : undefined,
        minWidth: this.minLeft || 'inherit'
      }
    },
    rightStyle: function() {
      return {
        width:
          this.minLeft != undefined
            ? 'calc(100% - ' + this.minRight + ')'
            : undefined,
        minWidth: this.minRight || 'inherit'
      }
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'split-grid':
          classes[this.$style['split-grid']] = true
          if (this.ratio) {
            classes[this.$style['split-grid--' + this.ratio]] = true
          }
          break
        case 'left':
          classes[this.$style['split-grid__elem']] = true
          classes[this.$style['split-grid__left']] = true
          break
        case 'right':
          classes[this.$style['split-grid__elem']] = true
          classes[this.$style['split-grid__right']] = true
          break
        default:
          break
      }
      return classes
    }
  }
}
</script>
<style module>
.split-grid {
}
.split-grid__elem {
}
.split-grid__left {
}
.split-grid__right {
}
.split-grid--1-1 {
}
.split-grid--1-2 {
}
.split-grid--1-3 {
}
.split-grid--1-4 {
}
.split-grid--1-5 {
}
.split-grid--2-1 {
}
.split-grid--2-3 {
}
.split-grid--2-5 {
}
.split-grid--3-1 {
}
.split-grid--3-2 {
}
.split-grid--3-4 {
}
.split-grid--3-5 {
}
.split-grid--4-1 {
}
.split-grid--4-3 {
}
.split-grid--4-5 {
}
.split-grid--5-1 {
}
.split-grid--5-2 {
}
.split-grid--5-3 {
}
.split-grid--5-4 {
}
.split-grid--5-2 {
}
.split-grid--5-3 {
}
.split-grid--5-4 {
}

.split-grid--horizontal {
}
.split-grid--vertical {
}
</style>
