<template>
  <base-grid
    :class="getClasses('sticky-grid')"
    :style="elemStyle">
    <slot />
  </base-grid>
</template>

<script>
import BaseGrid from '~/components/grids/Base.vue'

/**
 * StickyGrid
 * @vuedoc
 *
 * StickyGrid는 내부 엘리먼트가 스크롤에 따라 Sticky 하게 움직이는 그리드이다.
 * 부모 엘리먼트를 기준으로 작동될 top 위치와 fixed 된 상태에서의 left가 정해진다.
 * 부모 엘리먼트의 position은 relative를 권장한다.
 * StickyGrid의 기본 position은 absolute이고, sticky 상태일 때는 fixed 가 된다.
 * @exports grids/Sticky
 */
export default {
  name: 'StickyGrid',
  components: { BaseGrid },
  props: {
    /**
     * 기본 상태의 width 값을 설정.
     * Floating 시 기본 상태의 width를 동적으로 할당함.
     */
    width: {
      type: String,
      default: undefined
    },
    /**
     *  아직 구현 안됨
     */
    height: {
      type: String,
      default: undefined
    },
    /**
     * 타입이 float일 경우 top을 얼마만큼 비워둘 것인지 설정한다.
     */
    marginTop: {
      type: Number,
      default: 0
    },
    /**
     * margin을 설정할 target 엘리먼트
     */
    marginTopTarget: {
      type: String,
      default: null
    },
    /**
     * marginTopTarget의 엘리먼트가 transition이 존재할 경우,
     * 이 옵션을 통해 Synchronize 할 수 있다.
     * 단위는 초(s)이다.
     */
    resizeDuration: {
      type: Number,
      default: 0.5
    },
    /**
     * resize 이벤트가 발생했을 때 resize 할 때마다 interval 을 설정한다.
     * 성능에 영향을 미칠 수 있다.
     * 단위는 밀리초(ms)이다.
     */
    resizeInterval: {
      type: Number,
      default: 50
    },
    /**
     * 렌더링 된 후 필요한 값을 전달.
     */
    result: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      elemStyleData: {
        top: undefined,
        left: undefined,
        bottom: undefined,
        width: this.width
      },
      isFixed: false
    }
  },
  computed: {
    elemStyle: function() {
      let style = Object.assign({}, this.elemStyleData)
      /**
       * position을 브라우저가 로딩된 후 undefined로 하는 이유
       * - 로딩되기전(혹은 js 미 작동) relative 형태로 포지셔닝을 한다.
       * - 처음부터 absolute 일 경우, 컨텐츠가 겹쳐서 사용자 경험을 해치고, SEO 에서도 불이익을 받음
       * - 로딩된후(js 작동) 시에는 원래 css로 설정된 값으로 되돌린다.
       */

      if (process.browser) {
        style.position = undefined
      } else {
        style.position = 'relative'
      }
      return style
    }
  },
  created() {
    if (process.browser) {
      $(window).on('scroll', this.handleScroll)
      $(window).on('resize', this.handleResize)
    }
  },
  destoryed() {
    if (process.browser) {
      $(window).off('scroll', this.handleScroll)
      $(window).off('resize', this.handleResize)
    }
  },
  mounted() {
    this.updateResult()
  },
  methods: {
    updateResult() {
      let data = {}
      if (process.browser) {
        data.height = $(this.$el).outerHeight(true)
      }
      this.$emit('update:result', data)
    },
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'sticky-grid':
          classes[this.$style['sticky-grid']] = true
          classes[this.$style['is-fixed']] = this.isFixed
          break
        default:
          break
      }
      return classes
    },
    fixElement(fixed, top, left, bottom, width) {
      // fix 상태 초기화
      this.isFixed = fixed
      this.elemStyleData.top = top
      this.elemStyleData.left = left
      this.elemStyleData.bottom = bottom
      this.elemStyleData.width = width
    },
    handleSticky() {
      var scrollTop = $(document).scrollTop()
      var $elem = $(this.$el)
      var $parentElem = $($elem.parent())

      var elemHeight = $elem.outerHeight(true)

      var parentOffset = $parentElem.offset()
      if (parentOffset === undefined) return
      var parentTop = parentOffset.top
      var parentLeft = parentOffset.left
      var parentWidth = $parentElem.innerWidth() // parent 내부 컨텐츠 기준으로 함
      var parentHeight = $parentElem.innerHeight() // parent 내부 컨텐츠 기준으로 함
      var parentBottom = parentTop + parentHeight

      var marginTop = this.marginTop

      if (typeof this.marginTopTarget === 'string') {
        marginTop =
          $('.' + this.marginTopTarget).outerHeight(true) + this.marginTop
      }

      var triggerTop = scrollTop + marginTop

      if (triggerTop > parentTop) {
        // 현재 값 기준으로 설정되는 top 값
        if (triggerTop + elemHeight > parentBottom) {
          // Bottom에 고정된 상태
          this.fixElement(
            false, // isFixed
            undefined, // top
            undefined, // left
            '0px', // bottom
            this.width // width
          )
        } else {
          // Floating 상태
          this.fixElement(
            true, // isFixed
            marginTop + 'px', // top
            parentLeft + 'px', // left
            undefined, // bottom
            parentWidth + 'px' // width
          )
        }
      } else {
        // Top에 고정된 상태(초기 상태)
        this.fixElement(false, undefined, undefined, undefined, this.width)
      }
    },
    handleStickyInterval(interval) {
      var self = this
      var remainResizeCount = (this.resizeDuration * 1000) / this.resizeInterval

      var intervalId = setInterval(intervalFunc, interval)

      function intervalFunc() {
        if (remainResizeCount < 1) clearTimeout(intervalId)
        self.handleSticky()
        remainResizeCount--
      }
    },
    handleScroll() {
      this.handleSticky()
    },
    handleResize() {
      this.handleSticky()
      this.handleStickyInterval(this.resizeInterval)
    }
  }
}
</script>

<style module>
.sticky-grid {
}
.is-fixed {
}
</style>
