.real-estate-map {
  &__overlay {
    border-radius: 5px;

    background-color: $bg-white;
    color: white;


    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);

    &::after { // arrow
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 18px;
      height: 18px;
      margin: auto;

      box-shadow: -3px 3px 3px 0 rgba(0,0,0,.2);

      background-color: $bg-white;

      transform-origin: 0 0;
      @include rotate(-45);
    }
  }

  &__link {
    display: flex;
    align-items: center;

    border-radius: 5px 5px 0px 0px;
    padding: 10px;

    font-size: 1.2em;

    background-color: $theme-color;
  }
  &__title {
  }

  &__thumbnail {
  }

  &__content {
    display: flex;
    align-items: center;

    padding: 10px;
    border-radius: 0px 0px 5px 5px;

    color: $theme-color-black;
  }

  &__desc {
    padding: 10px;

    text-align: center;
  }

  &__address {
    white-space: pre;
  }

  &__icon {

    display: flex;

    &--building {
      margin-right: 10px;
    }

    &--arrow {
      position: absolute;
      right: 0;
    }
  }
}
