<template>
  <div :class="$style['area--maximum']">
    <jumbo-screen
      with-header>
      <h1 :class="$style.title"><span :class="$style.title__text">투자 상품 리스트</span></h1>
    </jumbo-screen>
    <div
      :class="$style['area--partial']">
      <invest-product-card-list
        :items="cardItems"
      />
    </div>
  </div>
</template>

<script>
import JumboScreen from '~/components/screens/Jumbo.vue'
import InvestProductCardList from '~/components/cards/InvestProductList.vue'

export default {
  layout: 'base/base',
  components: { JumboScreen, InvestProductCardList },
  fetch({ store, params }) {
    store.dispatch('data/base')
  },
  data() {
    return {
      cardItems: [
        {
          index: 1,
          id: 1,
          link: '/invest/view/1',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'ready',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 2,
          id: 1,
          link: '/invest/view/2',
          category: '부동산 경매',
          title:
            '경기도 수원시 팔달구 효원로 104 긴 제목 입니다 긴 제목 입니다 긴 제목 입니다',
          profit: 20,
          status: 'funding',
          period: 4,
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 3,
          id: 3,
          link: '/invest/view/3',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'fail',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 4,
          id: 4,
          link: '/invest/view/4',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'cancel',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 5,
          id: 5,
          link: '/invest/view/5',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'finish',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 6,
          id: 6,
          link: '/invest/view/6',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'repaying',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 7,
          id: 7,
          link: '/invest/view/7',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'delay',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 8,
          id: 8,
          link: '/invest/view/8',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'poor',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        },
        {
          index: 9,
          id: 9,
          link: '/invest/view/9',
          category: '부동산 경매',
          title: '경기도 수원시 팔달구 효원로 104',
          label: '투자 하기',
          status: 'complete',
          desc:
            '내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.내용 입니다.',
          profit: 20,
          period: 4,
          rank: 'B+',
          total: 10000,
          funds: 5000,
          tags: ['첫 오픈', '높은 수익률', '부동산 담보'],
          open: '2019-03-01 10:10:10',
          close: '2019-03-01 10:10:10'
        }
      ]
    }
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/invest/index.css' }]
  }
}
</script>

<style module>
.area--maximum {
  /* 최대 너비 사용 */
}
.area--partial {
  /* 부분 너비 사용 */
}
.title {
}
.title__text {
}
</style>
