<template>
  <div
    v-if="design == 'wave'"
    :class="getClasses('jumbo')">
    <wave-background/>
    <div
      :class="
      getClasses('elem')">
      <slot/>
    </div>
  </div>
  <div
    v-else
    :class="getClasses('jumbo')">
    <div
      :style="elemDefaultStyle"
      :class="
      getClasses('elem')">
      <slot/>
    </div>
  </div>
</template>
      <script>
import WaveBackground from '~/components/backgrounds/Wave'
/**
 * JumboScreen
 * @vuedoc
 * @classdesc 점보 스크린으로 스크린 전체를 차지하는 컴포넌트
 * @exports screens/Jumbo
 */
export default {
  name: 'JumboScreen',
  components: { WaveBackground },
  props: {
    design: {
      type: String,
      default: 'green-patt' // image
    },
    size: {
      type: String,
      default: 'm' // 's', 'm', 'l', 'xl'
    },
    align: {
      type: String,
      default: 'center' // left, center, right
    },
    verticalAlign: {
      type: String,
      default: 'top' // top, bottom, middle
    },
    bgImage: {
      type: String,
      default: undefined
    }
  },
  computed: {
    elemDefaultStyle: function() {
      return {
        background: 'url(' + this.bgImage + ')',
        backgroundSize: 'cover',
        backgroundPosition: '50%',
        backgroundRepeat: 'no-repeat'
      }
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'jumbo':
          classes[this.$style['jumbo-screen']] = true
          classes[this.$style['jumbo-screen--size-' + this.size]] = true
          classes[this.$style['jumbo-screen--with-header']] = this.withHeader
          classes[this.$style['jumbo-screen--' + this.design]] = true
          break
        case 'elem':
          classes[this.$style['jumbo-screen__elem']] = true
          classes[this.$style['jumbo-screen__elem--' + this.align]] = true
          classes[
            this.$style['jumbo-screen__elem--' + this.verticalAlign]
          ] = true
          break
      }
      return classes
    }
  }
}
</script>
<style module>
.jumbo-screen {
}
.jumbo-screen--size-s {
}
.jumbo-screen--size-m {
}
.jumbo-screen--size-l {
}
.jumbo-screen--size-xl {
}
.jumbo-screen--with-header {
}
.jumbo-screen--wave {
}
.jumbo-screen--image {
}
.jumbo-screen--green-patt {
}
.jumbo-screen--blue-patt {
}
.jumbo-screen__elem {
}
.jumbo-screen__elem--left {
}
.jumbo-screen__elem--center {
}
.jumbo-screen__elem--right {
}
.jumbo-screen__elem--top {
}
.jumbo-screen__elem--middle {
}
.jumbo-screen__elem--bottom {
}
</style>
