// ==========================================================================
// Variables
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

// ==========================================================================
// Default setup
// ==========================================================================
// $theme-color: #6ec3a0;
$theme-color: #00a86b;
$theme-color-lighten: rgb(183, 247, 189);
$theme-color-pastel: #00ffa3;
$theme-color-darken: #298063;
$theme-color-black: #332f2f;
$theme-color-black2: #231f1f;
$theme-color-blue-light: #678EEE;
$theme-color-blue: #27199F;
$theme-color-skyblue: #4A90E2;

$theme-confirm-color: #231f1f;

$fg-color: rgb(250, 250, 250);
$bg-color: black;
$fg-black: rgba(30, 30, 30, 0.75);
$bg-black: rgb(30, 30, 30);
$fg-white: rgba(250, 250, 250, 0.95);
$bg-white: rgb(250, 250, 250);
$transparent: rgba(0,0,0,0);
$body-bg: rgb(249, 249, 250);
$blue-color: #1f90f9;

// Effect
$hover-transition-time: 0.1s;

// Width
$desktop-max-width: 1450px;
$tablet-max-width: 1100px;
$tablet-small-max-width: 800px;
$tablet-middle-max-width: 1000px;
$tablet-large-max-width: $tablet-max-width;
$mobile-max-width: 600px;

$wide-width: $desktop-max-width;
$desktop-width: $tablet-max-width;
$tablet-width: $mobile-max-width;
$mobile-width: 400px;
