//
// --------8-----------5-----
// |               |        |
// |               5   b    |
// |               |        |
// 8       a       |-2---3--|
// |               1e|f|    |
// |               | d 3 c  |
// |               |   |    |
// --------------------------
//
//
//

.golden-spiral-grid {
  width: 100%;
  height: 100%;

  &__a {
    width: 100%;
    height: 100%;

    background-color: #ccc;

    &--side {
      width: 100%;
      height: 100%;
    }
  }

  &__b {
    width: 100%;
    height: 100%;

    background-color: #aaa;

    &--side {
      width: 100%;
      height: 100%;
    }
  }

  &__c {
    width: 100%;
    height: 100%;

    background-color: #999;

    &--side {
      width: 100%;
      height: 100%;
    }
  }

  &__d {
    width: 100%;
    height: 100%;

    background-color: #666;

    &--side {
      width: 100%;
      height: 100%;
    }
  }

  &__e {
    width: 100%;
    height: 100%;

    background-color: #333;

    &--side {
      width: 100%;
      height: 100%;
    }
  }

  &__f {
    width: 100%;
    height: 100%;

    background-color: #111;

    &--side {
      width: 100%;
      height: 100%;
    }
  }
}

$golden-spiral-grid-a: 61.5%;
$golden-spiral-grid-a-side: 38.5%;

$golden-spiral-grid-b: 62.5%;
$golden-spiral-grid-b-side: 37.5%;

$golden-spiral-grid-c: 60%;
$golden-spiral-grid-c-side: 40%;

$golden-spiral-grid-d: 66.6%;
$golden-spiral-grid-d-side: 33.4%;

$golden-spiral-grid-e: 61.5%;

$golden-spiral-grid-f: 38.5%;

.golden-spiral-grid--type-1,
.golden-spiral-grid--type-3,
.golden-spiral-grid--type-6,
.golden-spiral-grid--type-8 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__a {
      width: $golden-spiral-grid-a;

      &--side {
        width: $golden-spiral-grid-a-side;
      }
    }

    &__b {
      height: $golden-spiral-grid-b;

      &--side {
        height: $golden-spiral-grid-b-side;
      }
    }


    &__c {
      width: $golden-spiral-grid-c;

      &--side {
        width: $golden-spiral-grid-c-side;
      }
    }

    &__d {
      height: $golden-spiral-grid-d;

      &--side {
        height: $golden-spiral-grid-d-side;
      }
    }

    &__e {
      width: $golden-spiral-grid-e;
    }

    &__f {
      width: $golden-spiral-grid-f;
    }
  }
}

.golden-spiral-grid--type-2,
.golden-spiral-grid--type-4,
.golden-spiral-grid--type-5,
.golden-spiral-grid--type-7 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__a {
      height: $golden-spiral-grid-a;

      &--side {
        height: $golden-spiral-grid-a-side;
      }
    }

    &__b {
      width: $golden-spiral-grid-b;

      &--side {
        width: $golden-spiral-grid-b-side;
      }
    }

    &__c {
      height: $golden-spiral-grid-c;

      &--side {
        height: $golden-spiral-grid-c-side;
      }
    }

    &__d {
      width: $golden-spiral-grid-d;

      &--side {
        width: $golden-spiral-grid-d-side;
      }
    }

    &__e {
      height: $golden-spiral-grid-e;
    }

    &__f {
      height: $golden-spiral-grid-f;
    }
  }
}

.golden-spiral-grid--type-1 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__a {
      float: left;

      &--side {
        float: right;
      }
    }

    &__c {
      float: right;

      &--side {
        float: left;
      }
    }

    &__e {
      float: left;
    }

    &__f {
      float: right;
    }
  }
}

.golden-spiral-grid--type-2 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__b {
      float: right;

      &--side {
        float: left;
      }
    }

    &__d {
      float: left;

      &--side {
        float: right;
      }
    }
  }
}

.golden-spiral-grid--type-3 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__a {
      float: right;

      &--side {
        float: left;
      }
    }

    &__c {
      float: left;

      &--side {
        float: right;
      }
    }

    &__e {
      float: right;
    }

    &__f {
      float: left;
    }
  }
}

.golden-spiral-grid--type-4 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__b {
      float: left;

      &--side {
        float: right;
      }
    }

    &__d {
      float: right;

      &--side {
        float: left;
      }
    }
  }
}

.golden-spiral-grid--type-5 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__b {
      float: left;

      &--side {
        float: right;
      }
    }

    &__d {
      float: right;

      &--side {
        float: left;
      }
    }
  }
}

.golden-spiral-grid--type-6 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__a {
      float: right;

      &--side {
        float: left;
      }
    }

    &__c {
      float: left;

      &--side {
        float: right;
      }
    }

    &__e {
      float: right;
    }

    &__f {
      float: left;
    }
  }
}

.golden-spiral-grid--type-7 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__b {
      float: right;

      &--side {
        float: left;
      }
    }

    &__d {
      float: left;

      &--side {
        float: right;
      }
    }
  }
}

.golden-spiral-grid--type-8 {
  $b: '.golden-spiral-grid';
  #{$b} {
    &__a {
      float: left;

      &--side {
        float: right;
      }
    }

    &__c {
      float: right;

      &--side {
        float: left;
      }
    }

    &__e {
      float: left;
    }

    &__f {
      float: right;
    }
  }
}
