// ==========================================================================
// SplitGrid - split 그리드
//
// Copyright (c) 2019 Founding inc.
//
// 1-1, 1-2, 1-3, 1-4, 1-5
// 2-1, 2-3, 2-5
// 3-1, 3-2, 3-4, 3-5
// 4-1, 4-3, 4-5
// 5-1, 5-2, 5-3, 5-4
// ==========================================================================

.split-grid {
  $b: &;

  width: 100%;
  position: relative;

  display: flex;

  $f1-2: 50%; // 1/2
  $f1-3: 33.4%; // 1/3

  $f2-3: 66.6%; // 2/3

  $f1-4: 25%; // 1/4
  $f3-4: 75%; // 3/4

  $f1-5: 20%; // 1/5
  $f2-5: 40%; // 2/5
  $f3-5: 60%; // 3/5
  $f4-5: 80%; // 4/5

  $f1-6: 16.6%; // 1/6
  $f5-6: 83.4%; // 5/6

  $f1-7: 14.2%; // 1/7
  $f2-7: 28.4%; // 2/7
  $f3-7: 42.6%; // 3/7
  $f4-7: 57.4%; // 4/7
  $f5-7: 71.6%; // 5/7
  $f6-7: 85.8%; // 6/7

  $f1-8: 12.5%; // 1/8
  $f3-8: 37.5%; // 3/8
  $f5-8: 62.5%; // 5/8
  $f7-8: 87.5%; // 7/8

  $f1-9: 11.11%; // 1/9
  $f2-9: 22.22%; // 2/9
  $f4-9: 44.44%; // 4/9
  $f5-9: 55.56%; // 5/9
  $f7-9: 77.78%; // 7/9
  $f8-9: 88.89%; // 8/9

  &__elem {
    /**/
  }

  &__left, &__right, &__top, &__bottom {
    position: relative;
  }

  // 1:1
  &--1-1 {
    #{$b} {
      &__left {
        width: $f1-2;
      }
      &__right {
        width: $f1-2;
      }
    }
  }

  // 1:2
  &--1-2 {
    #{$b} {
      &__left {
        width: $f1-3;
      }
      &__right {
        width: $f2-3;
      }
    }
  }

  // 1:3
  &--1-3 {
    #{$b} {
      &__left {
        width: $f1-4;
      }
      &__right {
        width: $f3-4;
      }
    }
  }

  // 1:4
  &--1-4 {
    #{$b} {
      &__left {
        width: $f1-5;
      }
      &__right {
        width: $f4-5;
      }
    }
  }

  // 1:5
  &--1-5 {
    #{$b} {
      &__left {
        width: $f1-6;
      }
      &__right {
        width: $f5-6;
      }
    }
  }

  // 2:1
  &--2-1 {
    #{$b} {
      &__left {
        width: $f2-3;
      }
      &__right {
        width: $f1-3;
      }
    }
  }

  // 2:3
  &--2-3 {
    #{$b} {
      &__left {
        width: $f2-5;
      }
      &__right {
        width: $f3-5;
      }
    }
  }

  // 2:5
  &--2-5 {
    #{$b} {
      &__left {
        width: $f2-7;
      }
      &__right {
        width: $f5-7;
      }
    }
  }

  // 3:1
  &--3-1 {
    #{$b} {
      &__left {
        width: $f3-4;
      }
      &__right {
        width: $f1-4;
      }
    }
  }

  // 3:2
  &--3-2 {
    #{$b} {
      &__left {
        width: $f3-5;
     }
      &__right {
        width: $f2-5;
      }
    }
  }

  // 3:4
  &--3-4 {
    #{$b} {
      &__left {
        width: $f3-7;
      }
      &__right {
        width: $f4-7;
      }
    }
  }

  // 3:5
  &--3-5 {
    #{$b} {
      &__left {
        width: $f3-8;
      }
      &__right {
        width: $f5-8;
      }
    }
  }

  // 4:1
  &--4-1 {
    #{$b} {
      &__left {
        width: $f4-5;
      }
      &__right {
        width: $f1-5;
      }
    }
  }

  // 4:3
  &--4-3 {
    #{$b} {
      &__left {
        width: $f4-7;
      }
      &__right {
        width: $f3-7;
      }
    }
  }

  // 4:5
  &--4-5 {
    #{$b} {
      &__left {
        width: $f4-9;
      }
      &__right {
        width: $f5-9;
      }
    }
  }

  // 5:1
  &--5-1 {
    #{$b} {
      &__left {
        width: $f5-6;
      }
      &__right {
        width: $f1-6;
      }
    }
  }

  // 5:2
  &--5-2 {
    #{$b} {
      &__left {
        width: $f5-7;
      }
      &__right {
        width: $f2-7;
      }
    }
  }

  // 5:3
  &--5-3 {
    #{$b} {
      &__left {
        width: $f5-8;
      }
      &__right {
        width: $f3-8;
      }
    }
  }

  // 5:4
  &--5-4 {
    #{$b} {
      &__left {
        width: $f5-9;
      }
      &__right {
        width: $f4-9;
      }
    }
  }
}

.split-grid--horizontal {
  /**/
}

.split-grid--vertical {
  /**/
}
