// ==========================================================================
// BaseSearch
//
// Copymright (c) 2019 Founding inc.
// ==========================================================================
.search {
  /**/
  &__form {
    position: relative;

    width: 520px;
  }

  &__input {
    outline: none;

    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-sizing: border-box;
    color: #202124;
    display: block;
    font-size: 16px;
    height: 48px;
    padding: 0 40px 0 72px;
    width: 100%;
    -webkit-appearance: none;

    line-height: 20px;

    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    margin: 0em;

    &:focus {
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);

    }
  }

  &__label {
    /**/
  }

  &__btn {
    /**/
    &--search {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 24px;
      padding: 0;
      position: absolute;
      top: 12px;
      width: 24px;
      left: 24px;
      align-items: flex-start;
      text-align: center;
      color: buttontext;

      svg {
        width: 1.8em;
        height: 1.8em;
      }
    }
  }
}
