<template>
  <div :class="getClasses('indicator')">
    <div
      v-for="(value) in totalStep"
      :key="value"
      :data="value"
      :class="getClasses('elem', value)"
      @click="clickIndicator" />
  </div>
</template>
<script>
/**
 * BaseIndicator
 * @vuedoc
 * @classdesc 현재 스텝을 나타내는 컴포넌트
 * @exports indicators/Base
 */
export default {
  name: 'BaseIndicator',
  props: {
    type: {
      type: String,
      default: 'dash' // dot, dash
    },
    totalStep: {
      type: Number,
      required: true,
      default: 10
    },
    currentStep: {
      // sync
      type: Number,
      required: true,
      default: 10
    }
  },
  computed: {
    step: {
      get: function() {
        return this.currentStep
      },
      set: function(value) {
        this.$emit('update:currentStep', value)
      }
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'indicator':
          classes[this.$style['indicator']] = true
          classes[this.$style['indicator--' + this.type]] = true
          break
        case 'elem':
          classes[this.$style['indicator__elem']] = true
          if (arg < this.step) {
            classes[this.$style['indicator__elem--deactivate']] = true
          }
          if (arg == this.step) {
            classes[this.$style['indicator__elem--activate']] = true
          }
          break
      }
      return classes
    },
    clickIndicator(event) {
      var nextStep = event.target.getAttribute('data')
      nextStep = parseInt(nextStep)
      if (typeof nextStep === 'number') {
        this.step = nextStep
      }
    }
  }
}
</script>
<style module>
.indicator {
}
.indicator--dash {
}
.indicator--dot {
}
.indicator__elem {
}
.indicator__elem--activate {
}
.indicator__elem--deactivate {
}
</style>
