.column-summary-section {

  &__elem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: content-box; // border-color 가 transparent 일 경우 적용
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
.column-summary-section--base-2 {
  $b: '.column-summary-section';
  #{$b} {
    &__elem {
      flex: 1 0 49%; // 일반적인 경우 row 당 2개

      @include media(">tablet") {
        flex: 1 0 21%; // wide의 경우 row 당 4개
      }
    }
  }
}
.column-summary-section--base-4 {
  $b: '.column-summary-section';
  #{$b} {
    &__elem {
      flex: 1 0 21%; // 일반적인의 경우 row 당 4개

      @include media("wide") {
        flex: 1 0 12%; // wide 의 경우 row 당 8개
      }

      @include media("mobile") {
        flex: 1 0 49%; // 모바일의 경우 row 당 2개
      }
    }
  }
}
.column-summary-section--type-rect {
  $b: '.column-summary-section';
  #{$b} {
    &__elem::before {
      content: '';
      padding-top: 100%;
    }
  }
}
