.column-summary-metro-button-section {
  $b: &;

  /**/

  &__elem {
    /**/
  }

  &__title {
    @include media("wide") {
      font-size: 2.1em;
    }

    @include media("desktop") {
      font-size: 1.7em;
    }

    @include media("tablet") {
      font-size: 2em;
    }

    @include media("tablet-s") {
      font-size: 1.8em;
    }

    @include media("mobile") {
      font-size: 1.1em;
    }
  }

  &__title-icon {
    position:absolute;

    top: 10%;

    @include media("wide") {
      font-size: 4em;
    }

    @include media("desktop") {
      top: 15%;
      font-size: 2.5em;
    }

    @include media("tablet") {
      top: 15%;
    }

    @include media("tablet-l") {
      font-size: 3.5em;
    }

    @include media("tablet-m") {
      font-size: 3em;
    }

    @include media("tablet-s") {
      font-size: 2.5em;
    }

    @include media("mobile") {
      top: 18%;
      font-size: 1.8em;
    }

    @media (max-width: 400px) {
      top: 12%;
      font-size: 1.5em;
    }
  }

  &__title-text {
  }

  &__info {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  &__info-text {
    font-size: 0.9em;

    @include media("mobile") {
      display: none;
    }
  }

  &__info-icon {

    svg {
      font-size: 3em;

      @include media("tablet") {
        font-size: 2.5em;
      }

      @include media("mobile") {
        margin-left: 20px;
        font-size: 2em;
      }

    }
  }
}

.column-summary-metro-button-section--theme {
  $b: '.column-summary-metro-button-section';

  &-default {
    #{$b} {
      &__elem {
        color: white;
        background-color: $theme-color;
        border: 0px solid black;

        &:hover {
          border: 10px solid $theme-color;
        }
        &:active {
          color: $theme-color-lighten;
        }
      }
    }
  }

  &-blue { // theme color
    #{$b} {
      &__elem {
        color: white;
        background-color: $theme-color-skyblue;
        border: 0px solid black;

        &:hover {
          border: 10px solid $theme-color-blue-light;
        }
        &:active {
          color: $theme-color-blue;
        }
      }
    }
  }
}
