.subscribe-section {
  display: flex;
  flex-direction: column;

  background-image: url(/image/mail-bg.png);
  width: 100%;
  height: 300px;
  padding: 30px;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  &__title {
    font-size: 2em;

    text-align: center;

    color: white;

    z-index: 1;
  }

  &__input {
    margin: auto;

    @include media(">tablet") {
      width: 40%;
    }
    @include media("tablet") {
      width: 60%;
    }
    @include media("mobile") {
      width: 80%;
    }
  }
}
