@mixin logo-rect ($w, $h) {
  .logo {
    &--rect {
      img {
        width: $w;
        height: $h;
      }
    }
  }
}

@mixin partial-width () {
  @include media("wide") {
    width: $wide-width;
  }
  @include media("desktop") {
    width: $desktop-width;
  }
  @include media("tablet") {
    // width: $tabbar-tablet-width;
    width: 90%;
  }
  @include media("mobile") {
    width: 95%;
  }
}

@mixin header-margin () {
  @include media(">tablet") {
    margin-top: 81px;
  }
  @include media("tablet") {
    margin-top: 51px;
  }
  @include media("mobile") {
    margin-top: 46px;
  }
}
