@import './preset';
@import './common';

// redefine variables

.mac-os {
  /**/
}
.windows {
  /**/
}
.ios {
  /**/
}
.android {
  /**/
}

.chrome {
  /**/
}
.safari {
  /**/
}
.opera {
  /**/
}
.firefox {
  /**/
}
.ie {
  /**/
}
.ie--11 {
  /**/
}
.ie--10 {
  /**/
}
.ie--9 {
  /**/
}

.is-mobile {
  /**/
}
.is-not-mobile {
  /**/
}

@import './postset';
