@mixin adaptive_placeholder($height, $radius, $color: #00bafa) {
    $border: 1px;
    $margin: 1.2em;
    $borders: ($border * 2); // <- To avoid repeating below
    box-sizing: border-box; // <- Important for accurate sizing
    width: 100%; // <- Could be almost anything
    height: calc(#{$height} + #{$borders});
    margin: 0 0 $margin;
    padding: $margin;
    border: $border solid #ccc;
    border-radius: $radius;
    background: #fff;
    resize: none; // <- For textareas
    outline: none; // <- Because ugly
    //
    // Following block controls all the color change
    //
    &[required] {
      //
      // 입력중이거나 입력되었을 때
      //
      &:focus,
      &:valid {
        border-color: $color;

        + label {
          &[placeholder] {
            &:before {
              color: $color;

              transition-duration: 0.3s;
              //
              // 위로 이동
              //
              transform: translate(0, ($margin * -1.5)) scale(0.9, 0.9);
            }
          }
          &[info] {
            &:after {
              display: inline-block;
              transition-duration: 0.3s;
              //
              // 아래로 이동
              //
              transform: translate(0, ($margin * 1.5)) scale(0.9, 0.9);
            }
          }
        }
      }

      // 라벨 초기 설정
      + label {
        position: relative;

        display: block;

        pointer-events: none; // Allows clicking thru label
        line-height: $margin * 1.25;
        // Following pulls label into position
        margin-top: calc(-#{$height} - #{$borders});
        // Following offsets that above
        margin-bottom: calc(#{$height} - #{$margin} + #{$borders});
        //
        // placeholder가 설정되었을 경우 :before 사용
        // 항상 보임
        //
        &[placeholder] {
          &:before {
            content: attr(placeholder); // Content property 2 of 2

            display: inline-block;
            margin: 0 calc(#{$margin} + #{$borders});
            padding: 0 2px;
            color: #898989;
            white-space: nowrap;
            transition: 0.3s ease-in-out;
            //
            // Following lines lets me use solid color as bkg img.
            // This lets me size bkg to something more sublte
            //
            background-image: linear-gradient(to bottom, #fff, #fff);
            background-size: 100% 5px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        //
        // info가 설정되었을 경우 :after 사용
        // 입력시에만 보임
        //
        &[info] {
          &:after {
            content: attr(info); // Content property 2 of 2

            position: absolute;
            left: 0;

            display: none;
            margin: 0 calc(#{$margin} + #{$borders});
            padding: 0 2px;
            color: #898989;
            white-space: nowrap;
            transition: 0.3s ease-in-out;
            //
            // Following lines lets me use solid color as bkg img.
            // This lets me size bkg to something more sublte
            //
            background-image: linear-gradient(to bottom, #fff, #fff);
            background-size: 100% 5px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
