.input {
  display: flex;
  align-items: center;

  margin: 15px 0px;

  &__title {
    flex-basis: 100px;

    margin: 0 10px 0 5px;
  }

  &__group {
    position: relative;

    display: inline-block;

    flex-grow: 1;

  }

  &__elem {
    /**/
    &--button {
      /**/
    }

    &--number {
      /**/
    }

    &--password {
      /**/
    }

    &--password-number {
      /**/
    }

    &--text {
      /**/
    }
  }
}

.input--type-button {
  /**/
}

.input--type-text,
.input--type-password,
.input--type-number,
.input--type-password-number {
  $b: '.input';

  $height: $form-input-height;
  $radius: $height / 8;
  $color: $theme-color;
  $border: 1px;
  $borders: ($border * 2);
  $box-height: $height+$borders;
  $padding: $form-input-padding;

  #{$b} {
    &__group {
      display: flex;

      align-items: center;

      height: calc(#{$height} + #{$borders});
      margin: 0px;
      padding: $padding;
      border: $border solid $form-input-border-color;
      border-radius: $radius;

      background-color: #fff;

      transition: 0.3s ease-in-out;

      @include at-browser('ie') {
        display: block;

        padding-top: 0px;
      }
    }

    &__prefix {
      /**/
    }

    &__suffix {
      /**/
    }

    &__elem {
      width: 100%; // <- Could be almost anything
      height: $height;
      padding: 5px;
      border: 0;
      box-shadow: none;

      background-color: transparent;

      resize: none; // <- For textareas
      outline: none; // <- Because ugly

      transition: 0.3s ease-in-out;

      @include at-browser('ie') {
        margin: 0 0 $padding;
      }

      @include at-browser('ie9') {
        margin-top: 25px;
      }

      &[required] { // 입력중이거나 입력되었을 때를 분간하기 위해서 필수
        //
        // 입력중이거나 입력되었을 때
        //
        &:focus,
        &:valid {
          + label {
            &[placeholder]:before {
              //
              // 위로 이동
              //
              transition-duration: 0.3s;
              transform: translate(0, ($box-height * -0.5)) scale(0.9, 0.9);
            }
            &[info]:after {
              display: inline-block;

              //
              // 아래로 이동
              //
              transition-duration: 0.3s;
              transform: translate(0, ($box-height * 0.5)) scale(0.9, 0.9);
            }
          }
        }
      }
    }

    &__label {
      position: absolute;
      left: 0;
      top: 0;

      display: block;

      margin-top: ($height / 2) - (($box-height - ($padding * 2)) / 2);

      pointer-events: none; // Allows clicking thru label

      // placeholder가 설정되었을 경우 :before 사용
      // 항상 보임
      //
      &[placeholder]:before {
        content: attr(placeholder); // Content property 2 of 2

        display: inline-block;

        margin: 0 calc(#{$padding} + #{$borders});
        padding: 0 5px;
        border-radius: 5px;

        color: $form-input-placeholder-color;
        background-color: white;

        white-space: nowrap;

        transition: 0.3s ease-in-out;
      }
      //
      // info가 설정되었을 경우 :after 사용
      // 입력시에만 보임
      //
      &[info]:after {
        content: attr(info); // Content property 2 of 2

        position: absolute;
        left: 0;
        z-index: 1;

        display: none;

        margin: 0 #{$padding};
        padding: 0 5px;
        border-radius: 5px;

        color: $form-input-placeholder-color;
        background-color: white;

        white-space: nowrap;

        transition: 0.3s ease-in-out;
      }

      @include at-browser('ie9') {
        &[placeholder]:before {
          position: absolute;

          margin-top: -25px;
        }
        &[info]:after {
          position: absolute;

          margin-top: 25px;
        }
      }
    }
  }

  &#{$b}--focus {
    #{$b} {
      &__group {
        border-color: $color;
      }

      &__label {
        &[placeholder]:before {
          color: $color;
        }
      }
    }
  }

  &#{$b}--status-valid {
    #{$b} {
      &__group {
        border-color: green;
      }

      &__label {
        &[placeholder]:before {
          color: green;
        }
      }
    }
  }

  &#{$b}--status-invalid {
    #{$b} {
      &__group {
        border-color: red;
      }

      &__label {
        &[placeholder]:before {
          color: red;
        }
      }
    }
  }

  &#{$b}--status-empty {
    /**/
  }

  &#{$b}--disabled {
    #{$b} {
      &__group {
        border-color: rgb(220, 220, 220);
        background-color: #fafafa;
      }

      &__elem {
        background-color: #fafafa;
      }

      &__label {
        &[placeholder]:before {
            color: rgb(220, 220, 220);
            background-color: #fafafa;
        }
      }
    }
  }
}
