.checkbox-input {
  $b: &;
  /**/

  &__text {
    /**/
  }

  &__label {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0,0,0);

    &:before {
      content: "";
      position: absolute;
      top: -14px;
      left: -14px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: rgba(#223254,.03);
      opacity: 0;
      transition: opacity .2s ease;
    }

    svg {
      position: relative;
      top: 2px; /* 텍스트와 맞추기 위해서 */
      margin-right: 4px;
      z-index: 1;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #C8CCD4;
      stroke-width: 1.5;
      transform: translate3d(0,0,0);
      transition: all .2s ease;
      path {
        stroke-dasharray: 60;
        stroke-dashoffset: 0;
        transition: all .3s linear;
        transition-delay: .05s;
      }
      polyline {
        stroke-dasharray: 22;
        stroke-dashoffset: 66;
        transition: all .2s linear;
      }
    }

    &:hover {
      &:before {
        opacity: 1;
      }
      svg {
        stroke: $theme-color;
      }
    }
  }
  &__elem:checked + #{$b}__label {
    svg {
      stroke: $theme-color;
      path {
        stroke-dashoffset: 60;
        transition: all .3s linear;
      }
      polyline {
        stroke-dashoffset: 42;
        transition: all .2s linear;
        transition-delay: .15s;
      }
    }
  }
}
