.email-input {
  &__send {
    position: absolute;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 100%;
    border-radius: 5px;

    font-size: 1.2em;
    color: white;
    background-color: gray;

    cursor: pointer;

    @include transition-property(background-color);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease);
  }
}
.email-input.is-valid {
  $b: '.email-input';

  #{$b} {
    &__send {
      background-color: $theme-color;
    }
  }
}
