.personal-number-input {
  display: flex;
  flex-direction: column;
}
.personal-number-input__title {
  /**/
}
.personal-number-input__dash {
  margin: 0px 3px;
}
.personal-number-input__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-number-input__input-wrapper {
  display: flex;
  align-items: center;
}
.personal-number-input__input-wrapper .input {
  flex-grow: 1;
}
