.textarea-input {
  display: flex;

  width: 100%;
  height: 100%;

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;

    @include media("mobile") {
      flex-basis: initial;
    }
  }

  &__group {
    display: flex;

    flex-grow: 1;
  }

  &__elem {
    flex-grow: 1;
    height: 100%;

    resize: none;

    border: 1px solid $form-input-border-color;
    border-radius: 6.5px;
    padding: $form-input-padding;

    outline: none;

    &:focus {
      border-color: $theme-color;
      box-shadow: 0px 0px 1px $theme-color;
    }

    &::placeholder {
      color: $form-input-placeholder-color;
    }
  }
}

.textarea-input {
  @include media("mobile") {
    flex-direction: column;
  }
}
