@import '../common';

.title {
  margin: 40px 0px;
  margin-top: 130px;

  color: #fff;

  font-size: 2.3em;
  text-align: center;

  @include user-select(none);

  @include media("tablet") {
    margin-top: 100px;
  }
  @include media("mobile") {
    margin-top: 100px;
  }

  &__text {
    position: relative;
    z-index: 2;

    padding: 0px 5px;

    &::after {
      content: '';

      position: absolute;
      top: 40%;
      left: 0;
      z-index: -1;

      width : 100%;
      height: 70%;

      background-color: rgba(30, 30, 30, 0.4);
    }
  }
}

.area--partial {
  margin-top: -350px !important;
  padding-bottom: 70px !important;

  @include media("desktop") {
    margin-top: -300px !important;
  }
  @include media("tablet") {
    margin-top: -280px !important;
  }
  @include media("mobile") {
    margin-top: -200px !important;
  }
}
