<template>
  <div :class="getClasses('tabbar')">
    <div
      v-if="logo == true"
      :class="getClasses('logo')">
      <base-logo
        :type="logoType"
    /></div>
    <div :class="getClasses('left')">
      <ul :class="getClasses('item-container')">
        <li
          v-for="(item, index) in items"
          v-if="item.side == 'left'"
          :class="getClasses('item', item.type)"
          :key="index">
          <slot
            v-if="item.type == 'slot'"
            :name="item.data"/>
          <base-item
            v-else
            :item="item"
        /></li>
      </ul>
    </div>
    <div :class="getClasses('center')">
      <ul :class="getClasses('item-container')">
        <li
          v-for="(item, index) in items"
          v-if="item.side == 'center'"
          :class="getClasses('item', item.type)"
          :key="index">
          <slot
            v-if="item.type == 'slot'"
            :name="item.data"/>
          <base-item
            v-else
            :item="item"
          />
        </li>
      </ul>
    </div>
    <div :class="getClasses('right')">
      <ul :class="getClasses('item-container')">
        <li
          v-for="(item, index) in items"
          v-if="item.side == 'right'"
          :class="getClasses('item', item.type)"
          :key="index">
          <slot
            v-if="item.type == 'slot'"
            :name="item.data"/>
          <base-item
            v-else
            :item="item"
        /></li>
      </ul>
    </div>
  </div>
</template>

<script>
import BaseItem from '~/components/items/Base.vue'
import BaseLogo from '~/components/logos/Base.vue'

/**
 * BaseTabbar
 * @description 탭을 만들기 위한 컴포넌트입니다. 배열인 `items`를 프로퍼티로 받고, 각 `item` 에는 Tabbar 에 그릴 데이터가 존재해야 합니다.
 * 각 `item`은 `type` 으로 나뉘고, `slot` 타입은 `item.data` 를 이용해 이름을 설정하고, 나머지 타입은 `BaseItem` 컴포넌트에서 생성됩니다.
 * @vuedoc
 * @property {Array} items
 * @property {String} items.name - 보여질 이름
 * @property {String} items.type - 타입, 'slot', 'link', 'dropdown', 'button'
 * @property {String} [items.side='left'] - 위치, 'left', 'center', 'right'
 * @property {String|Array|Object} items.data - 타입에 맞는 데이터, slot 일 경우 id 로 취급됨
 * @exports ui/Tabbar
 */
export default {
  name: 'BaseTabbar',
  components: { BaseItem, BaseLogo },
  props: {
    /**
     * 로고를 그립니다. `true` 일 경우 맨 왼쪽에 위치합니다.
     */
    logo: {
      type: Boolean,
      default: false
    },
    /**
     * 로고 타입을 설정합니다. 이 설정은 `BaseLogo` 에 종속됩니다.
     */
    logoType: {
      type: String,
      default: 'rect'
    },
    /**
     * 배열의 Item 입니다. `item.type=='slot'` 을 제외하고 모두 `BaseItem`에 종속됩니다.
     */
    items: {
      type: Array,
      default: () => {}
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'tabbar':
          classes[this.$style['tabbar']] = true
          break
        case 'logo':
          classes[this.$style['tabbar__logo']] = true
          break
        case 'left':
          classes[this.$style['tabbar__left']] = true
          break
        case 'center':
          classes[this.$style['tabbar__center']] = true
          break
        case 'right':
          classes[this.$style['tabbar__right']] = true
          break
        case 'item-container':
          classes[this.$style['tabbar__item-container']] = true
        case 'item':
          classes[this.$style['tabbar__item']] = true
          classes[this.$style['tabbar__item--' + arg]] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.tabbar {
}
.tabbar__logo {
}
,
.tabbar__left {
}
.tabbar__center {
}
.tabbar__right {
}
.tabbar__item-container {
}
.tabbar__item {
}

.tabbar__item--slot {
}
.tabbar__item--link {
}
.tabbar__item--dropdown {
}
.tabbar__item--btn {
}
.tabbar__item--login-btn {
}
.tabbar__item--signup-btn {
}
.tabbar__item--social-media-btn {
}
</style>
