// ==========================================================================
// Components only variables
// ==========================================================================

// ==========================================================================
// Elements
// ==========================================================================
// Button
// ==========================================================================
$button-fg-color: $fg-color;
$button-fg-hover-color: $theme-color;

$button-bg-color: none;
$button-bg-hover-color: $theme-color;

// Dropdown
// ==========================================================================
$dropdown-z-index: 1052;
$dropdown-menu-z-index: 1050;

$dropdown-border-width: 1px;
$dropdown-border-color: rgba(0, 0, 0, 0);
$dropdown-border-bottom-width: 1px; // hover 시
$dropdown-border-bottom-color: rgb(200, 200, 200); // hover 시

$dropdown-menu-text-color: $fg-black;
$dropdown-menu-bg-color: white;
$dropdown-menu-text-hover-color: white;
$dropdown-menu-bg-hover-color: $fg-black;

$dropdown-menu-border-width: 1px;
$dropdown-menu-border-color: $fg-black;

$dropdown-transition-time: $hover-transition-time;

// Card
// ==========================================================================
$invest-product-card-bg-color: rgb(248, 248, 248);
$invest-product-card-circle-border-color: $theme-color;
$invest-product-card-circle-bg-color: #fff;
$invest-product-card-circle-emphasis-bg-color: $theme-color;

// Carousel
// ==========================================================================
$carousel-showcase-height: 500px;
$carousel-indicator-height: 80px; // top, bottom 에서만 적용됨


$carousel-track-speed: 0.8s;
$carousel-showcase-z-index: 50;
$carousel-indicator-z-index: 51;

$carousel-selector-min-width: 150px;

$carousel-showcase-color: white;
$carousel-showcase-bg-color: white;

$carousel-indicator-bg-color: white;

// selector
$carousel-selector-color: black;
$carousel-selector-bg-color: inherit;

$carousel-selector-hover-color: none; // 모바일 touch 시 지저분해지므로 사용안함
$carousel-selector-hover-bg-color: darkgray;

$carousel-selector-activated-color: white;
$carousel-selector-activated-bg-color: dimgray;

$carousel-selector-activated-hover-color: none; // 모바일 touch 시 지저분해지므로 사용안함
$carousel-selector-activated-hover-bg-color: none;

// selector - inside
$carousel-selector-inside-color: white;
$carousel-selector-inside-bg-color: rgba(0, 0, 0, 0.5);

$carousel-selector-inside-hover-color: none; // 모바일 touch 시 지저분해지므로 사용안함
$carousel-selector-inside-hover-bg-color: none;

$carousel-selector-inside-activated-color: white;
$carousel-selector-inside-activated-bg-color: dimgray;

$carousel-selector-inside-activated-hover-color: none;
$carousel-selector-inside-activated-hover-bg-color: none;

// Tabbar
// ==========================================================================
$tabbar-wide-width: $wide-width;
$tabbar-desktop-width: $desktop-width;
$tabbar-tablet-width: $tablet-width;
$tabbar-mobile-width: $mobile-width;

// Header
// ==========================================================================
$logo-rect-wide-width: 70px;
$logo-rect-wide-height: 70px;
$logo-rect-desktop-width: 70px;
$logo-rect-desktop-height: 70px;
$logo-rect-tablet-width: 40px;
$logo-rect-tablet-height: 40px;
$logo-rect-mobile-width: 36px;
$logo-rect-mobile-height: 36px;

// Header
// ==========================================================================
@mixin header-bg() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,eaeaea+100&0.13+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.13) 0%, rgba(234,234,234,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.13) 0%,rgba(234,234,234,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.13) 0%,rgba(234,234,234,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21000000', endColorstr='#00eaeaea',GradientType=0 ); /* IE6-9 */
}

@mixin header-fixed-bg () {
  background: initial;
  background-color: white;
}

$header-desktop-width: '';
$header-tablet-width: '';
$header-mobile-width: '';

$header-transition-duration: 0.15s;

$header-fixed-shadow-color: rgba(0, 0, 0, 0.15);

$header-z-index: 1500;
$header-gradient-z-index: -1000; // 헤더가 top일 경우 그림자 gradient

// Header - link
$header-link-text-color: $fg-white;
$header-link-text-hover-color: $fg-white;

$header-link-text-border-effect-color: transparent;
$header-link-text-border-effect-hover-color: $fg-white;

$header-fixed-link-text-color: $fg-black;
$header-fixed-link-text-hover-color: $theme-color-black;

$header-fixed-link-text-border-effect-color: transparent;
$header-fixed-link-text-border-effect-hover-color: $theme-color;


$header-link-text-selected-color: $fg-white;
$header-link-text-selected-hover-color: $fg-white;

$header-link-text-selected-border-effect-color: $fg-white;
$header-link-text-selected-border-effect-hover-color: transparent;

$header-fixed-link-text-selected-color: $fg-black;
$header-fixed-link-text-selected-hover-color: $theme-color;

$header-fixed-link-text-selected-border-effect-color: $theme-color;
$header-fixed-link-text-selected-border-effect-hover-color: transparent;

// Header - dropdown
$header-dropdown-text-color: $fg-white;
$header-dropdown-text-hover-color: $fg-black;
$header-dropdown-menu-bg-hover-color: $fg-black;

$header-fixed-dropdown-text-color: $fg-black;
$header-fixed-dropdown-text-hover-color: $theme-color-black;
$header-fixed-dropdown-menu-bg-hover-color: $theme-color;

// Header - button
$header-btn-text-color: $fg-color;
$header-btn-bg-color: transparent;
$header-btn-border-color: $fg-color;
$header-btn-text-hover-color: $theme-color;
$header-btn-bg-hover-color: $fg-color;
$header-btn-border-hover-color: transparent;

$header-fixed-btn-text-color: $fg-black;
$header-fixed-btn-bg-color: transparent;
$header-fixed-btn-border-color: $fg-black;
$header-fixed-btn-text-hover-color: white;
$header-fixed-btn-bg-hover-color: $theme-color;
$header-fixed-btn-border-hover-color: transparent;

// Header - signup button
$header-signup-color: white;
$header-signup-bg-color: $theme-color;
$header-signup-border-color: transparent;
$header-signup-hover-color: $theme-color;
$header-signup-bg-hover-color: white;
$header-signup-border-hover-color: transparent;

$header-fixed-signup-color: $theme-color;
$header-fixed-signup-bg-color: transparent;
$header-fixed-signup-border-color: $theme-color;
$header-fixed-signup-hover-color: white;
$header-fixed-signup-bg-hover-color: $theme-color;
$header-fixed-signup-border-hover-color: white;

// Footer
// ==========================================================================
$footer-color: gray;
$footer-bg-color: $theme-color-black;
$footer-header-bg-color: $theme-color-black2;
$footer-logo-rect-desktop-size: $logo-rect-desktop-width;
$footer-logo-rect-tablet-size: $logo-rect-tablet-width;
$footer-logo-rect-mobile-size: $logo-rect-mobile-width;

$footer-link-text-color: $fg-white;
$footer-link-text-hover-color: $theme-color;

$footer-content-company-color: gray;
$footer-content-company-name-color: darkgray;
$footer-content-key-color: gray;
$footer-content-value-color: dimgray;

$footer-content-divider-color: rgba(200, 200, 200, 0.2);

// Simple-Footer
// ==========================================================================
$simple-footer-color: #777;
$simple-footer-header-background: #f7f7f7;

// Form
// ==========================================================================
$form-bg-color: white;
$form-border-color: $theme-color;

$form-logo-color: $theme-color;

$form-divider-color: $theme-color;

$form-button-color: white;
$form-button-bg-color: $theme-color;
$form-button-hover-bg-color: $theme-color-darken;
$form-button-height: 44px;
$form-button-border-radius: 5px;

$form-button-confirm-bg-color: $form-button-color;

$form-link-hover-color: $theme-color;

$form-input-height: 52px;
$form-input-border-color: #ccc;
$form-input-placeholder-color: #898989;
$form-input-padding: 16px;

$form-state-text-color: $theme-color;
$form-state-step-color: $theme-color;

// Indicator
// ==========================================================================
$indicator-color: rgb(230, 230, 230);
$indicator-activated-color: $theme-color;
$indicator-deactivated-color: $theme-confirm-color;
