.point-content {
  $b: '.point-content';

  display: table;

  margin: 15px 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

  border-radius: 0px 3px 3px 0px;
  border-left: 2px solid $theme-color;

  background-color: white;

  &__header {
    display: table-cell;

    vertical-align: middle;

    width: 1%;

    padding: 15px 10px;

    color: $theme-color;

    white-space: nowrap;

    font-size: 1.35em;

  }

  &__content {
    display: table-cell;

    padding: 20px 10px;
    color: $theme-color-black2;

    font-size: 1.1em;
    vertical-align: middle;
  }

  @include media("mobile") {
    display: flex;
    flex-direction: column;

    padding: 20px;
    padding-top: 15px;

    #{$b} {
      &__header {
        display: block;

        padding: 0px;
      }
      &__content {
        display: block;

        padding: 0px;
        margin-top: 10px;
      }
    }
  }
}
