@import '../common';

.greeting-section {

  $header-height: 250px;
  $content-height: 120px;

  &__header {
    position: relative;

    height: $header-height;
    line-height: $header-height;

    background-color: $theme-color-skyblue;
    color: white;
    text-align: center;

    font-size: 2.8em;
  }

  &__title {

  }

  &__content {
    height: $content-height;
    line-height: $content-height;

    color: $theme-color-skyblue;
    text-align: center;

    font-size: 2.4em;
  }
}
