.modal-frame {
  position: fixed;

  display: none;

  width: 100%;
  height: 100%;

  opacity: 0;

  overflow: auto;

  @include transition-property(opacity, top, left, right, bottom);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in-out);

  &__close {
    position: absolute;

    width: 100%;
    height: 100%;

    &-btn {
      position: absolute;

      top: 20px;
      right: 20px;

      color: white;

      font-size: 1.5em;

      cursor: pointer;
    }
  }

  &__content {
    position: relative;
  }

  &.is-active {
    top: 0;
    left: 0;
    z-index: 3000;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;

    background-color: rgba(20, 20, 20, 0.9);
  }
}

.modal-frame--relative {
  position: absolute;
}

@keyframes modal-frame--up {
  0% {
    opacity: 0;
    top: 100%;
    visibility: visible;
  }
  100% {
    opacity: 1;
    top: 0;
    visibility: visible;
  }
}
@keyframes modal-frame--down {
  0% {
    opacity: 0;
    top: -100%;
    visibility: visible;
  }
  100% {
    opacity: 1;
    top: 0;
    visibility: visible;
  }
}
@keyframes modal-frame--left {
  0% {
    opacity: 0;
    left: 100%;
    visibility: visible;
  }
  100% {
    opacity: 1;
    left: 0;
    visibility: visible;
  }
}
@keyframes modal-frame--right {
  0% {
    opacity: 0;
    left: -100%;
    visibility: visible;
  }
  100% {
    opacity: 1;
    left: 0;
    visibility: visible;
  }
}
@keyframes modal-frame--fade {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.modal-frame--animate {
  &-up { // down to up
    animation-name: modal-frame--up;
    animation-duration: 0.25s;
    animation-timing-function: ease;
  }
  &-down { // up to down
    animation-name: modal-frame--down;
    animation-duration: 0.25s;
    animation-timing-function: ease;
  }
  &-left { // right to left
    animation-name: modal-frame--left;
    animation-duration: 0.25s;
    animation-timing-function: ease;
  }
  &-right { // left to right
    animation-name: modal-frame--right;
    animation-duration: 0.25s;
    animation-timing-function: ease;
  }
  &-fade{
    animation-name: modal-frame--fade;
    animation-duration: 0.25s;
    animation-timing-function: ease;
  }
}
