<template>
  <div :class="getClasses('invest')">
    <div :class="getClasses('img-container')">
      <div :class="getClasses('status')">
        <div :class="getClasses('status-text')">
          {{ statusText }}
        </div>
      </div>
      <div :class="getClasses('tags')"/>
      <div :class="getClasses('img')"/>
      <a
        :class="getClasses('label')"
        :href="link">
        <span
          :class="getClasses('label-text')">{{ label }}</span>
      </a>
    </div>
    <a
      :class="
      getClasses('content')"
      :href="link">
      <div :class="getClasses('header')">
        <span :class="getClasses('index')">
          {{ index }}
        </span>
        <span :class="getClasses('category')">
          {{ category }}
        </span>
        <br>
        <div
          :class="getClasses('title')">
          {{ title }}
        </div>
        <div :class="getClasses('desc')">
          {{ desc }}
        </div>
      </div>
      <div :class="getClasses('text')"/>
      <div :class="getClasses('data-container')">
        <div
          v-for="(d, index) in data"
          :key="index"
          :class="getClasses('data', d)">
          <div :class="getClasses('data-key')">
            {{ d.key }}
          </div>
          <div :class="getClasses('data-value')">
            {{ d.value }}
          </div>
        </div>
      </div>
      <div :class="getClasses('footer')">
        <div :class="getClasses('status')">
          <div :class="getClasses('status-text')">
            {{ statusText }}
          </div>
        </div>
        <div :class="getClasses('progress')">
          <div :class="getClasses('progress-text')">
            <span :class="getClasses('progress-text-current')">{{ amountCurrentNumber }}</span><span :class="getClasses('unit')">{{ amountCurrentUnit }}</span><span :class="getClasses('slash')"> / </span><span :class="getClasses('progress-text-max')">{{ amountTotalNumber }}</span><span :class="getClasses('unit')">{{ amountTotalUnit }}</span>
          </div>
          <base-progress
            v-if="type=='portrait'"
            :total-step="amount[0]"
            :current-step="amount[1]"
            :width="6"
            shape="round"
          />
          <base-progress
            v-if="type=='landscape'"
            :total-step="amount[0]"
            :current-step="amount[1]"
            :width="6"
            type="circle"
            shape="round"
          />
        </div>
        <div :class="getClasses('open')">
          {{ open }}
        </div>
      </div>
    </span></a>
  </div>
</div>
</div></template>
<script>
import BaseProgress from '~/components/progress/Base.vue'

/**
 * InvestProductCard
 * @vuedoc
 * @classdesc 투자 상품 카드 컴포넌트
 * @exports cards/InvestProduct
 */
export default {
  name: 'InvestProductCard',
  components: { BaseProgress },
  props: {
    type: {
      type: String,
      required: false,
      default: 'portrait',
      validator: function(value) {
        return ['portrait', 'landscape'].indexOf(value) !== -1
      }
    },
    index: {
      // 제 n 호
      type: Number,
      required: false,
      default: 1
    },
    category: {
      // 부동산 담보, 잔낙대출
      type: String,
      required: false,
      default: '부동산 담보'
    },
    title: {
      type: String,
      required: false,
      default: '서울시 강북구'
    },
    desc: {
      type: String,
      required: false,
      default: '내용'
    },
    open: {
      type: String,
      required: false,
      default: ''
    },
    data: {
      type: Array,
      required: false,
      default: () => {
        return [
          {
            key: '',
            value: '',
            emphasis: true
          }
        ]
      }
    },
    /**
     * 투자 상태를 나타낸다.
     * - ready : 펀드 모집 준비 중(open)
     * - funding : 펀드 모집 중(funding)
     * - fail : 펀딩 실패(close)
     * - cancel : 펀딩 취소(close)
     * - finish : 펀드 완료(progress)
     * - repaying : 상환중(progress)
     * - delay : 연체중(progress)
     * - poor : 부실화(close)
     * - complete : 상환 완료(close)
     */
    status: {
      type: String,
      required: false,
      default: '' // ready, funding, fail, canel, finish, repaying, delay, poor, complete
    },
    link: {
      type: String,
      required: false,
      default: ''
    },
    amount: {
      type: Array, // [total, current]
      required: false,
      default: ''
    }
  },
  computed: {
    amountTotalNumber() {
      return this.amount[0]
    },
    amountTotalUnit() {
      return '만원'
    },
    amountCurrentNumber() {
      return this.amount[1]
    },
    amountCurrentUnit() {
      return '만원'
    },
    statusText() {
      switch (this.status) {
        case 'ready':
          return '준비중'
          break
        case 'funding':
          return '펀드 모집 중'
          break
        case 'fail':
          return '펀드 모집 실패'
          break
        case 'cancel':
          return '취소됨'
          break
        case 'finish':
          return '펀드 모집 완료'
          break
        case 'repaying':
          return '상환중'
          break
        case 'delay':
          return '연체중'
          break
        case 'poor':
          return '부실화'
          break
        case 'complete':
          return '완료'
          break
      }
    },
    state() {
      switch (this.status) {
        case 'ready':
          return 'open'
          break
        case 'funding':
          return 'funding'
          break
        case 'finish':
        case 'repaying':
        case 'delay':
          return 'progress'
          break
        case 'cancel':
        case 'fail':
        case 'poor':
        case 'complete':
          return 'close'
          break
      }
    },
    label() {
      switch (this.state) {
        case 'open':
          return '미리 보기'
          break
        case 'funding':
          return '투자 하기'
          break
        case 'progress':
        case 'complete':
        default:
          return '상세 보기'
          break
      }
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'invest':
          classes[this.$style['invest-product-card']] = true
          classes[this.$style['invest-product-card--' + this.type]] = true
          classes[
            this.$style['invest-product-card--state-' + this.state]
          ] = true
          break
        case 'img-container':
          classes[this.$style['invest-product-card__img-container']] = true
          break
        case 'img':
          classes[this.$style['invest-product-card__img']] = true
          break
        case 'status':
          classes[this.$style['invest-product-card__status']] = true
          classes[
            this.$style['invest-product-card__status--' + this.status]
          ] = true
          break
        case 'status-text':
          classes[this.$style['invest-product-card__status-text']] = true
          break
        case 'label':
          classes[this.$style['invest-product-card__label']] = true
          break
        case 'label-text':
          classes[this.$style['invest-product-card__label-text']] = true
          break
        case 'content':
          classes[this.$style['invest-product-card__content']] = true
          break
        case 'header':
          classes[this.$style['invest-product-card__header']] = true
          break
        case 'title':
          classes[this.$style['invest-product-card__title']] = true
          break
        case 'desc':
          classes[this.$style['invest-product-card__desc']] = true
          break
        case 'category':
          classes[this.$style['invest-product-card__category']] = true
          break
        case 'tags':
          classes[this.$style['invest-product-card__tags']] = true
          break
        case 'index':
          classes[this.$style['invest-product-card__index']] = true
          break
        case 'text':
          classes[this.$style['invest-product-card__text']] = true
          break
        case 'slash':
          classes[this.$style['invest-product-card__slash']] = true
          break
        case 'divider':
          classes[this.$style['invest-product-card__divider']] = true
          break
        case 'unit':
          classes[this.$style['invest-product-card__unit']] = true
          break
        case 'data-container':
          classes[this.$style['invest-product-card__data-container']] = true
          break
        case 'data':
          classes[this.$style['invest-product-card__data']] = true
          classes[this.$style['invest-product-card__data--emphasis']] =
            arg.emphasis
          classes[
            this.$style['invest-product-card__data--type-' + arg.type]
          ] = true
          break
        case 'data-key':
          classes[this.$style['invest-product-card__data-key']] = true
          break
        case 'data-value':
          classes[this.$style['invest-product-card__data-value']] = true
          break
        case 'footer':
          classes[this.$style['invest-product-card__footer']] = true
          break
        case 'progress':
          classes[this.$style['invest-product-card__progress']] = true
          break
        case 'progress-text':
          classes[this.$style['invest-product-card__progress-text']] = true
          break
        case 'progress-text-current':
          classes[
            this.$style['invest-product-card__progress-text--current']
          ] = true
          break
        case 'progress-text-max':
          classes[this.$style['invest-product-card__progress-text--max']] = true
        case 'open':
          classes[this.$style['invest-product-card__open']] = true
          break
      }
      return classes
    }
  }
}
</script>

  <style module>
.invest-product-card {
}
.invest-product-card--portrait {
}
.invest-product-card--landscape {
}
.invest-product-card--state-open {
}
.invest-product-card--state-funding {
}
.invest-product-card--state-progress {
}
.invest-product-card--state-close {
}

.invest-product-card__img-container {
}
.invest-product-card__img {
}

.invest-product-card__status {
}
.invest-product-card__status--ready {
}
.invest-product-card__status--funding {
}
.invest-product-card__status--fail {
}
.invest-product-card__status--cancel {
}
.invest-product-card__status--finish {
}
.invest-product-card__status--repaying {
}
.invest-product-card__status--delay {
}
.invest-product-card__status--poor {
}
.invest-product-card__status--complete {
}
.invest-product-card__status-text {
}

.invest-product-card__label {
}
.invest-product-card__label-text {
}

.invest-product-card__content {
}
.invest-product-card__header {
}
.invest-product-card__title {
}
.invest-product-card__desc {
}
.invest-product-card__category {
}
.invest-product-card__tags {
}
.invest-product-card__index {
}
.invest-product-card__text {
}
.invest-product-card__data {
}
.invest-product-card__data--emphasis {
}
.invest-product-card__data--type-profit {
}
.invest-product-card__data--type-period {
}
.invest-product-card__data--type-rank {
}
.invest-product-card__data-container {
}
.invest-product-card__data-key {
}
.invest-product-card__data-value {
}
.invest-product-card__footer {
}
.invest-product-card__progress {
}
.invest-product-card__progress-text {
}
.invest-product-card__progress-text--max {
}
.invest-product-card__progress-text--current {
}
.invest-product-card__unit {
}
.invest-product-card__divider {
}
.invest-product-card__slash {
}
.invest-product-card__open {
}
</style>
