<template>
  <div
    :class="getClasses('invest-product-card-list')">
    <div
      v-for="(item, index) in items"
      :key="index"
      :class="getClasses('item')">
      <invest-product-card
        :type="type == 'main' ? 'landscape' : 'portrait'"
        :index="item.index"
        :category="item.category"
        :label="item.label"
        :link="item.link"
        :title="item.title"
        :desc="item.desc"
        :open="item.open"
        :status="item.status"
        :tags="item.tags"
        :amount="[item.total, item.funds]"
        :data="makeData(item)"/>
    </div>
    <div :class="$style.clear" />
</div></template>
<script>
import InvestProductCard from '~/components/cards/InvestProduct.vue'

/**
 * InvestProductCardList
 * @vuedoc
 * @classdesc 투자 상품 카드 리스트
 * @exports cards/InvestProductList
 */
export default {
  name: 'InvestProductCardList',
  components: { InvestProductCard },
  props: {
    type: {
      type: String,
      default: 'list' // main, list
    },
    size: {
      type: String, // item size
      default: 'middle', // big, middle, small
      validator: function(value) {
        return ['big', 'middle', 'small'].indexOf(value) !== -1
      }
    },
    items: {
      type: Array,
      default: () => {}
    }
  },
  methods: {
    makeData(item) {
      var result = []
      if (item.profit != null) {
        result.push({
          key: '수익률',
          type: 'profit',
          value: item.profit,
          emphasis: true
        })
      }
      if (item.period != null) {
        result.push({
          key: '투자기간',
          type: 'period',
          value: item.period
        })
      }
      if (item.profit != null) {
        result.push({
          key: '평가등급',
          type: 'rank',
          value: item.rank
        })
      }

      return result
    },
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'invest-product-card-list':
          classes[this.$style['invest-product-card-list']] = true
          classes[this.$style['invest-product-card-list--main']] =
            this.type == 'main'
          break
        case 'item':
          classes[this.$style['invest-product-card-list__item']] = true
          classes[
            this.$style['invest-product-card-list__item--' + this.size]
          ] = true
          break
      }
      return classes
    }
  }
}
</script>

  <style module>
.invest-product-card-list {
}
.invest-product-card-list--main {
}
.invest-product-card-list__item {
}
.invest-product-card-list__item--big {
}
.invest-product-card-list__item--middle {
}
.invest-product-card-list__item--small {
}
.clear {
}
</style>
