<template>
  <div :class="getClasses('wave')">
    <div :class="getClasses('elem', 'one')"/>
    <div :class="getClasses('elem', 'two')"/>
    <div :class="getClasses('elem', 'three')"/>
    <div :class="getClasses('elem', 'four')"/>
  </div>
</template>
<script>
/**
 * WaveBackground
 * @vuedoc
 * @classdesc 웨이브 효과를 갖는 백그라운드 컴포넌트
 * @exports backgrounds/Wave
 */
export default {
  name: 'WaveBackground',
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'wave':
          classes[this.$style['wave-background']] = true
          break
        case 'elem':
          classes[this.$style['wave-background__elem']] = true
          classes[this.$style['wave-background__elem--' + arg]] = true
          break
      }
      return classes
    }
  }
}
</script>
  <style module>
.wave-background {
}

.wave-background__elem {
}

.wave-background__elem--one {
}

.wave-background__elem--two {
}

.wave-background__elem--three {
}

.wave-background__elem--four {
}
</style>
