// ==========================================================================
// BaseIcon - 아이콘
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================
.icon {
  display: inline-block;
  font-style: normal;
  vertical-align: -0.125em;
  text-align: center;
  text-transform: none;
  line-height: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  & > * {
    line-height: 1;
  }

  &--fnd {
    &--brunch {
      /**/
    }

    &--fb {
      /**/
    }

    &--kakao-talk {
      /**/
    }

    &--naver-blog {
      /**/
    }
  }
}
