.form {

  padding: 30px 40px;
  margin: 20px;
  border: 2px solid $form-border-color;

  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);

  &__logo {
    color: $form-logo-color;

    font-size: 1.5em;
    text-align: center;

    .svg-logo { // base-logo
      width: 10em;
      height: 4.4em;
      @include media("mobile") {
        width: 10em;
        height: 4.4em;
      }
    }
  }

  &__title {
    margin-top: -20px;

    color: gray;

    font-size: 1.6em;
    text-align: center;
  }

  &__divider {
    width: 97%;
    height: 1px;

    margin: 10px auto;

    background-color: $theme-color;
  }

  &__divider--short {
    width: 30%;
    height: 3px;
    margin: 10px auto;
    margin-top: 5px;
    border: 0px;

    background-color: $form-divider-color;
  }

  &__btn {
    display: table;

    width: 100%;
    height: $form-button-height;
    margin-top: 10px;
    border-radius: $form-button-border-radius;

    color: $form-button-color;
    background-color: $form-button-bg-color;

    font-size: 1.2em;
    text-align: center;

    outline: none;

    cursor: pointer;

    @include transition-duration(0.3s);
    @include transition-property(background-color, box-shadow);

    &:focus,
    &:hover {
      box-shadow: 0 0 0 3px $form-button-hover-bg-color;
      background-color: $form-button-hover-bg-color;
    }

    &--confirm {
      border: 2px solid $form-button-bg-color;

      color: $form-button-bg-color;

      background-color: $form-button-confirm-bg-color;
      &:focus,
      &:hover {
        color:  $form-button-color;
        background-color: $form-button-bg-color;
      }
    }

    &--right {
      width: 45%;
      // margin: auto 0 auto auto;
      float: right;
    }

    &--left {
      width: 45%;
      // margin: auto auto auto 0;
      float: left;
    }

    &--center {
      width: 50%;
      margin: auto;
    }

    & > * {
      display: table-cell;

      vertical-align: middle;
    }
  }

  &__textarea {
    /**/
  }

  &__label {
    /* label */
  }

  &__input {
    /* input */
  }

  &__link {
    font-size: 0.8em;
    text-decoration: underline;
    &:hover {
      color: $form-link-hover-color;
      text-decoration: underline;
    }
  }

  &__state-text-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__state-text {
    font-size: 1.1em;
    color: $form-state-text-color;

    &--activate {
      /**/
    }
    &--deactivate {
      /**/
    }
  }

  &__state-step {
    color: $form-state-step-color;

    &-current {
      font-size: 1.2em;
    }

    &-total {
      color: gray;

      font-size: 0.9em;
    }

    &-slash {
      color: gray;
    }
  }

  @include media("mobile") {
    padding: 20px 30px;
  }
}
