.contact-form {
  $input: '.input';

  width: 100%;
  height: 900px;

  &__form {
    /**/
  }

  &__group {
    /**/
    &--info {
      // wrapping name, email
      display: flex;

      @include media("mobile") {
        display: block;
      }
    }
    &--name {
      flex-grow: 1;
    }
    &--email {
      margin-left: 20px;
      flex-grow: 5;
      @include media("<tablet-s") {
        flex-grow: 1;
        margin-left: initial;
      }
    }
    &--content {
      /**/
    }

    &--content-title {
      /**/
    }

    &--content-text {
      height: 400px;
      @include media("mobile") {
        height: 300px;
      }
    }
    &--submit {
      margin-top: 25px;
    }

    &--phone {
      /**/
    }

    &--text {
      /**/
    }
  }

  #{$input} {
    @include media(">mobile") {
      &__title {
        flex-basis: auto;
      }
    }
  }
}

.contact-form.form {
  $form: '.form';

  #{$form} {
    &__divider {
      margin-bottom: 30px;
    }
  }
}
