// ==========================================================================
// Invest Form - 투자 입력 폼
//
// Copyright (c) 2019 Founding inc.
//
// ==========================================================================

.invest-form {
  $b: '.invest-form';

  position: relative;
  z-index: 1400;

  display: flex;
  flex-direction: column;

  width: 300px;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 5px;

  background-color: white;

  #{$b} {
    &__tab {
      display: flex;

      margin-bottom: 20px;
    }

    &__title {
      margin-right: 10px;

      font-size: 1.3em;

      cursor: pointer;
    }

    &__title--selected {
      border-bottom: 1px solid black;
    }

    &__subtitle {
      font-size: 1.2em;
    }

    &__divider {
      height: 1px;
      background-color: #bbb;
      margin: 10px 0px;
    }

    &__progress {
      align-self: center;
    }

    &__user {
      position: relative;

      margin: 10px 0px;
      padding: 10px;

      background-color: #f7f7f7;

      &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 10px;
        height: 100%;
        border: 1px solid #555;
        border-right: 0;
      }

      &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;

        width: 10px;
        height: 100%;
        border: 1px solid #555;
        border-left: 0;
      }
    }

    &__calc {
      margin-top: 10px;
    }

    &__btn {
      @include user-select(none);
    }

    &__btn--simple {
      border: solid 1px currentColor;
      border-radius: 5px;
      padding: 8px 10px;

      align-self: center;

      cursor: pointer;

      @include transition-duration(0.3s);

      &:hover {
        color: white;
        background-color: $theme-color;
        border-color: $theme-color;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
    }

    &__amount {
      justify-content: space-evenly;
    }

    &__profit {
      margin: 15px 0px 5px 0px;
    }

    &__profit-title {
      font-size: 0.9em;

      text-decoration: underline;
      text-align: center;

      color: #888;

      cursor: pointer;
      &:hover {
        color: #444;
      }
    }

    &__modal {
    }

    &__modal-content {
      background-color: #ffeed5;

      font-size: 0.85em;

      table {
        border-radius: 5px;

        td {
          padding: 5px;
          border: 1px solid #d4c191;
          text-align: center;
        }
      }
    }

    &__key {
      /**/
    }

    &__value {
      /**/
    }
  }
}

.invest-form--type-button {
  $b: '.invest-form';
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;

  border-radius: 0px;
  border: 0px solid black;

  background-color: $theme-color-black2;

  @include transition-property(background-color);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);

  &:hover {
    background-color: $theme-color-black;
  }

  #{$b} {
    &__progress {
      width :100%;
    }

    &__content {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;

      color: white;

      cursor: pointer;
    }
  }
}
