// ==========================================================================
// Login Form - 로그인 폼
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

.login-form {
  width: 350px;
  padding: 30px 40px;
  margin: 20px;
  border: 2px solid $form-border-color;

  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);


  &__form {
    margin-top: 30px;
  }

  &__title {
    /**/
  }

  &__divider {
    /**/
  }

  &__forgot {
    /**/
  }

  &__group {
    /**/

    &--id {
      /**/
    }

    &--login {
      /**/
    }

    &--pw {
      /**/
    }

    &--save {
      /**/
    }

    &--forgot {
      width: 100%;
      margin-top: 3px;

      text-align: right;
    }
  }

  &__input {
    /**/
  }

  &__label {
    /**/
  }

  &__login {
    /**/
  }

  &__logo {
    /**/
  }

  @include media("mobile") {
    width: 300px;
    padding: 20px 30px;
  }
}

.login-form {
  $input: '.input';

  #{$input} {
    &__title {
      flex-basis: 55px;
    }
  }
}
