// ==========================================================================
// Singup Form - 회원가입 폼
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

.signup-form {
  $form: '.form';
  width: 400px;

  margin-bottom: 45px;
  padding-top: 15px;

  &__form {
    margin-top: 40px;
  }

  &__title {
    /**/
  }

  &__divider {
    /**/
  }

  &__forgot {
    /**/
  }

  &__group {
    /**/
    &--confirm {
      /**/
    }

    &--email {
      /**/
    }

    &--id {
      /**/
    }

    &--name {
      /**/
    }

    &--next {
      /**/
    }

    &--phone {
      /**/
    }

    &--prev {
      /**/
    }

    &--pw {
      /**/
    }

    &--resident {
      /**/
    }

    &--signup {
      /**/
    }
  }

  &__input {
    /**/
  }

  &__label {
    /**/
  }

  &__logo {
    /**/
  }

  &__signup {
    /**/
  }

  @include media("mobile") {
    width: 300px;
  }

  #{$form} {

    &__state-text-wrapper {
      margin-bottom: 6px;
    }

    &__state-text {
      /**/
    }
  }
}

.signup-form {
  $line-progress: '.line-progress';

  #{$line-progress} {
    &__container {
      background-color: rgb(238, 238, 238) !important;
    }

    &__bar {
      background-color: $theme-color !important;
    }
  }
}
