<template>
  <div />
</template>

<script>
/**
 * ConsoleLogo
 * @vuedoc
 * @classdesc 기본 레이아웃 로딩 시 로고 출력
 * @exports funs/ConsoleLogo
 */
export default {
  name: 'ConsoleLogo',
  components: {},
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {
    if (process.browser) {
      console.log(
        `%c ,gggggggggggggg
dP""""""88""""""                                          8I
Yb,_    88                                                8I
 \`""    88                                                8I   gg
     ggg88gggg                                            8I   ""
        88   8,ggggg,   gg      gg   ,ggg,,ggg,     ,gggg,8I   gg    ,ggg,,ggg,     ,gggg,gg
        88   dP"  "Y8gggI8      8I  ,8" "8P" "8,   dP"  "Y8I   88   ,8" "8P" "8,   dP"  "Y8I
  gg,   88  i8'    ,8I  I8,    ,8I  I8   8I   8I  i8'    ,8I   88   I8   8I   8I  i8'    ,8I
   "Yb,,8P ,d8,   ,d8' ,d8b,  ,d8b,,dP   8I   Yb,,d8,   ,d8b,_,88,_,dP   8I   Yb,,d8,   ,d8I
     "Y8P' P"Y8888P"   8P'"Y88P"\`Y88P'   8I   \`Y8P"Y8888P"\`Y88P""Y88P'   8I   \`Y8P"Y8888P"888
                                                                                        ,d8I'
                                                                                      ,dP'8I
                                                                                     ,8"  8I
                                                                                     I8   8I
                                                                                     \`8, ,8I
                                                                                      \`Y8P"  `,
        'color:#00a86b;'
      )
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
</style>
