<template>
  <div
    v-if="type=='rect'"
    :class="getClasses('logo', 'rect')">
    <a href="/">
      <img
        alt="파운딩 로고"
        src="/logo.png">
    </a>
  </div>
  <div
    v-else-if="type=='svg-text'"
    :class="getClasses('logo', 'svg-text')">
    <a href="/">
      <svg-text-logo />
    </a>
  </div>
  <div
    v-else-if="type=='text'"
    :class="getClasses('logo', 'text')">
    <a href="/">
      Founding
    </a>
  </div>
  <div
    v-else-if="type=='text-eng'"
    :class="getClasses('logo', 'text')">
    <a href="/">
      <span :class="getClasses('f')">F</span><span :class="getClasses('text')">ㅏ운딩</span>
    </a>
  </div>
</template>

<script>
import SvgTextLogo from '~/components/logos/SvgText.vue'
/**
 * BaseLogo
 * @vuedoc
 * @property {String} [type='rect'] - 'rect', 'rect-dark', 'rect-white', 'text', 'text-dark', 'text-white'
 * @exports logos/Base
 */
export default {
  name: 'BaseLogo',
  components: { SvgTextLogo },
  props: {
    type: {
      type: String,
      default: 'rect'
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'logo':
          classes[this.$style['logo']] = true
          classes[this.$style['logo--' + arg]] = true
          break
        case 'f':
          classes[this.$style['logo--f']] = true
          break
      }

      return classes
    }
  }
}
</script>

  <style module>
.logo {
}
.logo--rect {
}
.logo--svg-text {
}
.logo--f {
}
.logo--text {
}
</style>
