<template>
  <svg
    :class="getClasses('svg-logo')"
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 505.99 181.14">
    <title>Svg-Text-Logo</title>
    <defs/>
    <path 
      :class="$style['svg-text-logo__f']" 
      d="M108.7,397.69q-1.69,0-1.69,3v3q0,14.5,9,20.71a20.82,20.82,0,0,0,11.49,3.39q20.15,0,36-28.43l4.61-8.66q1.6-3,5.18-10.26t4.42-8.76a2.74,2.74,0,0,1,2.54-1.51h29.37q2.63,0,2.64,3t-2.45,8.66c0,.13.12.25.38.38q2.07-.19,2.54-1.6a24.44,24.44,0,0,1,2.45-4.52,67.63,67.63,0,0,0,3.39-5.93q1.41-2.82-.56-4t-8-1.13l-26.55-.19q-2.26,0-1.51-2.07.37-.94,2.45-5.27t3-6.4q.94-2.07,2.92-6.12t3.39-6.4q1.41-2.35,4.14-6.69a26.83,26.83,0,0,1,6.12-7q6.4-4.89,22.41-4.89a20.23,20.23,0,0,1,7.91,1.5q6,1.88,6,9.42a29.26,29.26,0,0,1-1.32,8.1q-.38,1.32.75,1.13a3.51,3.51,0,0,0,3-2.26q.19-.37,1.32-2.35t2.82-5.27a14.13,14.13,0,0,0,1.69-6.5q0-5.46-10.92-6-6.59-.37-54.42-.38A171.33,171.33,0,0,0,153,319.93q-9.23,1.69-12.43,5.27a11.71,11.71,0,0,0-3.2,8q0,4.43,5.08,10.64,3.39,4,5,4.8a3,3,0,0,0,3,.09q1.41-.75.29-1.32-5.65-2.63-5.65-9.22,0-14.31,37.28-16.76,14.12-.94,22-.94-12.05,4.9-16.76,13.93-1.51,3-11.3,23.35-19.77,40.86-27.68,49.33Q136,420.67,124.33,420.67a14.34,14.34,0,0,1-11.2-4.71q-4.24-4.71-4.24-13.37l.19-4.52a.33.33,0,0,0-.38-.38Z" 
      transform="translate(-107 -305.43)"/>
    <path 
      :class="$style['svg-text-logo__o']" 
      d="M255.53,368.32q-7,0-16.94,6.21a50.13,50.13,0,0,0-16,14.88q-10.36,14.31-10.36,25,0,6.59,7.72,6.59,13.18,0,23.73-9.79a31,31,0,0,0,3.39.19q12.24,0,21.84-13.37a4,4,0,0,0,.75-2.54q0-1.6-.94-.66-10.55,13.93-23,13.93a65.53,65.53,0,0,0,7.15-8.29q10.16-14.68,10.17-24.85,0-7.34-7.53-7.34Zm-7.91,27.21a100.68,100.68,0,0,1-12.24,16.85,23.1,23.1,0,0,1-5.09,3.67,12.18,12.18,0,0,1-5.84,1.79q-3.39,0-3.39-6.5t8.1-19.87a62,62,0,0,1,9.13-12.71q4.8-5,8-6.21a15.47,15.47,0,0,1,4.33-1.23q3.39,0,3.39,4.52Q254,384.89,247.62,395.53Z" 
      transform="translate(-107 -305.43)"/>
    <path 
      :class="$style['svg-text-logo__u']" 
      d="M336.3,368.89c0-.5-.13-.75-.38-.75a.77.77,0,0,0-.56.19Q332,370,325.94,370h-2.63q-.57,0-2.26,3-12.62,24.1-24.48,35.4-7.72,7.34-11.3,7.34-2.64,0-2.64-3.3t6.5-16a187.33,187.33,0,0,1,9.7-17.42q3.2-4.71,3.2-7.15,0-3.2-4.24-3.2a15.31,15.31,0,0,0-8,2.26,19.3,19.3,0,0,0-2.54,2,23.46,23.46,0,0,0-2.07,2q-.47.57-5.27,5.93t-12.52,15.72a4,4,0,0,0-.94,2.64q0,2.26,1.32.38a112,112,0,0,1,13.93-16.19q6-5.46,7.34-5.46c.38,0,.56.28.56.85a6.83,6.83,0,0,1-1,2.73q-1,1.88-3.86,7.72t-4.52,9.23q-7.34,14.69-7.34,19.21,0,3.58,4.52,3.58,15.63,0,34.08-26.55a84.26,84.26,0,0,0-4.52,11q-2.45,7.06-2.45,10.45,0,5.09,6.59,5.09,14.5,0,31.07-22.22,2.26-2.63,2.45-3.86a3.86,3.86,0,0,0-.38-2.35q-.19.19-1.69,1.88a80.44,80.44,0,0,1-14.87,15.06q-7.73,6-11.11,6-2.83,0-2.82-5.74T321,388.56q7.25-15.72,12.9-17.42,2.45-.75,2.45-2.26Z" 
      transform="translate(-107 -305.43)"/>
    <path 
      :class="$style['svg-text-logo__n']" 
      d="M393,368.7q-4.9,0-12.62,5.65a107.34,107.34,0,0,0-21.09,20.9Q372.8,370,374,368.6t1.13-2.17c-.06-.5-.22-.75-.47-.75s-.88.44-1.88,1.32-4.64,1.76-10.92,2.64q-7.16,10.36-20.52,26.93a4,4,0,0,0-.94,2.64q0,2.26,1.32.38a272.59,272.59,0,0,1,18.08-21.46Q357.55,383.39,351,400q-3.39,8.67-5.75,14.31T342,421.7c-.56,1.19-.6,1.79-.09,1.79a21,21,0,0,0,3.86-1.22,16.28,16.28,0,0,1,4.42-1.23q11.86-31.44,33.33-44.81,4.51-2.45,2.63,1.51-3.77,8.28-9.89,20.43t-6.12,18.08q0,5.93,6,5.93,5.27,0,11.86-5.09T404.25,399q2.45-3.2,2.45-4.33a3.11,3.11,0,0,0-.38-1.69q-5.84,7.16-9.32,11.11a59.63,59.63,0,0,1-7.91,7.44q-4.43,3.48-7.15,3.48t-2.73-3.3q0-3.3,6.21-15.81t9.32-17q3.11-4.52,3.11-7Q397.85,368.7,393,368.7Z" 
      transform="translate(-107 -305.43)"/>
    <path 
      :class="$style['svg-text-logo__d']" 
      d="M508.36,317.85l.38-6.78a4.49,4.49,0,0,0-1.79-4.14,7.39,7.39,0,0,0-4.61-1.51q-20.72,0-37.85,29-2.83,4.71-9.41,17.23t-9.6,17.6H436.8a22.26,22.26,0,0,0-14.5,4.9Q413.45,380.94,406,393t-8.76,22.59a3.22,3.22,0,0,0-.19,1.32q0,4.14,3.39,4.14,7,0,17.14-8.28,7.15-6.21,13.75-13.18Q424,411.06,424,417.65q0,3.58,4.52,3.58,14.31,0,31.07-22.22,2.63-3.39,2.64-4.61a2.39,2.39,0,0,0-.38-1.6,113.61,113.61,0,0,1-12.9,14.41q-8.76,8.57-12.9,8.57-2.26,0-2.26-3.3t9.6-23.26q4.33-9,4.52-9.23,11.67-25.79,22.59-45.19t20-22.59a17.75,17.75,0,0,1,5.84-1.13,15.49,15.49,0,0,1,4.9.75q4.89,1.88,5.65,6.4c.25.25.44.38.56.38.63,0,.94-.25.94-.75ZM427.67,398q-14,16.67-19.49,16.66-1.51,0-1.51-2.26,0-5.46,6.87-17.6t12.71-17.61q5.84-5.46,10.64-5.46t4.8,3.58Q441.7,381.31,427.67,398Z" 
      transform="translate(-107 -305.43)"/>
    <path 
      :class="$style['svg-text-logo__i']" 
      d="M486.87,409.56Q500.24,395.25,498,393l-4.15,4.71q-15.25,18.08-21.09,18.08a2.33,2.33,0,0,1-2.63-2.64q0-4.51,6.4-16.57,14.5-27.3,15.35-28.34a3,3,0,0,0,.85-1.79q-.19-1.51-2.07.19t-11.3,3q-7.16,10.36-20.52,26.93a4,4,0,0,0-.94,2.64q0,2.26,1.32.38a272.59,272.59,0,0,1,18.08-21.46q-13.75,29-15.06,32a18.43,18.43,0,0,0-1.88,7.53q0,3.58,5.18,3.58T477,417.37a44.83,44.83,0,0,0,9.89-7.82Z" 
      transform="translate(-107 -305.43)"/>
    <path 
      d="M486.87,409.56m14.87-62.32a5.31,5.31,0,0,0,2.45-4.9,5,5,0,0,0-1.13-2.54,3.6,3.6,0,0,0-3.11-1.6,8.46,8.46,0,0,0-4.52,1.69q-2.54,1.69-2.54,4,0,4.9,4.52,4.9A8.54,8.54,0,0,0,501.75,347.23Z" 
      transform="translate(-107 -305.43)" 
      class="svg-text-logo__dot"/>
    <path 
      :class="$style['svg-text-logo__n']" 
      d="M546.55,368.7q-4.9,0-12.62,5.65a107.34,107.34,0,0,0-21.09,20.9Q526.4,370,527.62,368.6t1.13-2.17c-.06-.5-.22-.75-.47-.75s-.88.44-1.88,1.32-4.64,1.76-10.92,2.64Q508.32,380,495,396.56a4,4,0,0,0-.94,2.64q0,2.26,1.32.38a272.59,272.59,0,0,1,18.08-21.46q-2.26,5.27-8.85,21.84-3.39,8.67-5.75,14.31t-3.2,7.44c-.56,1.19-.6,1.79-.09,1.79a21,21,0,0,0,3.86-1.22A16.28,16.28,0,0,1,503.8,421q11.86-31.44,33.33-44.81,4.51-2.45,2.63,1.51Q536,386,529.88,398.17t-6.12,18.08q0,5.93,6,5.93,5.27,0,11.86-5.09T557.84,399q2.45-3.2,2.45-4.33a3.11,3.11,0,0,0-.38-1.69q-5.84,7.16-9.32,11.11a59.63,59.63,0,0,1-7.91,7.44q-4.43,3.48-7.15,3.48t-2.73-3.3q0-3.3,6.21-15.81t9.32-17q3.11-4.52,3.11-7Q551.44,368.7,546.55,368.7Z" 
      transform="translate(-107 -305.43)"/>
    <path 
      :class="$style['svg-text-logo__g']" 
      d="M499.45,456.63q-2.45,0-2.45,2.83v3.2q0,14.31,11.68,20.52a30.44,30.44,0,0,0,14.12,3.39q17.51,0,32.58-16a91.16,91.16,0,0,0,13.56-17.79q5.08-8.95,17.79-38.6t17.8-37.76q2.63-4.9,6.78-4.9c1.13,0,1.69-.5,1.69-1.5,0-.5-.32-.75-.94-.75H590.4q-15.82,0-30.5,23.54Q552.36,405,551,415.58v1.32q0,4.14,3.39,4.14,7.15,0,18.55-9.7a84.33,84.33,0,0,0,17.61-19.87q-.38,1.13-4,10.17T582,413q-1,2.35-4.61,10.64a101,101,0,0,1-5.56,11.49q-2,3.2-5.84,10A58.08,58.08,0,0,1,559,455.41l-7.53,8.19a46.23,46.23,0,0,1-9,7.72,69.73,69.73,0,0,1-10.83,5.56,35.57,35.57,0,0,1-13.75,2.54,19.27,19.27,0,0,1-13-4.61q-5.36-4.62-5.36-13.09l.38-4.71a.33.33,0,0,0-.38-.38ZM581.55,398q-13.93,16.67-19.4,16.66-1.69,0-1.69-2.26,0-5.46,7-17.6t12.8-17.61q5.84-5.46,10.54-5.46t4.71,3.58Q595.48,381.31,581.55,398Z" 
      transform="translate(-107 -305.43)"/>
  </svg>
</template>
<script>
export default {
  name: 'SvgLogo',
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'svg-logo':
          classes[this.$style['svg-logo']] = true
          classes[this.$style['svg-text-logo']] = true
          break
      }
      return classes
    }
  }
}
</script>
<style module>
.svg-logo {
}
.svg-text-logo {
}
.svg-text-logo__f {
}
.svg-text-logo__o {
}
.svg-text-logo__u {
}
.svg-text-logo__n {
}
.svg-text-logo__d {
}
.svg-text-logo__i {
}
.svg-text-logo__dot {
}
.svg-text-logo__g {
}
</style>
