<template>
  <div :class="$style['area--maximum']">
    <div :class="$style['area--partial']">
      <div :class="$style['contact-box']">
        <h1 :class="$style['contact-box__title']">
          문의 하기
        </h1>
        <contact-form />
      </div>
    </div>
  </div>

</template>

<script>
import ContactForm from '~/components/forms/Contact.vue'
export default {
  layout: 'support/base',
  components: { ContactForm },
  fetch({ store, params }) {
    store.dispatch('data/support', '문의하기')
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/support/contact.css' }]
  }
}
</script>

<style module>
.area--maximum {
}
.area--partial {
}
.contact-box {
}
.contact-box__title {
}
</style>
