<template>
  <div/>
</template>

<script>
export default {
  layout: 'support/search',
  fetch({ store, params }) {
    store.dispatch('data/support', '고객센터')
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/support/index.css' }]
  }
}
</script>

<style lang='scss'>
</style>
