<template>
  <div :class="$style['area--maximum']">
    <div :class="$style['area--partial']">
      <div :class="$style['forgot-box']"/>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'base/simple',
  fetch({ store, params }) {
    store.dispatch('data/simple')
  },
  components: {},
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/auth/forgot.css' }]
  }
}
</script>

<style module>
.area--maximum {
}
.area--partial {
}
.forgot-box {
}
</style>
