<template>
  <div :class="$style['area--maximum']">
    <div :class="$style['area--partial']">
      <div :class="$style['login-box']">
        <login-form />
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from '~/components/forms/Login.vue'
export default {
  layout: 'base/simple',
  fetch({ store, params }) {
    store.dispatch('data/simple')
  },
  components: { LoginForm },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/auth/login.css' }]
  }
}
</script>

<style module>
.area--maximum {
}
.area--partial {
}
.login-box {
}
</style>
