<template>
  <div :class="$style['area--maximum']">
    <div :class="$style['area--partial']">
      <div :class="$style['signup-box']">
        <div :class="$style['signup-box__logo']">
          <base-logo type="svg-text"/>
        </div>
        <h1 :class="$style['signup-box__title']">회원가입</h1>
        <signup-form />
      </div>
    </div>
  </div>
</template>

<script>
import BaseLogo from '~/components/logos/Base.vue'
import SignupForm from '~/components/forms/Signup.vue'
export default {
  layout: 'base/simple',
  fetch({ store, params }) {
    store.dispatch('data/simple')
  },
  components: { BaseLogo, SignupForm },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/auth/signup.css' }]
  }
}
</script>

<style module>
.area--maximum {
}
.area--partial {
}
.signup-box {
}
.signup-box__logo {
}
.signup-box__title {
}
</style>
