<template>
  <div :class="className.main">
    <slot :className="className"/>
  </div>
</template>

<script>
/**
 * TermsBaseData
 * @vuedoc
 * @classdesc
 * @exports data/terms/Base
 */
export default {
  name: 'TermsBaseData',
  components: {},
  props: {},
  data() {
    return {
      className: {
        main: this.$style['terms-base-data'],
        title: this.$style['terms-base-data__title'],
        subtitle: this.$style['terms-base-data__subtitle'],
        chapter: this.$style['terms-base-data__chapter'],
        section: this.$style['terms-base-data__section'],
        text: this.$style['terms-base-data__text'],
        bold: this.$style['terms-base-data__bold']
      }
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  created() {},
  destoryed() {},

  methods: {}
}
</script>

<style module>
.terms-base-data {
}
.terms-base-data__title {
}
.terms-base-data__subtitle {
}
.terms-base-data__chapter {
}
.terms-base-data__section {
}
.terms-base-data__text {
}
.terms-base-data__bold {
}
</style>
