<template>
  <terms-base-data>
    <template slot-scope="p">
      <div :class="p.className.chapter">
        <h2 :class="p.className.title">제 1 장 총 칙</h2>
        <div :class="p.className.section">
          <h3 :class="p.className.subtitle">제 1 조 (목적)</h3>
          <p :class="p.className.text">이 약관은 주식회사 (주)파운딩 컴퍼니(이하 "회사”라고 합니다)가 운영하는 인터넷 사이트(http://www.founding.kr) 및 모바일 어플리케이션(이하 "사이트”라고 합니다)를 통하여 제공하는 모든 서비스(이하 "서비스"라고 합니다)와 관련하여 "회사"와 "회원" 간의 권리와 의무, 책임사항 및 "회원”의 서비스이용절차에 관한 사항을 규정함을 목적으로 합니다. "회사”는 시스템에 관한 제반 기술과 운영에 대한 모든 권한을 갖고 있으며, "회원”에게 제공하는 여신업무는 "회사”와 제휴된 "금융회사”가 전담합니다.</p>
        </div>

        <div :class="p.className.section">
          <h3 :class="p.className.subtitle">제 2 조 (용어의 정의)</h3>

          <p :class="p.className.text">① 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
          1. 회원 : 이 약관을 승인하고 “회사”에 서비스이용계약을 신청하여 “회사”가 승낙함으로써 “회사”와 서비스이용계약을 체결한 자를 말합니다. “회원”은 개인회원과 법인회원으로 구분되며, “회사”가 제시하는 정책에 의하여 회원의 등급을 구분하여 서비스 이용범위나 혜택 또는 서비스 사용료 징수 등을 다르게 적용할 수 있습니다.
          2. 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 “회원”이 설정하고 “회사”가 승인한 문자와 숫자의 조합을 말합니다.
          3. 비밀번호 : “회원”의 동일성 확인과 회원정보의 보호를 위하여 “회원”이 설정하고 “회사”가 승인한 문자와 숫자의 조합을 말합니다.
          4. 해지 : “회사” 또는 “회원”이 이용계약의 효력을 장래를 향해 소멸시키는 것을 말합니다.
          ② 이 약관에서 규정되지 아니한 사항 및 용어는 P2P 대출 가이드라인 및 관계법령, 투자 이용약관 및 서비스별 안내에서 정하는 바에 따르며, 그 외에는 일반 거래관행에 따릅니다.
          </p>
        </div>
        <div :class="p.className.section">
          <h3 :class="p.className.subtitle">제 3 조 (이용약관의 효력 및 변경)</h3>
          <p :class="p.className.text">① “회사”는 이 약관을, 회원 및 서비스를 이용하고자 하는 자가 알 수 있도록 서비스가 제공되는 “사이트”에 게시합니다.
          ② 이 약관은 “회원”의 동의와 “회사”의 승낙으로 효력을 발생하며, “회사”는 관련 법령(약관의 규제에 관한 법률, 정보 통신망 이용 촉진 및 정보 보호 등에 관한 법률 등)에 위반하지 않는 범위에서 이 약관을 개정할 수 있습니다.
          ③“회사”가 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 “사이트”에 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, “회원”에게 불리하게 약관내용을 변경하는 경우 또는 “회원”의 권리·의무에 중대한 영향을 미치는 사항을 변경하는 경우에는 최소 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 “회사”는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 “회원”이 알기 쉽도록 표시합니다. 또한 이에 관하여 제4조(회원에 대한 통지)에서 정한 방법으로 “회원”에게 개별 통지합니다.
          ④ 이 약관은 “회사”와 “회원” 간에 성립되는 서비스이용계약의 기본 약정입니다. “회사”는 필요한 경우 특정 서비스에 관하여 적용될 사항(이하 “개별약관”)을 정하여 미리 공지할 수 있습니다. “회원”이 이러한 개별약관에 동의하고 특정 서비스를 이용하는 경우에는 개별약관이 우선적으로 적용되고, 이 약관은 보충적인 효력을 갖습니다. 개별약관의 변경에 관해서는 개별약관에 특별한 규정이 없는 한 위 3항을 준용합니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 4 조 (회원에 대한 통지)</h3>
          <p :class="p.className.text">“회사”가 “회원”에 대한 통지를 하는 경우 이 약관에 별도 규정이 없는 한 회원이 제공한 전자우편(E-mail), SMS 등으로 할 수 있습니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 5 조 (관련 법령과의 관계)</h3>
          <p :class="p.className.text">
            ① 이 약관 또는 개별약관에서 정하지 않은 사항은 전기통신사업법, 전자문서 및 전자거래 기본법, 정보통신망이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률 등 관련 법령의 규정과 일반적인 상 관례에 의합니다.
            ② “회원”은 “회사”가 제공하는 서비스를 이용함에 있어서 전자상거래 등에서의 소비자보호에 관한 법률, 전자문서 및 전자거래 기본법, 소비자기본법, 표시·광고의 공정화에 관한 법률, 정보통신망이용촉진 및 정보보호 등에 관한 법률 등 관련법령을 준수하여야 하며, 이 약관의 규정을 들어 관련법령 위반에 대한 면책을 주장할 수 없습니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 6 조 (서비스의 종류)</h3>
          <p :class="p.className.text">
            “회사”가 “회원”에게 제공하는 서비스는 다음과 같습니다.
            1. 금융 거래장소(Platform) 서비스: “회사”가 “사이트”를 통하여 “차입자”가 "금융회사"로부터 대출을 받음에 있어 대출 신청 및 실행과 관련된 모든 활동, “투자자”가 해당채권에 대한 원리금수취권리의 참가가 성사되도록 하는 모든 활동에 대하여 온라인으로 제공하는 서비스 및 기타 이용 서비스, 관련 부가서비스 일체를 말합니다.
            2. 기타서비스: 금융 거래장소(Platform) 이외에 “회사”가 “사이트”를 통하여 제공하는 홍보서비스 등 기타 서비스를 말합니다.
          </p>
        </div>
      </div>
      <div :class="p.className.chapter">

        <h2 :class="p.className.title">제 2 장 서비스 이용신청 및 종료</h2>

        <div :class="p.className.section">
          <h3 :class="p.className.subtitle">제 7 조 (서비스의 성질과 목적)</h3>
          <p :class="p.className.text">
            “회사”가 제공하는 서비스는 “회사”가 “회원” 각자의 자기결정에 의하여 “회원”과 “회사” 간 또는 “회원” 상호간에 거래가 이루어질 수 있도록 사이버 거래장소(marketplace)를 온라인으로 제공하는 것입니다. “회사”는 “회원”에게 자금을 대여하거나 “회원”으로부터 자금을 차용하지 않으며, 단지 “회원”간 또는 “회원”과 “차입자” 사이의 거래의 안전성, 신뢰성, 신속성, 편리성을 도모하기 위한 중개활동을 제공합니다. “회원” 간에 성립된 거래와 관련된 책임은 거래당사자인 “회원”들 스스로가 부담하여야 합니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 8 조 (서비스 이용계약)</h3>
          <p :class="p.className.text">
            ①“회사”가 제공하는 서비스에 관한 이용계약(이하 “이용계약”이라고 합니다)은 서비스를 이용하고자 하는 자가 회원가입신청을 하면 이를 이용신청으로 보고 이에 대하여 “회사”가 승낙함으로써 성립합니다. “회사”는 이용승낙의 의사를 해당 서비스 화면에 게시하거나, 전자우편(E-mail) 또는 기타 방법으로 이용신청자에게 통지하여 “회원”으로서 자격을 부여합니다.
            ② “회사”는 이용신청자의 회원가입신청에 대하여 서비스 이용을 승낙함을 원칙으로 합니다. “회사”는 다음 각 호 어느 하나에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지할 수 있으며 해당 신청으로 발생한 민사, 형사상의 모든 책임은 이용신청자 또는 가입한 “회원”에게 있습니다. 다만, “회사”의 고의나 과실에 의하여 손해가 발생한 경우에는 “회사”가 손해를 부담합니다.
            1. 실명이 아니거나 타인의 정보를 도용한 경우
            2. 허위의 정보를 기재하거나, “회사”가 제시하는 내용을 기재하지 않은 경우
            3. 이용신청자의 귀책사유로 인하여 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우
            ③ “회원”이 이용계약 종료(탈퇴를 포함) 후 재가입하는 경우에는 종료 후 1개월이 경과하거나 “회사”의 승낙이 있어야 하며, 최종 이용 시에 사용한 아이디(ID)와 동일한 아이디(ID)를 사용하는 것은 원칙적으로 금지됩니다. 즉 이는 부정한 목적을 가지고 탈퇴 후 재가입하는 “회원”의 “사이트” 부정이용을 사전에 방지하고자 함에 그 목적이 있을 뿐, 탈퇴한 “회원”의 개인정보사항을 다른 목적으로 사용함을 의미하지는 않습니다.
            ④ 동조 제2항 및 제3항에 해당하는 사유로 이용계약신청을 “회사”가 승낙하지 아니하거나 사후에 이용계약을 해지하는 경우 “회사”는 이를 이용신청자 또는 “회원”에게 서비스 화면에 게시, 전자우편(E-mail) 또는 기타 방법으로 통지함을 원칙으로 합니다.
            ⑤ “회원”의 아이디(ID)는 실명 1인당 1개의 아이디를 사용하는 것을 원칙으로 합니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 9조 (서비스의 제공)</h3>
          <p :class="p.className.text">
            “회원”에게 부여받은 “가상계좌”로 “회원”이 직접 입금하거나 제3자가 입금하였을 경우 “회사”가 원리금을 지급하는 것을 제외하고는 입금일로부터 3영업일간 인출이 제한됩니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 10 조 (이용신청)</h3>
          <p :class="p.className.text">
            ① 서비스를 이용하고자 하는 자는 아래 사항을 “회사”가 온라인으로 제공하는 가입신청양식에 따라 기재하여야 합니다. 가입신청 시 기재사항은 이용신청자가 개인 또는 법인회원인지 여부에 따라 구분되며 “회사”가 서비스를 제공함에 있어서 특별히 요청하는 정보가 있는 경우 그에 대한 정보를 제출해야 합니다.
            1. 개인/법인 회원의 경우 기재항목
            아이디 (ID)
            전자우편 (E-mail)
            비밀번호 (Password)
            ② “회사”는 동조 제1항의 기재항목 외에도 “회원”에게 다양하고 유익한 정보를 제공하기 위하여 이용신청자에게 직업, 취미, 관심분야 등의 정보를 제공할 것을 요청할 수 있습니다. 다만, 이용신청자는 그러한 정보의 제공을 거절할 수 있습니다.
            ③ “회사”는 “회원”에게 “회사”의 금융거래 관련 제반 서비스에 대한 다양하고 유익한 정보를 전자우편(E-mail), 서신우편, 전화, 문자, 카카오톡(알림톡) 등을 통하여 제공할 수 있습니다. 단, “회원”이 수신을 거부하는 의사표시를 한 정보제공방법은 예외로 합니다.
            ④ “회원”은 “차입자” 또는 “투자자”로서 “사이트”를 이용할 수 있으며 이용신청방법은 다음과 같습니다.
            1. “차입자”로서 “사이트”를 이용할 경우에는 “대출 이용약관”에 동의하여야 하며 “사이트”트에서 대출을 신청할 수 있습니다.
            2. “투자자”로서 “사이트”를 이용할 경우에는 실명, 주민등록번호, 본인명의의 계좌번호를 입력, 인증해야 하며 “투자 이용약관”에 동의해야 합니다. 다만, 법인회원의 경우에는 사업자번호인증으로 본인인증이 대체됩니다. “투자자”가 회원가입 시 또는 이후에 입력한 위 정보는 매 투자신청시에 “투자자”가 입력한 것으로 간주합니다. 이 경우 정보의 신뢰성에 대하여는 제12조 3항을 준용합니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 11 조 (이용계약의 해지, 종료)</h3>
          <p :class="p.className.text">
            ① “회원”은 이 약관에서 정한 절차에 따라 이용계약을 해지할 수 있습니다.
            ② “회원”의 해지
            1. “회원”은 언제든지 “회사”에게 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다. 다만, “회원”은 해지의사를 통지하기 전에 모든 거래중인 절차를 완료, 철회 또는 취소해야만 해지의 의사표시를 할 수 있습니다. 이 경우 거래의 철회 또는 취소로 인한 불이익은 “회원” 본인이 부담하여야 합니다.
            2. 이용계약은 “회원”의 해지의사가 “회사”에 도달한 때에 종료됩니다.
            3. 본 항에 따라 해지를 한 “회원”은 해지 후 1 개월이 경과한 경우 또는 “회사”가 승낙한 경우에 한하여 이 약관이 정하는 회원가입절차와 관련조항에 따라 “회원”으로 다시 가입할 수 있습니다.
            ③ “회사”의 해지
            1. “회사”는 다음과 같은 사유가 있는 경우, 이용계약을 해지할 수 있습니다. 이 경우 “회사”는 “회원”에게 전자우편(E-mail), 전화, 팩스, 기타의 방법을 통하여 해지사유를 밝혀 그 시정을 요구하고, 7일 이상으로 정한 기간 내에 이를 이행하지 아니한 때에는 계약을 해지합니다. 다만, “회사”는 해당 “회원”에게 사전에 해지사유에 대한 의견진술의 기회를 부여할 수 있습니다.
            가. “회원”에게 제8조 제2항에서 정하고 있는 이용계약의 승낙거부사유가 있음이 확인된 경우
            나. “회원”이 공공질서 및 미풍양속에 위배되는 거래행위를 하거나 시도한 경우
            다. “회원”이 “회사”나 다른 “회원”, 기타 타인의 권리나 명예, 신용, 기타 정당한 이익을 침해하는 행위를 한 경우
            라. “회원”이 직거래 등 “회사”가 제공하는 서비스의 원활한 진행을 방해하는 행위를 하거나 시도한 경우
            마. “회원”이 실제로 거래하고자 하는 의사 없이 거래등록을 한 경우
            바. 사기 등 범죄의 가능성이 있다고 “회사”가 판단하는 행위
            사. 타인의 ID를 도용한 경우
            아. 타인의 결제수단(신용카드 / 핸드폰 번호)를 도용한 경우
            자. 본 약관의 내용을 위반하는 행위
            차. “회사”의 게시판에 “사이트”운영을 방해할 목적으로 반복적으로 동일한 글을 올리거나, “회원”을 상대로 광고 및 영업활동을 하는 글을 올리는 등 운영자의 합리적이고 객관적인 판단에 의하여 “회원”의 자격이 없다고 인정되는 경우
            카. 욕설이나 비방을 하는 행위
            2. 이용계약은 “회사”의 해지의사가 “회원”에게 도달한 때에 종료됩니다.
            3. “회사”가 정해진 절차에 따라 이용계약을 해지하는 경우, “회사”는 별도의 통지 없이 “회원”의 권리의무를 제한할 수 있습니다.
            4. 이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 “회원”이 책임을 부담하여야 합니다. 다만, “회사”의 고의나 과실에 의하여 손해가 발생한 경우에는 “회사”가 손해를 부담합니다.
            ④ “회원”이 마지막 접속일로부터 1년(365일) 이상 로그인을 하지 않은 경우(매월 첫 영업일 대상회원 업데이트) 해당 “회원”의 아이디는 휴면계정으로 전환되어 “회원” 로그인을 비롯한 모든 서비스에 대한 이용이 정지되고, 이 경우 “회사”는 휴면계정의 개인정보를 다른 아이디와 별도로 관리합니다.
            1. “회사”는 매월 20일경 휴면계정 처리 대상자에게 해당 사실을 전자우편 (E-mail) 등을 통하여 사전 안내합니다.
            2. “회원”은 휴면계정 처리일 이후에 “사이트”상에서 로그인 후 휴면상태 해체 신청을 하는 즉시 다시 정상적으로 서비스를 이용할 수 있습니다.
            3. 휴면계정으로 전환된 계정은 전환일로부터 3년 이내에 “사이트”의 로그인을 통해 재이용신청을 진행하실 수 있으며, 일정한 절차를 완료하는 경우 일반계정으로 전환되어 서비스 이용이 가능합니다. 3년 이내에 일반 계정으로 전환이 안된 휴면계정은 계약이 해지된 것으로 간주되어 관리됩니다.
            4. 휴면 계정의 효력
            가. “투자자”인 “회원”의 경우 :
            분리 보관되는 정보 - 이름, 생년월일, 성별, 연락처(전자우편 (E-mail), 휴대전화번호 등 등록한 정보), 본인확인 정보, 투자내역, 접속기록
            파기되는 정보 - 이메일 수신동의, SMS수신동의
            나.“투자자”가 아닌“회원”의 경우 :
            분리 보관되는 정보 – 전자우편 (E-mail)
            파기되는 정보 - 이메일 수신동의
          </p>
        </div>
      </div>
      <div :class="p.className.chapter">

        <h2 :class="p.className.title">제 3 장 회원정보의 보호</h2>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 12 조 (회원정보의 수집과 보호)</h3>
          <p :class="p.className.text">
            ① “회사”는 이용계약을 위하여 “회원”이 제공한 정보 외에도 수집목적 또는 이용목적을 밝혀 “회원”으로부터 필요한 정보를 수집할 수 있습니다. 이 경우, “회사”는 “회원”으로부터 정보수집에 대한 동의를 받습니다.
            ② “회사”가 정보수집을 위하여 서비스이용계약에 선택적인 동의를 “회원”으로부터 받는 경우, “회사”는 수집하는 개인정보의 항목 및 수집방법, 수집목적 및 이용목적, 개인정보의 보유 및 이용기간, 제3자에 대한 정보제공 사항(제공받는 자, 제공받는 자의 이용목적, 제공정보의 항목, 보유 및 이용기간)을 개인정보 처리방침으로 미리 명시하거나 고지합니다. “회원”은 정보제공에 동의하더라도 언제든지 그 동의를 철회할 수 있으나 동의 철회에 따라 특정 서비스의 이용이 불가할 수 있으며 이에 따른 불이익은 “회원”이 감수합니다.
            ③ “회원”은 “회사”에게 정보를 제공하는 경우, 진실한 사실을 제공하여야 합니다.
            ④ “회사”는 아이디(ID) 등 서비스화면을 통하여 공개되는 정보를 제외하고는 “회사”가 수집한 회원정보를 정보수집 시에 밝힌 수집목적, 이용목적, 외의 용도로 사용하거나 당해 “회원”의 동의 없이 제3자에게 제공하지 않습니다. 다만, 다음의 경우는 예외로 합니다.
            1. 법령이 회원정보의 이용과 제3자에 대한 정보제공을 허용하고 있는 경우.
            2. “차입자”의 동의 하에, 대출신청이 성사된 후 발생한 연체 및 채무 불이행의 경우. 다만 이 경우 “회사”는 해당 대출에 참가한 투자회원에 한하여 “차입자”의 실명, 연락처 등의 정보를 제공합니다.
            3. “회원”의 동의 하에, “회사”와 제휴한 업체의 광고 기타 상업적 목적을 위한 자료로 제공 활용되는 경우
            ⑤ “회사”의 개인정보 관리책임자 및 연락처는 아래와 같습니다.
            성명 :
            소속 : 정보운영팀
            직위 : 수석
            E-mail : help@founding.kr
            ⑥ “회원”은 언제든지 자신에 관한 정보를 열람할 수 있고, “회사” 또는 개인정보 관리책임자에게 잘못된 정보에 대한 정정을 요청할 수 있습니다. “회사”는 “회원”으로부터 정보정정의 요청이 있는 경우 그 오류가 시정될 때까지 당해 정보를 이용하지 않습니다.
            ⑦ “회사”는 회원정보의 보호를 위하여 관리자를 최소한으로 한정하며, “회사”의 고의 또는 과실로 인하여 회원정보가 분실, 도난, 유출, 변조된 경우에는 그로 인한 “회원”의 손해에 대하여 모든 책임을 부담합니다.
            ⑧ 이용계약이 종료된 경우, “회사”는 당해 “회원”의 정보를 파기하는 것을 원칙으로 합니다. 다만, 아래의 경우에는 회원정보를 보관합니다. 이 경우 “회사”는 보관하고 있는 회원정보를 그 보관의 목적으로만 이용합니다.
            1. 상법 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 “회사”는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
            2. “회원”의 탈퇴신청 등으로 이용계약이 종료된 경우, “회사”는 투자자 보호 및 본 약관이 정한 제한을 의도적으로 회피하기 위한 임의 해지 방지를 위하여 상당하다고 인정되는 경우에 한하여 이용계약종료 후 1년간 아이디(ID), 성명 또는 상호, 연락처, 거래상세내역, 약관위반 행위자료 등 최소한의 필요정보를 보관합니다.
            3. “회사”가 이용계약을 해지하거나 “회사”로부터 제15조에 따른 회원자격정지조치를 받은 “회원”에 대해서는 재가입에 대한 승낙거부사유가 존재하는지 여부를 확인하기 위한 목적으로 이용계약종료 후 1년간 아이디(ID), 성명 또는 상호, 연락처, 주소, 해지와 회원자격정지와 관련된 정보 등 최소한의 필요정보를 보관합니다.
            4. 기타 정보수집에 관한 동의를 받을 때 보유기간을 명시한 경우에는 그 보유기간까지 회원정보를 보관합니다.
            5. “회사”는 회원정보의 보호와 관리에 관한 개인정보처리방침을 “회원”과 “회사”의 서비스를 이용하고자 하는 자가 알 수 있도록 “사이트”에 공지합니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 13 조 (회원정보의 변경)</h3>
          <p :class="p.className.text">
            ① “회원”은 이용신청 시 기재한 사항이 변경되었을 경우, 즉시 해당 사항을 수정해야 합니다. 회원정보의 변경은 로그인을 한 후 마이페이지의 회원정보에서 변경할 수 있습니다. 단, 아이디(ID)는 수정할 수 없음을 원칙으로 합니다.
            ② 회원정보가 변경되었음에도 해당 사항을 수정하지 않음으로써 발생하는 각종 손해와 잘못된 수정으로 인하여 발생하는 손해는 당해 “회원”이 부담하여야 합니다. 다만, “회사”의 고의나 과실에 의하여 손해가 발생한 경우에는 “회사”가 손해를 부담합니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 14 조 (회원의 아이디(ID) 및 비밀번호(Password)의 관리)</h3>
          <p :class="p.className.text">
            ① “회원”의 아이디와 비밀번호에 관한 관리책임은 “회원”에게 있으며, 이를 제3자가 이용하도록 양도, 대여할 수 없습니다.
            ② “회사”의 고의나 과실에 의하지 아니한 아이디 또는 비밀번호의 유출, 양도, 대여로 인한 손실이나 손해에 대하여는 해당”회원”이 책임을 집니다.
            ③ “회원”이 아이디 또는 비밀번호를 도난 당하거나 제3자가 이를 사용하고 있음을 인지한 경우, 즉시 “회사”에게 통보하여야 하고, “회사”의 안내가 있는 경우에는 그에 따라야 합니다.
            ④ “회사”는 “회원”의 아이디가 개인정보 유출 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나 “회사” 및 “회사”의 운영자로 오인될 우려가 있는 경우, 해당 아이디의 이용을 제한할 수 있으며, 제한사항을 해당 서비스 화면에 게시하거나, 전자우편(E-mail) 또는 기타 방법으로 “회원”에게 통보하기로 합니다.
          </p>
        </div>
      </div>
      <div :class="p.className.chapter">
        <h2 :class="p.className.title">제 4 장 서비스의 이용</h2>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 15 조 (서비스 이용의 정지, 제한 및 회원의 등급)</h3>
          <p :class="p.className.text">
            ① “회사”는 서비스를 통한 거래의 안전성과 신뢰성을 위하여 이 약관에서 정한 바에 따라 회원자격을 정지하거나 서비스의 이용을 제한할 수 있습니다. 회원자격이 정지된 “회원”은 금융거래 장소 서비스를 포함한 모든 서비스를 이용할 수 없습니다. 또한 성실하고 적법하게 “사이트”를 이용한 “회원”에 대하여는 이 약관에서 정하는 바에 따라 거래이용시의 혜택을 부여할 수 있습니다.
            ② “회원”의 신용도에 따른 등급
            1. 거래 내역을 평가하여 “회원”에게 등급을 부여할 수 있습니다.
            2. “회원”의 등급에 따라 거래이용의 혜택을 부여하는 이익을 제공하거나, 회원자격을 정지 및 일정한 금융거래 장소 서비스의 이용을 제한 등 불이익을 제공할 수도 있습니다.
            3. 투자자 등급 : “회사”는 각 “회원”의 투자 최종 성사 여부 등을 종합하여 등급을 각각 부여합니다. 등급의 산정기준과 운영정책에 관한 세부사항은 “사이트”의 공지란을 통하여 별도로 공지합니다.
            4. 회원자격의 정지 : “회사”는 금융거래 장소 서비스 등을 통한 거래의 신뢰성과 거래질서 유지를 위하여 “회원”이 대출을 신청하여 “차입자”로서의 등급 및 평점에 대한 허위 등록 등 거래진행을 방해하는 부당, 불법 거래행위 등을 할 경우 “회원” 자격을 정지할 수 있습니다.
            5. 서비스 이용제한 : “회사”는 직거래유도행위에 대하여 직거래 방지 조치와 “회원”에 대한 이용제한을 부과합니다.
            6. 회원자격 정지 등의 해소 : “회사”는 등급에 따라 회원자격이 정지되거나 금융거래 장소서비스의 이용이 제한된 “회원”이 해당 행위를 할 수 밖에 없었던 사유를 소명하거나 거래상대방의 양해가 있었음을 소명하는 등 “회사”가 정하는 기준을 충족하는 경우 회원 자격 정지 또는 금융거래 장소 서비스 이용제한 조치를 해소할 수 있습니다.
            7. “회원”에 대한 혜택 : “회사”는 대출받기나 투자하기를 성실하고 적법하게 이용하여 회원상호간의 원활한 거래에 기여한 “회원”에 대하여 각종 혜택을 부여합니다. 혜택의 종류와 범위, 부여기준 등은 “회사”의 별도 공지에 따릅니다.
            8. 공지 : “회사”는 등급과 관련된 사항을 공지 하여야 하며, “회사”의 등급에 대한 구체적인 산정기준, 변경사유 및 절차, 운영실태 등을 “회원”에게 불리하게 변경할 경우에는 이를 상당한 기간(7일 이상의 기간) “사이트”에 공시하고 “회원”의 이의신청을 받아야 합니다.
            9. 재가입의 경우 : “회원”이 이용계약해지 후 재가입하는 경우에도 이용계약해지 전 부과된 등급 및 그에 기하여 “회사”로부터 부과 받은 회원자격정지 등의 조치는 그대로 유지됩니다. 단, 이는 “회사” 정책에 따라 부여된 등급 및 제재에 관한 사항을 의도적으로 회피할 목적으로 탈퇴 후 재가입절차를 이용하려는 “회원”을 미연에 방지하고자, “회사”가 고객자료를 이용한다는 의미일 뿐, 탈퇴한 “회원”의 개인정보사항을 이용함을 의미하지는 않습니다.
            ③ 회원자격이 정지된 “회원”에게 완료되지 않은 거래가 있는 경우 해당 “회원”은 거래에 관한 제반 과정을 완료하여야 합니다. 다만, 상환이 되지 아니한 미완료거래에 한하여 거래가 완료될 때 까지만 권리 의무를 행사할 수가 있습니다.
          </p>
        </div>
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">제 16 조 (서비스이용료 등)</h3>
          <p :class="p.className.text">
            ① 대출이 실행되었을 경우, 투자자는 “회사”의 서비스 제공에 필요한 보수로서 “회사”에게 “관리 수수료”를 아래의 각 항목과 같이 지급해야 합니다. 서비스 편의를 위해 “회사”는 해당 이용료를 공제하고 이자 등을 지급할 수 있습니다.
            1. 플랫폼 이용 수수료 : 해당 투자건의 투자금액에 대해 투자원금의 1.2%(연 기준)으로 투자기간만큼 일할 계산되어 대출 원금 상환 시 수취합니다.
            ② 대출이 실행되었을 경우, “차입자”는 “회사”의 서비스 제공에 필요한 보수로서 “회사”에게 약정한 대출상환기간과 대출신청 당시의 "“회사”"의 심사에 따라 “플랫폼 이용 수수료”를 지급해야 합니다. 서비스 편의를 위해 “회사”는 해당 이용료를 제하고 대출금을 지급할 수 있습니다.
            ③ “차입자”는 “회사”에게 금융거래 장소 서비스에서 결정된 이자를 매월 정해진 기일에 지급하여야 합니다. 차입자가 금융거래 장소 서비스에서 결정된 이자를 정해진 기일에 투자자에게 지급하지 못하면 대출약정서에서 정한 소정의 연체 이자가 가산됩니다.
            ④ 금융거래 장소 서비스와 관련하여 발생하는 은행에 대한 계좌이체 수수료는 “투자자”와 “차입자” 각자가 부담합니다.
            ⑤ 기타 서비스에 있어서, “회사”가 서비스 이용에 따른 수수료를 부과하고자 할 경우에는 부과기준 및 기타 상세한 내용을 시행 전에 “사이트”에 7일 이상 공지합니다.
          </p>
        </div>
      </div>
      <div :class="p.className.chapter">
        <h2 :class="p.className.title">제 5 장 손해배상 및 기타사항</h2>

        <div :class="p.className.section">
          <h3 :class="p.className.subtitle">제 17 조 (“회사”의 면책)</h3>
          <p :class="p.className.text">
            ① “회사”가 “회원”들에게 제공하는 서비스는 온라인 거래장소(marketplace)를 제공하고 거래서비스 등 부가서비스를 통하여 “회원” 상호간 거래가 원활하게 진행되도록 관리하는 것에 그칠 뿐, “회원” 상호간의 거래에 따른 권리와 의무 및 사후처리는 거래당사자가 직접 부담합니다. “회사”는 “회원” 상호간 거래가 원만하게 이루어지도록 상법상의 중개규정 및 전자상거래 기본법 등 관련법령을 준수합니다.
            ② “회사”는 천재지변 또는 이에 준하는 불가항력, 정보통신설비의 보수점검, 교체 또는 고장, 통신의 두절 등으로 인하여 일시적 또는 종국적으로 서비스를 제공할 수 없는 경우, 서비스 제공에 관한 책임이 면제됩니다. 이 경우 “회사”는 제4조에 정한 방법으로 “회원”들에게 통지합니다. 다만, “회사”가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.
            ③ “회사”는 인터넷 이용자 또는 “회원”의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.
            ④ “회사”는 “회사”가 제공하는 서비스를 경유하지 아니하고 이루어진 개별 계약과 “회원” 본인이 제공한 신상등록정보의 오류, 미비 등으로 인하여 발생하는 손해에 대해서는 책임을 지지 않습니다.
            ⑤ “회사”는 “회원”이 다른 “회원”에 의해 게재된 정보, 자료, 사실의 정확성 등을 신뢰함으로써 입은 손해에 대하여 책임을 지지 않습니다.
            ⑥ “회원”은 서비스 이용 시 노출되는 제휴업체를 포함한 “회사”의 광고게재에 대해 동의한 것으로 봅니다.
            ⑦ “회사”와 피 연결”회사”(“회사”의 서비스 화면과 링크 등으로 연결된 사이트를 운영하는 법인 또는 “회사”를 말합니다)는 독자적으로 운영되며, “회사”는 피 연결”회사”와 “회원” 간에 이루어진 거래, 피 연결”회사”가 제공하는 정보내용 및 이를 “회원”이 신뢰함으로써 발생한 손해 등에 대하여 책임을 지지 않습니다. “회사”는 서비스상에 게재되어 있거나 본 서비스를 통한 제휴업체 등의 판촉활동에 “회원”이 참여하거나 교신 또는 거래를 함으로써 발생하는 손실과 손해에 대해 일체의 책임을 지지 않습니다.
            ⑧ “회사”는 “회원”이 “회사”가 제공하는 정보(제10조 제3항)에 관하여 그 수신을 거부하여 발생하는 손해에 대해서는 면책됩니다.
          </p>
        </div>
        <div :class="p.className.section">
          <h3 :class="p.className.subtitle">제 18 조 (준거법 및 관할법원)</h3>
          <p :class="p.className.text">
            본 약관과 “회사”와 “회원” 간의 개별서비스 이용약관, “회원” 상호간의 거래에 대해서는 대한민국 법령이 적용되며, “회사”와 “회원” 간에 분쟁이 발생할 경우 민사소송법 등 관련법령에 의한 관할법원 이외에 서울중앙지방법원에 소를 제기할 수 있습니다.
          </p>
        </div>
        <div :class="p.className.section">
          <h3 :class="p.className.subtitle">제 19 조 (기타 조항)</h3>
          <p :class="p.className.text">
            ① “회사”는 서비스의 제공에 필요한 경우 정기점검을 실시할 수 있으며, 정기점검시간은 서비스 제공화면에 공지한 바에 따릅니다.
            ② “회사”는 “회원”이 제기하는 정당한 의견을 반영하고, 고객의 불만사항 등을 해결하기 위하여 고객센터를 설치, 운영합니다. “회사”는 “회원”으로부터 제기되는 의견 및 불만사항이 정당하다고 판단되는 경우 이를 신속하게 처리하며, 즉시 처리가 곤란한 경우에는 그 사유와 처리기간을 제4조에 의한 방법으로 통지합니다.
            ③ 고객 센터 안내
            1. 담당자:
            2. 직위: 서비스운영팀 수석
            3. E-mail: help@founding.kr
            ④ “회사”소개
            1. “회사”명: ㈜파운딩 컴퍼니
            2. 주소: 서울특별시 분당구
            3. 사업자등록번호:
            4. 대표자성명:
          </p>
        </div>
      </div>
      <div :class="p.className.chapter">
        <div :class="p.className.section">

          <h3 :class="p.className.subtitle">부 칙</h3>
          <p :class="p.className.text">
            1. 이 약관은 2019년 1월 17일부터 효력을 발생합니다.
            2. 본 약관 이전에 적용되었던 약관은 본 약관으로 대체합니다.
          </p>
        </div>
      </div>
    </template>
  </terms-base-data>
</template>

<script>
import TermsBaseData from '~/components/data/terms/Base.vue'
/**
 * TermsInvestData
 * @vuedoc
 * @classdesc
 * @exports data/terms/Invest
 */
export default {
  name: 'TermsInvestData',
  components: { TermsBaseData },
  props: {},
  data() {
    return {}
  }
}
</script>

<style module>
</style>
