.indicator {
  /**/
  &__elem {
    &:hover {
      cursor: pointer;
    }
  }
}

.indicator--dot {
  /**/
}

.indicator--dash {
  $b: '.indicator';

  $height: 4px;

  position: relative;

  display: flex;
  justify-content: center;

  @include at-browser(ie9) {
    display: table;

    width: 100%;
  }

  #{$b} {
    &__elem {
      position: relative;
      display: inline-block;

      flex-grow: 1;

      height: $height;
      margin-right: 2px;

      background-color: $indicator-color;

      @include at-browser(ie9) {
        display: table-cell;

        width: auto;
      }

      &::after {
        content: "";

        position: absolute;

        width: 0%;
        height: $height;

        @include transition-duration(0.3s);
        @include transition-property(background-color);
      }

      &--activate {
        // background-color: $indicator-activated-color;

        &::after {
          content: "";

          width: 100%;
          height: $height;

          background-color: $indicator-activated-color;

          @include transition-property(background-color, width);
        }
      }
      &--deactivate {
        // background-color: $indicator-deactivated-color;

        &::after {
          content: "";

          width: 100%;
          height: $height;

          background-color: $indicator-deactivated-color;
        }
      }
    }
  }
}
