<template>
  <div :class="$style.fnd">
    <default-layout />
    <base-header
      :logo="true"
      :logo-type="'svg-text'"
      :items="headerItems"
    />
    <div :class="$style.contents">
      <nuxt/>
    </div>
    <base-footer
      :logo="true"
      :logo-type="'rect'"
      :items="footerItems"
    />
  </div>
</template>

<script>
import DefaultLayout from '~/layouts/default.vue'
import BaseHeader from '~/components/headers/Base.vue'
import BaseFooter from '~/components/footers/Base.vue'
export default {
  components: {
    DefaultLayout,
    BaseHeader,
    BaseFooter
  },
  data() {
    return {
      headerItems: this.$store.state.data.headerItems,
      footerItems: this.$store.state.data.footerItems
    }
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/layouts/invest/base.css' }]
  }
}
</script>

<style module>
.fnd {
  /* fnd */
}
.contents {
  /* contents */
}
</style>
