@import '../../common';

.intro {
  width: 100%;
  height: 500px;

  background-color: gray;

  .left {
    float: left;

    width: 61.52%;
    height: inherit;
    @include media("mobile") {
      width: 100%;
    }

    background-color: #333;
  }

  .right {
    float: right;

    width: 38.45%;
  }
}

.info {
  display: flex;
  background-color: #838383;

  width: 100%;
  height: 200px;
  &__elem {
    flex-grow: 1;

    border: 1px solid black;
  }
}
