// ==========================================================================
// BaseDropdown - 드롭다운 스타일
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================
.dropdown {
  display: inline-block;

  .icon {
    @include transition-duration($dropdown-transition-time);
    @include transition-property(all);
    @include transition-timing-function(ease-in);

    @include scale(0.7);
  }
  .dropdown-trigger-wrapper,
  .dropdown-menu-wrapper {
    @include transition-duration($dropdown-transition-time);
    @include transition-property(visibility, opacity, color, border);
    @include transition-timing-function(ease-in);

    a {
      @include transition-property(none);
    }
  }

  // Dropdown 활성화 시
  &.visible {
    .icon {
      transform: scale(0.7) rotate(180deg);
    }
  }
}

.dropdown {
  $b: &;

  &__trigger {
    z-index: $dropdown-z-index;
    position: relative;

    border: solid $dropdown-border-width $dropdown-border-color;
    padding: 8px 14px;

    cursor: pointer;
  }

  &__trigger-text {
    /**/
  }

  &__menu {
    z-index: $dropdown-menu-z-index;

    padding: 4px 0px; // hover 시 좌우 연동됨

    visibility: hidden;
    position: absolute;
    opacity: 0;

    border: solid $dropdown-menu-border-width $dropdown-menu-border-color;

    background-color: $dropdown-menu-bg-color;

    a {
      font-size: 88%;
      color: $dropdown-menu-text-color;
    }

    ul {
      padding-top: 6px;
      li {

        display: block;

        margin: 1px 0px;
        a {
          display: block;

          padding: 3px 14px; // hover 시 좌우 연동됨

          cursor: pointer;
        }

        &:hover {
          background-color: $dropdown-menu-bg-hover-color;

          a {
            color: $dropdown-menu-text-hover-color;
          }
        }
      }
    }
  }

  &__menu-text {
    background-color: inherit;
  }

  &__trigger,
  &__menu {
    @include transition-duration($dropdown-transition-time);
    @include transition-property(visibility, opacity, color, border);
    @include transition-timing-function(ease-in);
    a {
      @include transition-property(none);
    }
  }


  .icon {
    @include transition-duration($dropdown-transition-time);
    @include transition-property(all);
    @include transition-timing-function(ease-in);

    @include scale(0.7);
  }

  &.is-visible {
    .icon {
      transform: scale(0.7) rotate(180deg);
    }

    #{$b} {
      &__trigger {
        border-bottom: solid $dropdown-border-bottom-width $dropdown-border-bottom-color;
      }

      &__menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
