.radial-progress {
  position: relative;
}

.radial-progress__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radial-progress__bar {
  /**/
}

.radial-progress__inner + svg {
  width: initial;
  height: initial;
  fill: initial;
}
