.line-progress {
  /**/
}
.line-progress--rect {
  /**/
}
.line-progress--round {
  /**/
}
.line-progress__container {
  /**/
}
.line-progress__text {
  /**/
}
.line-progress__bar {
  /**/
}

.line-progress--round .line-progress__container,
.line-progress--round .line-progress__bar {
  border-radius: 20px;
}
