<template>
  <question-tooltip>
    <h5>예치금</h5>
    <br>
    <p>예치금 계좌에 입금된 금액입니다. 발급된 가상계좌에 입금하여 투자할 수 있습니다.</p>
  </question-tooltip>
</template>

<script>
import QuestionTooltip from '~/components/tooltips/Question.vue'
export default {
  name: 'BalanceQuestionTooltip',
  components: { QuestionTooltip },
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
</style>
