<template>
  <question-tooltip>
    <h5>최대 투자 가능 금액</h5>
    <br>
    <p>금융위원회의 P2P 가이드라인 (2018.2.27 개정) 에 따라 일반 투자자는 2천만원 (대출자 당 500만원) 까지 투자 가능합니다. (단, 부동산 PF대출·담보대출은 1천만원까지 투자가능)
    * 한도 내에서 상환받은 원금은 다시 투자하실 수 있습니다.</p>
  </question-tooltip>
</template>

<script>
import QuestionTooltip from '~/components/tooltips/Question.vue'
export default {
  name: 'MaxInvestableAmount',
  components: { QuestionTooltip },
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
</style>
