<template>
  <question-tooltip>
    <h5>주민등록번호를 왜 수집하나요?</h5>
    <br>
    <p>주민등록번호는 이자 수익률에 대한 세금을 원천징수하기 위해 사용되며 그 이외의 용도로는 사용하지 않습니다.
    투자 고객 대상으로만 수집하며, 주민등록번호를 등록하지 않더라도 투자를 제외한 서비스는 이용이 가능합니다</p>
  </question-tooltip>
</template>

<script>
import QuestionTooltip from '~/components/tooltips/Question.vue'
export default {
  name: 'PersonalNumberQuestionTooltip',
  components: { QuestionTooltip },
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
</style>
