<template>
  <div :class="getClasses('search')">
    <form :class="getClasses('form')">
      <input
        id="search"
        :class="getClasses('input')"
        :placeholder="placeholder"
        autocomplete="off"
        type="text">
      <label
        :class="getClasses('label')"
        for="search"
        type="text"/>
      <button
        id="search"
        :class="getClasses('btn', 'search')"
        type="text">
        <svg
          class="promoted-search__search-icon"
          viewBox="0 0 24 24"><path d="M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z"/><path
            d="M0 0h24v24H0V0z"
            fill="none"/></svg>
      </button>
    </form>
  </div>
</template>

<script>
/**
 * BaseSearch
 * @vuedoc
 * @classdesc 기본 검색 창 컴포넌트
 * @exports search/Base
 */
export default {
  name: 'BaseSearch',
  components: {},
  props: {
    placeholder: {
      type: String,
      default: '검색어를 입력해주세요.'
    }
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'search':
          classes[this.$style['search']] = true
          break
        case 'form':
          classes[this.$style['search__form']] = true
          break
        case 'input':
          classes[this.$style['search__input']] = true
          break
        case 'label':
          classes[this.$style['search__label']] = true
          break
        case 'btn':
          classes[this.$style['search__btn']] = true
          classes[this.$style['search__btn--' + arg]] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.search {
}
.search__form {
}
.search__input {
}
.search__label {
}
.search__btn {
}
.search__btn--search {
}
</style>
