<template>
  <div
    :class="getClasses('accordion')">
    <slot />
  </div>
</template>

<script>
/**
 * BaseAccordion
 * @vuedoc
 * @classdesc 아코디언 기본 컴포넌트
 * @exports accordion/Base
 */
export default {
  name: 'BaseAccordion',
  components: {},
  props: {
    orientation: {
      type: String,
      default: 'horizontal' // horizontal, vertical
    }
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'accordion':
          classes[this.$style['accordion']] = true
          classes[this.$style['accordion--' + this.orientation]] = true
          break
        case 'item':
          classes[this.$style['accordion__item']] = true
          break
        case 'item-header':
          classes[this.$style['accordion__item-header']] = true
          break
        case 'item-content':
          classes[this.$style['accordion__item-content']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.accordion {
}
.accordion--horizontal {
}
.accordion--vertical {
}
.accordion__item {
}
.accordion__item-header {
}
.accordion__item-content {
}
</style>
