<template>
  <div :class="getClasses('accordion-item')">
    <sticky-grid
      v-if="sticky"
      :result.sync="stickyResult"
      :margin-top-target="stickyTarget"
      width="100%">
      <div
        :class="getClasses('header')"
        @click="handleHeaderClick">
        <slot name="header"/>
        <base-icon
          section="svg"
          theme="antd/outline"
          type="down" />
      </div>
    </sticky-grid>
    <div 
      v-else
      :class="getClasses('header')"
      @click="handleHeaderClick">
      <slot name="header"/>
    </div>
    <div
      :class="getClasses('content')"
      :style="contentStyle">
      <slot name="content"/>
    </div>
  </div>
</template>

<script>
import BaseIcon from '~/components/icons/Base.vue'
import StickyGrid from '~/components/grids/Sticky.vue'
/**
 * AccordionItem
 * @vuedoc
 * @classdesc 아코디언 아이템 생성 컴포넌트로 아코디언을 생성하기 위해 필요한 헤더와 컨텐츠를 생성해준다.
 * @exports accordion/Item
 */
export default {
  name: 'AccordionItem',
  components: { StickyGrid, BaseIcon },
  props: {
    theme: {
      type: String,
      default: 'default'
    },
    sticky: {
      type: Boolean,
      default: false
    },
    stickyTarget: {
      type: String,
      default: null
    },
    /**
     *  header 와 content 사이의 margin을 정한다.
     *  type == 'sticky' 일 경우에만 동작한다.
     *  이 프로퍼티가 필요한 이유
     *  - content의 margin-top 이 동적으로 설정되기 때문에 필요하다.
     *  - header에서 margin-bottom 을 주게 되면 sticky 스크롤 시 모양이 안좋아진다.
     */
    contentMarginTop: {
      type: Number,
      default: 0
    },
    collapse: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      /**
       * sticky grid로 부터 값을 가져옴.
       * browser에서 렌더링 된 후 height 값을 가지기 위해서 사용됨.
       */
      stickyResult: {},
      collapsed: this.collapse
    }
  },
  computed: {
    contentStyle: function() {
      var style = {}
      if (this.sticky) {
        if (process.browser) {
          // 미관상 contentMarginTop 는 collapse == false 일 경우에만 적용한다.
          if (this.collapsed) {
            style.marginTop = this.stickyResult.height + 'px'
          } else {
            style.marginTop =
              this.contentMarginTop + this.stickyResult.height + 'px'
          }
        }
      }

      return style
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'accordion-item':
          classes[this.$style['accordion-item']] = true
          classes[this.$style['is-collapsed']] = this.collapsed
          classes[this.$style['accordion-item--theme-' + this.theme]] = true
          classes[this.$style['accordion-item--sticky']] = this.sticky
          break
        case 'header':
          classes[this.$style['accordion-item__header']] = true
          break
        case 'content':
          classes[this.$style['accordion-item__content']] = true
          break
      }
      return classes
    },
    handleHeaderClick(e) {
      this.collapsed = !this.collapsed
    }
  }
}
</script>

<style module>
.accordion-item {
}
.is-collapsed {
}
.accordion-item--theme-default {
}
.accordion-item--sticky {
}
.accordion-item__header {
}
.accordion-item__content {
}
</style>
