<template>
  <ConsoleLogo/>
</template>

<script>
import ConsoleLogo from '~/components/funs/ConsoleLogo.vue'
export default {
  components: { ConsoleLogo },
  head() {
    return {
      htmlAttrs: {
        class: this.getClasses('html')
      }
    }
  },
  mounted() {
    if (process.browser) {
      document.addEventListener('touchstart', function() {}, true)
    }
  },
  methods: {
    getClasses(type) {
      switch (type) {
        case 'html':
          var _classes = []
          if (this.$device.isMobileOrTablet) {
            _classes.push(this.$style['is-mobile'])
          } else {
            _classes.push(this.$style['is-not-mobile'])
          }

          switch (this.$device.os.name) {
            case 'Mac OS':
              _classes.push(this.$style['mac-os'])
              break
            case 'iOS':
              _classes.push(this.$style['ios'])
              break
            case 'Windows 10':
            case 'Windows 8':
            case 'Windows 7':
              _classes.push(this.$style['windows'])
              break
          }

          switch (this.$device.browser.name) {
            case 'chrome':
              _classes.push(this.$style['chrome'])
              break
            case 'firefox':
              _classes.push(this.$style['firefox'])
              break
            case 'safari':
              _classes.push(this.$style['safari'])
              break
            case 'opera':
              _classes.push(this.$style['opera'])
              break
            case 'edge':
              _classes.push(this.$style['edge'])
              break
            case 'ie':
              _classes.push(this.$style['ie'])
              _classes.push(
                this.$style['ie--' + this.$device.browser.version.major]
              )
              break
          }
          return _classes.join(' ')
          break
      }
    }
  }
}
</script>

  <style module>
.mac-os {
}
.windows {
}
.ios {
}
.android {
}

.chrome {
}
.safari {
}
.opera {
}
.firefox {
}
.ie {
}
.ie--11 {
}
.ie--10 {
}
.ie--9 {
}

.is-mobile {
}
.is-not-mobile {
}
</style>
