@import '../common';

.area--maximum {
  /* maximum */
}
.area--partial {
  /* partial */
}
.signup-box {
  width: 100%;

  .signup-form {
    margin: 30px auto;
  }

  &__logo {
    color: $theme-color;

    font-size: 1.5em;
    text-align: center;

    .svg-logo { // base-logo
      width: 10em;
      height: 4.4em;
      @include media("mobile") {
        width: 10em;
        height: 4.4em;
      }
    }
  }

  &__title {
    margin-top: -20px;

    color: $theme-color-darken;

    text-align: center;
  }
}
