<template>
  <div :class="$style['area--maximum']">
    <div :class="$style['area--maximum']">
      <carousel-jumbotron
        :items="
        mainSliderItems"/>
    </div>
    <!-- P2P 대출 현황 -->
    <!--    <div :class="$style['area&#45;&#45;partial']">-->
    <!--      <div style="background-color:slategray;height:300px;">-->
    <!--        대출 현황-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- 금융사 및 경쟁업체 비교 -->
    <!--    <div :class="$style['area&#45;&#45;partial']">-->
    <!--      <div style="background-color:cornflowerblue;height:300px;">-->
    <!--        경쟁업체 비교-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- 이벤트 -->
    <!--    <div :class="$style['area&#45;&#45;maximum']">-->
    <!--      <div style="height: 300px;">-->
    <!--        <base-carousel-->
    <!--          :count="4"-->
    <!--          indicator="bottom"-->
    <!--          indicator-type="dot"-->
    <!--          use-arrow-->
    <!--        >-->
    <!--          <div-->
    <!--            v-for="i in 4"-->
    <!--            :key="i"-->
    <!--            :slot="'content-'+i"-->
    <!--            style="background-color: gray;height: 100%;">-->
    <!--            이벤트 {{ i }}-->
    <!--          </div>-->
    <!--        </base-carousel>-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- 강점 -->
    <!--    <div :class="$style['area&#45;&#45;partial']">-->
    <!--      <div style="background-color: darkslategray; height: 200px;">강점</div>-->
    <!--    </div>-->
    <!-- 구독 -->
    <div :class="$style['area--maximum']">
      <subscribe-section />
    </div>
    <!-- 언론 -->
    <!--    <div :class="$style['area&#45;&#45;partial']">-->
    <!--      <div style="background-color:white;height:400px;">-->
    <!--        언론-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- FAQ -->
    <!--    <div :class="$style['area&#45;&#45;partial']">-->
    <!--      <div style="background-color:brown;height:400px;">-->
    <!--        FAQ-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- 파트너사 -->
    <!--    <div-->
    <!--      :class="$style['area&#45;&#45;maximum']"-->
    <!--      style="background-color:crimson">-->
    <!--      <div :class="$style['area&#45;&#45;partial']">-->
    <!--        <div style="background-color:lightyellow;height:150px;">-->
    <!--          Parteners-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- 기능 -->
    <div :class="$style['area--partial']">
      <column-summary-metro-button-section :items="termItems"/>
    </div>

  </div>
</template>

<script>
import BaseCarousel from '~/components/carousels/Base'
import CarouselJumbotron from '~/components/carousels/Jumbotron'
import SubscribeSection from '~/components/sections/Subscribe'
import ColumnSummaryMetroButtonSection from '~/components/sections/ColumnSummaryMetroButton.vue'

export default {
  layout: 'base/base',
  components: {
    BaseCarousel,
    CarouselJumbotron,
    SubscribeSection,
    ColumnSummaryMetroButtonSection
  },
  fetch({ store, params }) {
    store.dispatch('data/base')
  },
  data() {
    return {
      mainSliderItems: [
        {
          name: 'open',
          title: '파운딩 오픈',
          desc:
            '오픈 기념 수익률 20% 상품을 출시합니다!\n파운딩에 대해서 알아보고 업계 최고 수익을 가져가세요!',
          status: 'OPEN',
          statusDesc: '',
          image: this.$device.isMobile
            ? '/image/sample/celebration-small.jpg'
            : '/image/sample/celebration.jpg',
          buttons: [
            {
              text: '파운딩은?',
              link: '/about'
            },
            {
              text: '투자방법',
              link: '/guide'
            }
          ]
        },
        {
          name: 'new',
          title: '신상품 출시!',
          desc: '새로운 상품이 도착했습니다!\n부동산 경매 낙찰 잔금 대출!',
          status: 'NEW',
          statusDesc: '제 1 호 수익률 20%',
          image: this.$device.isMobile
            ? '/image/sample/hannam-the-hill-small.jpg'
            : '/image/sample/hannam-the-hill.jpg',
          buttons: [
            {
              text: '1호 상품 보러가기',
              link: '/invest'
            }
          ],
          data: {
            수익률: '20%',
            상환기간: '11개월'
          }
        },
        {
          name: 'founding',
          title: '두번째 오픈',
          desc: '잔금낙찰 예상 수익률',
          status: 'FUNDING',
          statusDesc: '제 2 호',
          image: this.$device.isMobile
            ? '/image/banner-3-small.png'
            : '/image/banner-3.jpg',
          buttons: [
            {
              text: '2호 상품 보러가기',
              link: '/invest'
            }
          ],
          data: {
            수익률: '20%',
            상환기간: '5개월'
          }
        },
        {
          name: 'event',
          title: 'title3',
          desc: 'desc',
          status: 'event',
          statusDesc: 'event desc',
          image: this.$device.isMobile
            ? '/image/banner-4-small.png'
            : '/image/banner-4.jpg'
        },
        {
          name: 'event',
          title: 'title4',
          desc: 'desc',
          status: 'event',
          statusDesc: 'event desc',
          image: this.$device.isMobile
            ? '/image/sample/grand-canyon-small.jpg'
            : '/image/sample/grand-canyon.jpg'
        }
      ],
      termItems: [
        {
          icon: 'worldwide',
          title: '투자하기',
          info: '최신상품보기',
          link: '/invest'
        },
        {
          icon: 'insurance',
          title: '가입하기',
          info: '지금시작해보세요',
          link: '/auth/signup'
        },
        {
          icon: 'shield',
          title: '투자방법',
          info: '읽어보기',
          link: '/terms/security'
        },
        {
          icon: 'multiple-users',
          title: '이용약관',
          info: '알아보기',
          link: '/terms'
        }
      ]
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'subscribe-img':
          classes[this.$style['subscribe-section__img']] = true
          break
      }
      return classes
    }
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/home.css' }]
  }
}
</script>

<style module>
.area--maximum {
  /* 최대 너비 사용 */
}
.area--partial {
  /* 부분 너비 사용 */
}
</style>
