.jumbo-screen {
  position: relative;

  width: 100%;

  &__elem {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;

    &--left {
      justify-content: flex-start;
    }
    &--center {
      justify-content: center;
    }
    &--right {
      justify-content: flex-end;
    }
    &--top {
      align-items: flex-start;
    }
    &--middle {
      align-items: center;
    }
    &--bottom {
      align-items: flex-end;
    }
  }
}

// Header 의 height 와 맞춰야 한다.
.jumbo-screen--with-header {
  @include media(">tablet") {
    padding-top: 81px;
  }
  @include media("tablet") {
    padding-top: 51px;
  }
  @include media("mobile") {
    padding-top: 46px;
  }
}

// jumbo styles
.jumbo-screen--green-patt {
  background-color: #0ba24e;
  background-image: url("/image/bg.png");
}
.jumbo-screen--blue-patt {
  background-color: $theme-color-blue-light;
  //background-image: url("/image/bg.png");
}

.jumbo-screen--wave {
  $wave-background: '.wave-background';

  background-color: transparent;
  box-shadow: 0px 10px 100px 20px rgba(147, 215, 162, 0.6);

  #{$wave-background} {
    &__elem {
    }
  }
}

.jumbo-screen--size {
  &-s {

  }

  &-m {
    height: 600px;

    @include media("desktop") {
      height: 550px;
    }
    @include media("tablet") {
      height: 500px;
    }
    @include media("mobile") {
      height: 400px;
    }
  }

  &-l {
  }

  &-xl {
    height: 800px;

    @include media("desktop") {
      height: 750px;
    }
    @include media("tablet") {
      height: 700px;
    }
    @include media("mobile") {
      height: 600px;
    }
  }
}
