<template>
  <span :class="getClasses('tooltip')">
    <span :class="getClasses('item')">
      <slot name="item"/>
    </span>
    <span :class="getClasses('content')">
      <span :class="getClasses('text')">
        <slot name="text" />
      </span>
    </span>
  </span>
</template>

<script>
import BaseIcon from '~/components/icons/Base.vue'
/**
 * BaseTooltip
 * @vuedoc
 * @classdesc 기본 툴팁 컴포넌트
 * @exports tooltips/Base
 */
export default {
  name: 'BaseTooltip',
  components: {},
  props: {
    effect: {
      type: String,
      default: 'box' // 'box'
    }
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'tooltip':
          classes[this.$style['tooltip']] = true
          classes[this.$style['tooltip--effect-' + this.effect]] = true
          break
        case 'item':
          classes[this.$style['tooltip__item']] = true
          break
        case 'content':
          classes[this.$style['tooltip__content']] = true
          break
        case 'text':
          classes[this.$style['tooltip__text']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.tooltip {
}
.tooltip--effect-box {
}
.tooltip__item {
}
.tooltip__content {
}
.tooltip__text {
}
</style>
