<template>
  <base-tooltip>
    <base-icon
      slot="item"
      :section="section"
      :theme="theme"
      :type="type"
    />
    <slot slot="text" />
  </base-tooltip>
</template>

<script>
import BaseIcon from '~/components/icons/Base.vue'
import BaseTooltip from '~/components/tooltips/Base.vue'
/**
 * IconTooltip
 * @vuedoc
 * @classdesc 아이콘 툴팁
 * @exports tooltips/Icon
 */
export default {
  name: 'IconTooltip',
  components: { BaseIcon, BaseTooltip },
  props: {
    section: String, // icon section
    theme: String, // icon theme
    type: String // icon type
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
</style>
