<template>
  <icon-tooltip
    section="svg"
    theme="antd/outline"
    type="info-circle"
  >
    <slot />
  </icon-tooltip>
</template>

<script>
import IconTooltip from '~/components/tooltips/Icon.vue'
/**
 * InfoTooltip
 * @vuedoc
 * @classdesc 정보 툴팁
 * @exports tooltips/Info
 */
export default {
  name: 'InfoTooltip',
  components: { IconTooltip },
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
</style>
