<template>
  <div
    :class="getClasses('root')">
    <div
      :class="getClasses('maximum')">
      <div :class="getClasses('greeting-section')">
        <div :class="getClasses('greeting-section', 'header')">
          <div :class="getClasses('greeting-section', 'icon')">
            <base-icon 
              :type="getInfo('icon')" 
              theme="fnd"/>
          </div>
          <div :class="getClasses('greeting-section', 'title')">
            {{ getInfo('title') }}
          </div>
        </div>
        <div :class="getClasses('greeting-section', 'content')">
          <div :class="getClasses('greeting-section', 'message')"/>
        </div>
      </div>
    </div>
    <div :class="getClasses('partial')">
      <component 
        :is="documentName"/>
    </div>
  </div>
</template>

<script>
import JumboScreen from '~/components/screens/Jumbo.vue'
import BaseIcon from '~/components/icons/Base.vue'

export default {
  layout: 'terms/base',
  components: {
    JumboScreen,
    BaseIcon,
    invest: () => import('~/components/data/terms/Invest.vue'),
    platform: () => import('~/components/data/terms/Platform.vue'),
    security: () => import('~/components/data/terms/Security.vue'),
    service: () => import('~/components/data/terms/Service.vue')
  },
  props: {},
  data() {
    return {
      documentName: this.$route.params.document,
      info: {
        platform: {
          title: '플랫폼 이용약관',
          icon: 'worldwide'
        },
        invest: {
          title: '투자자 이용약관',
          icon: 'insurance'
        },
        security: {
          title: '개인정보 이용약관',
          icon: 'shield'
        },
        service: {
          title: '서비스 이용약관',
          icon: 'multiple-users'
        }
      }
    }
  },
  fetch({ store, params }) {
    store.dispatch('data/base')
  },
  computed: {
    elemStyle: function() {
      return {}
    }
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/terms/document.css' }]
  },
  created() {},
  destoryed() {},
  mounted() {
    console.log(this)
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'root':
          classes[this.$style['root']] = true
          classes[this.$style['area--maximum']] = true
          break
        case 'text':
          classes[this.$style['text--' + arg]] = true
          break
        case 'maximum':
          classes[this.$style['area--maximum']] = true
          break
        case 'partial':
          classes[this.$style['area--partial']] = true
          break
        case 'box':
          classes[this.$style['_box']] = true
          break
        case 'greeting-section':
          if (arg == undefined) {
            classes[this.$style['greeting-section']] = true
          } else {
            classes[this.$style['greeting-section__' + arg]] = true
          }
          break
        default:
          break
      }

      return classes
    },
    getInfo(key) {
      return this.info[this.documentName][key]
    }
  }
}
</script>

<style module>
body {
}
.root {
}
.root::before {
}
.area--maximum {
}
.area--partial {
}
._box {
}
._box::before {
}
.text--m {
}
.text--l {
}
.text--xl {
}
.text--xxl {
}

.greeting-section {
}
.greeting-section__icon {
}
.greeting-section__header {
}
.greeting-section__title {
}
.greeting-section__content {
}
</style>
