<template>
  <div>
    <div
      :class="getClasses('root')">
      <div
        :class="getClasses('maximum')">
        <div :class="getClasses('greeting-section')">
          <div :class="getClasses('greeting-section', 'header')">
            <div :class="getClasses('greeting-section', 'title')">
              이용 약관
            </div>
          </div>
          <div :class="getClasses('greeting-section', 'content')">
            <div :class="getClasses('greeting-section', 'message')">
              반갑습니다. 파운딩 입니다.
            </div>
          </div>
        </div>
      </div>
      <div :class="getClasses('partial')">
        <column-summary-metro-button-section
          :items="termItems"/>
      </div>
    </div>
  </div>
</template>

<script>
import JumboScreen from '~/components/screens/Jumbo.vue'
import BaseIcon from '~/components/icons/Base.vue'
import ColumnSummaryMetroButtonSection from '~/components/sections/ColumnSummaryMetroButton.vue'

export default {
  layout: 'terms/base',
  components: {
    JumboScreen,
    BaseIcon,
    ColumnSummaryMetroButtonSection
  },
  props: {},
  data() {
    return {
      termItems: [
        {
          icon: 'worldwide',
          title: '플랫폼 이용약관',
          info: '읽어보기',
          link: '/terms/platform'
        },
        {
          icon: 'insurance',
          title: '투자자 이용약관',
          info: '읽어보기',
          link: '/terms/invest'
        },
        {
          icon: 'shield',
          title: '개인정보 처리방침',
          info: '읽어보기',
          link: '/terms/security'
        },
        {
          icon: 'multiple-users',
          title: '서비스 이용정책',
          info: '읽어보기',
          link: '/terms/service'
        }
      ]
    }
  },
  fetch({ store, params }) {
    store.dispatch('data/base')
  },
  computed: {
    elemStyle: function() {
      return {}
    }
  },
  head: {
    link: [{ rel: 'stylesheet', href: '/css/pages/terms/index.css' }]
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'root':
          classes[this.$style['root']] = true
          classes[this.$style['area--maximum']] = true
          break
        case 'text':
          classes[this.$style['text--' + arg]] = true
          break
        case 'maximum':
          classes[this.$style['area--maximum']] = true
          break
        case 'partial':
          classes[this.$style['area--partial']] = true
          break
        case 'box':
          classes[this.$style['_box']] = true
          break
        case 'greeting-section':
          if (arg == undefined) {
            classes[this.$style['greeting-section']] = true
          } else {
            classes[this.$style['greeting-section__' + arg]] = true
          }
          break
        default:
          break
      }

      return classes
    },
    handleMetroButtonClick(link) {
      location.href = link
    }
  }
}
</script>

<style module>
body {
}
.root {
}
.root::before {
}
.area--maximum {
}
.area--partial {
}
._box {
}
._box::before {
}
.text--m {
}
.text--l {
}
.text--xl {
}
.text--xxl {
}

.greeting-section {
}
.greeting-section__header {
}
.greeting-section__title {
}
.greeting-section__content {
}
.greeting-section__message {
}
</style>
