.phone-input {
  $input: '.input';

  display: flex;
  flex-direction: column;

  &__input-wrapper {
    display: flex;
    align-items: center;
  }

  &__dash {
    margin: 0px 2px;
  }

  #{$input} {

  }

}

.phone-input--nowrap {
  $b: '.phone-input';

  flex-direction: row;
  align-items: center;

  #{$b} {
    &__title-wrapper {
      flex-basis: 100px;
      margin-right: 10px;
    }
  }
}

@include media("mobile") {
  .phone-input--nowrap {
    $b: '.phone-input';

    flex-direction: column;
    align-items: initial;

    #{$b} {
      &__title-wrapper {
        flex-basis: initial;
        margin-right: initial;
      }
    }
  }
}
