@mixin style-toggle-switch ($size,
                            $on-tint: #4A90E2,
                            $off-tint: #EDF1F5,
                            $thumb-off-tint: #ABB2BF,
                            $thumb-on-tint: #ffffff)
{
  $thumb-size: $size / 3;
  $active-thumb-size: $size / 2.25;
  $thumb-offset: ($thumb-size / 4.5);
  $on-thumb-offset: $thumb-offset + $thumb-size;

  display: inline-block;

  box-sizing: border-box;
  @include appearance(none);
  @include user-select(none);

  width: $size;
  height: $size / 2;

  position: relative;
  border-radius: $size / 2;
  cursor: pointer;
  outline: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $off-tint;

  @include transition-duration(250ms);
  @include transition-timing-function(ease-in-out);

  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &::before {
    background-color: $off-tint;
  }

  &::after {
    box-sizing: border-box;
    width: $thumb-size;
    height: $thumb-size;
    content: ' ';
    position: absolute;
    border-radius: $active-thumb-size / 2;
    background: $thumb-off-tint;
    z-index: 2;
    top: $thumb-offset;
    left: $thumb-offset;
    @include transition(transform 300ms, width 280ms, background-color 600ms);
    @include transform(translate3d(0, 0, 0));
    @include transition-timing-function(cubic-bezier(0.42, 0.800, 0.58, 1.2));
  }

  &:active {
    background-color: $off-tint;
  }

  &:active::after {
    width: $active-thumb-size;
  }

  &.is-checked {
    background-color: $on-tint;
  }

  &.is-checked::after {
    @include transform(translate3d($on-thumb-offset, 0, 0));
    right: $size / 2;
    left: inherit;
    background: $thumb-on-tint;
  }

  &:is-checked::before,
  &:active::before {
    @include transform(scale(0));
  }

  &:focus {
    box-shadow: 0 0 4px 2px transparentize($on-tint, 0.4);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    @include transition(none);

    &:active::before,
    &:active::after,
    &:is-checked:active::before,
    &:is-checked::before {
      width: $thumb-size;
      @include transition(none);
    }

    &:is-checked::before {
    }
  }
}
.toggle-switch {
  display: inline-block;

  &__elem {
    @include style-toggle-switch(50px, $on-tint:$theme-color)

    vertical-align: middle;
  }

  &__text {
    vertical-align: middle;
    color: rgba(0, 0, 0, .4);

    &--left {
      /**/
    }

    &--right {
      /**/
    }

    &--bottom {
      /**/
    }

    &--top {
      /**/
    }
  }
}
