<template>
  <div :class="$style.toggle">
    <slot />
  </div>
</template>

<script>
/**
 * BaseToggle
 * @vuedoc
 * @classdesc 기본 토글 컴포넌트
 * @exports toggles/Base
 */
export default {
  name: 'BaseToggle',
  components: {},
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {}
}
</script>

<style module>
.toggle {
}
</style>
