<template>
  <div
    :class="getClasses('toggle-switch')">
    <span
      v-if="leftText && leftText.length > 0"
      :class="getClasses('text', 'left')">{{ leftText }}</span>
    <span
      v-if="topText && topText.length > 0"
      :class="getClasses('text', 'top')">{{ topText }}</span>
    <div
      :class="getClasses('elem')"
      type="checkbox"
      @click="handleClick" />
    <span
      v-if="rightText && rightText.length > 0"
      :class="getClasses('text', 'right')">{{ rightText }}</span>
    <span
      v-if="bottomText && bottomText.length > 0"
      :class="getClasses('text', 'bottom')">{{ bottomText }}</span>
  </div>
</template>

<script>
/**
 * ToggleSwitch
 * @vuedoc
 * @classdesc 토글 스위치 컴포넌트
 * @exports toggles/Switch
 */
export default {
  name: 'ToggleSwitch',
  components: {},
  props: {
    /**
     * Array 일 경우 left-right-top-bottom 순으로 설정되고 textSide는 무시된다
     */
    checked: Boolean,
    disabled: Boolean,
    result: Object,
    leftText: String,
    rightText: String,
    topText: String,
    bottomText: String
  },
  data() {
    return {
      isChecked: this.checked
    }
  },
  watch: {
    isChecked: function(val) {
      this.updateResult()
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    handleClick(e) {
      this.isChecked = !this.isChecked
    },
    updateResult() {
      var self = this
      this.$emit('update:result', {
        value: this.isChecked
      })
    },
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'toggle-switch':
          classes[this.$style['toggle-switch']] = true
          break
        case 'text':
          classes[this.$style['toggle-switch__text']] = true
          classes[this.$style['toggle-switch__text--' + arg]] = true
          break
        case 'elem':
          classes[this.$style['toggle-switch__elem']] = true
          classes[this.$style['is-checked']] = this.isChecked
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.toggle-switch {
}
.toggle-switch__elem {
}
.toggle-switch__text {
}
.toggle-switch__text--left {
}
.toggle-switch__text--right {
}
.toggle-switch__text--top {
}
.toggle-switch__text--bottom {
}
.is-checked {
}
</style>
