<template>
  <div :class="getClasses('location')" >
    <div :class="getClasses('map')" >
      <real-estate-map
        v-if="type == 'real-estate'"
        :width="width"
        :height="height"
        :id="id"
        :thumbnail="thumbnail"
        :title="title"
        :address="address"
        type="daumkakao"
      />
      <base-map
        v-else
        :width="width"
        :height="height"
        :id="id"
        :address="address"
        type="daumkakao"
      />
    </div>
    <div :class="getClasses('content')">
      <slot name="content"/>
    </div>
  </div>
</template>

<script>
import BaseMap from '~/components/maps/Base.vue'
import RealEstateMap from '~/components/maps/RealEstate.vue'

/**
 * LocationContent
 * @vuedoc
 * @classdesc 위치 정보 컨텐츠
 * @exports content/_Location
 */
export default {
  name: 'LocationContent',
  components: { BaseMap, RealEstateMap },
  props: {
    /**
     * LocationContent 지도로 사용할 타입을 설정한다.
     * 'real-estate' : 부동산을 나타낸다.
     */
    type: {
      type: String,
      default: 'real-estate' // 'real-estate', 'culture', ...
    },
    id: {
      type: String,
      default: 'map'
    },
    width: {
      type: String,
      required: true
    },
    height: {
      type: String,
      required: true
    },
    /**
     * 사용 타입 : 'real-estate'
     */
    thumbnail: {
      type: String,
      default: undefined
    },
    /**
     * 사용 타입 : 'real-estate'
     */
    title: {
      type: String,
      default: undefined
    },
    /**
     * 사용 타입 : 'real-estate'
     */
    address: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  created() {},
  destoryed() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'location':
          classes[this.$style['location-content']] = true
          break
        case 'map':
          classes[this.$style['location-content__map']] = true
          break
        case 'content':
          classes[this.$style['location-content__content']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.location-content {
}
.location-content__map {
}
.location-content__content {
}
</style>
