<template>
  <div :class="getClasses('point')">
    <div :class="getClasses('header')">
      <slot name="header"/>
    </div>
    <div :class="getClasses('content')">
      <slot name="content"/>
    </div>
  </div>
</template>

<script>
/**
 * PointContent
 * @vuedoc
 * @classdesc 강조할 정보 요소를 나타낼 때 사용되는 컨텐츠 컴포넌트
 * @exports content/_Point
 */
export default {
  name: 'PointContent',
  components: {},
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'point':
          classes[this.$style['point-content']] = true
          break
        case 'header':
          classes[this.$style['point-content__header']] = true
          break
        case 'content':
          classes[this.$style['point-content__content']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.point-content {
}
.point-content__header {
}
.point-content__content {
}
</style>
