<template>
  <div :class="getClasses('thumbnail')">
    <div :class="getClasses('title')">
      <slot name="title" />
    </div>
    <div :class="getClasses('elem')">
      <thumbnail-carousel
        :items="items"
        :interval="2500"
        :style="thumbnailCarouselStyle"
      />
    </div>
  </div>
</template>

<script>
import ThumbnailCarousel from '~/components/carousels/Thumbnail.vue'
/**
 * ThumbnailContent
 * @vuedoc
 * @classdesc 썸네일 컨텐츠
 * @exports content/_Thumbnail
 */
export default {
  name: 'ThumbnailContent',
  components: { ThumbnailCarousel },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    interval: {
      type: Number,
      default: 2500
    },
    height: {
      type: String,
      default: '400px'
    }
  },
  data() {
    return {}
  },
  computed: {
    thumbnailCarouselStyle: function() {
      return {
        height: this.height
      }
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'thumbnail':
          classes[this.$style['thumbnail-content']] = true
          break
        case 'title':
          classes[this.$style['thumbnail-content__title']] = true
          break
        case 'elem':
          classes[this.$style['thumbnail-content__elem']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.thumbnail-content {
}
.thumbnail-content__title {
}
.thumbnail-content__elem {
}
</style>
