<template>
  <BaseContent
    :type="content.type"
    :data="content.data"/>
</template>

<script>
import BaseContent from '~/components/content/Base.vue'
/**
 * ContentAdapter
 * @vuedoc
 * @classdesc 컨텐츠 어댑터
 * @exports content/Adapter
 */
export default {
  name: 'ContentAdapter',
  components: { BaseContent },
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
</style>
