<template>
  <Point v-if="type == 'point'">
    <template
      v-if="existsData('header')"
      slot="header">
      <span>{{ getData('header') }}</span>
    </template>
    <template
      v-else
      slot="header">
      <slot name="header" />
    </template>
    <template
      v-if="existsData('content')"
      slot="content">
      <span>{{ getData('content') }}</span>
    </template>
    <template
      v-else
      slot="content">
      <slot name="content" />
    </template>
  </Point>
  <Thumbnail 
    v-else-if="type == 'thumbnail' && existsData('content')"
    :interval="getOption('interval')"
    :height="getOption('height')"
    :items="getData('content')">
    <template
      v-if="existsData('header')"
      slot="title">
      <span>{{ getData('header') }}</span>
    </template>
  </Thumbnail>
  <Location
    v-else-if="type == 'location'"
    :id="getOption('id')"
    :type="getOption('type')"
    :width="getOption('width')"
    :height="getOption('height')"
    :thumbnail="getOption('thumbnail')"
    :title="getOption('title')"
    :address="getOption('address')"
  >
    <template
      v-if="existsData('content')"
      slot="content">
      <span>{{ getData('content') }}</span>
    </template>
  </Location>
</template>

<script>
import Point from '~/components/content/_Point.vue'
import Thumbnail from '~/components/content/_Thumbnail.vue'
import Location from '~/components/content/_Location.vue'

/**
 * BaseContent
 * @vuedoc
 * @classdesc 컨텐츠를 생성하기 위한 컴포넌트
 * @exports content/Base
 */
export default {
  name: 'BaseContent',
  components: { Point, Thumbnail, Location },
  props: {
    /**
     * 생성할 컨텐츠의 타입
     *
     * #### point ####
     * 강조를 하기 위한 box 형태의 컨테이너
     * - header : 강조 이름
     * - content : 텍스트 내용
     *
     * #### thumbnail ####
     * `ThumbnailCarousel` 컴포넌트를 이용한 썸네일 컨텐츠
     * - header : 헤더 이름
     * - content : `ThumbnailCarousel` items 정보, `ThumbnailCarousel` 참조
     * - options : 옵션
     * - options.interval : Carousel Autoplay 시간(ms)
     * - options.height : Carousel 높이설정
     *
     * #### location ####
     * 위치 정보를 지도로 나타내는 컨텐츠
     * - content : 컨텐츠 정보
     * - options : 옵션
     * - options.id : 현재 컴포넌트의 id, 페이지마다 유일해야함
     * - options.type : 위치정보를 나타낼 타입, 현재는 'real-estate'가 설정되어 있음 (maps/ 하위 컴포넌트에서 선택됨)
     * - options.width : 너비 슬정
     * - options.height : 높이 설정
     * - options.title : 지도 오버레이에 나타날 제목
     * - options.address : 지도에서 검색할 주소 (지도 오버레이에서도 나타남)
     */
    type: {
      type: String,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    },
    existsData(key) {
      if (typeof this.data === 'object' && this.data[key] != undefined) {
        return true
      } else {
        return false
      }
    },
    getData(key) {
      return this.data[key]
    },
    existsOptions() {
      if (typeof this.data.options === 'object') {
        return true
      }
    },
    getOption(key) {
      if (this.existsOptions()) {
        return this.data.options[key]
      } else {
        return undefined
      }
    }
  }
}
</script>

<style module>
</style>
