<template>
  <div
    :class="getClasses('input')">
    <span
      v-if="useTitle"
      :class="getClasses('title')">{{ title }}</span>
    <slot name="before"/>
    <div :class="getClasses('group')">
      <slot name="innerBefore"/>
      <div :class="getClasses('prefix')">
        <slot name="prefix"/>
      </div>
      <input
        v-if="isButtonType"
        :class="getClasses('elem')"
        :type="inputType"
      >
      <input
        v-if="isTextType"
        :style="{'text-align': textAlign}"
        :type="inputType"
        :class="getClasses('elem')"
        :maxlength="maxLength"
        :disabled="disabled"
        :value="inputValue"
        required
        autocomplete="off"
        @keyup="handleKeyUp"
        @keydown="handleKeyDown"
        @focus="handleFocus"
        @blur="handleBlur">
      <label
        v-if="isTextType"
        :placeholder="isSuccess ? '' : placeholder"
        :info="infoText"
        :class="getClasses('label')"/>
      <div :class="getClasses('suffix')">
        <slot name="suffix"/>
      </div>
      <slot name="innerAfter"/>
    </div>
    <slot name="after"/>
  </div>
</template>
  <script>
/**
 * BaseInput
 * @description input의 기본 컴포넌트
 * @property {Object} result - 결과값을 보내준다. emit 으로 이벤트를 통해 데이터를 전달한다. 이벤트 내에서는 약간의 interval이 존재하여 keyup, keydown, focus, blur 등의 이벤트의 가장 마지막 이벤트 버블링 시에 setTimeout 으로 강제로 interval을 부여한다
 * @property {String} type - 타입 설정(text, number, password, password-number, button)
 */
export default {
  name: 'BaseInput',
  props: {
    title: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: undefined
    },
    /**
     * - text
     * - number : 숫자만 입력 가능
     * - password : 비밀번호
     * - password-number : 숫자 비밀번호만 입력 가능
     * - button : 버튼
     */
    type: {
      type: String,
      default: 'text'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * input 입력 값
     */
    value: {
      type: String,
      default: ''
    },
    textAlign: {
      type: String,
      default: 'left' // 'left', 'right', 'center'
    },
    maxLength: {
      type: String,
      default: undefined
    },
    placeholder: {
      type: String,
      default: ''
    },
    /**
     * true일 경우 input focus 시 text 자동 선택
     */
    focusSelection: {
      type: Boolean,
      default: true
    },
    /**
     * 성공 시 나타날 텍스트
     */
    success: {
      type: [String, Function],
      default: ''
    },
    /**
     * 검증
     * test
     * minLength
     * maxLength
     * min
     * max
     * fail
     */
    validator: {
      type: Array,
      default: () => {
        return []
      }
    },
    verifier: {
      type: Function,
      default: undefined
    },
    /**
     * 검증 시 바로 검증할 것인지 아니면 dirty 후에 검증할 것인지를 결정한다.
     * 일반적인 타이핑은 나중에 검증하지만, 패스워드는 바로 검증한다.
     */
    simul: {
      type: Boolean,
      default: false
    },
    /**
     * Desktop 일 경우에만 title이 사용되는데 true일 경우 항상 title이 생성됨
     */
    alwaysTitle: {
      type: Boolean,
      default: false
    },
    result: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      status: 'empty',
      infoText: '',
      /**
       * focus 이벤트가 실행되었을 때 적용된다.
       * `isFocused` 와 구분할 것
       */
      isFocus: false,
      /**
       * input이 focus가 되었는지를 나타냄
       * `isFocus` 와 구분할 것
       */
      isFocused: false,
      /**
       * input에 한번이라도 키보드 입력이 있었는지를 나타냄
       */
      isDirty: false,
      /**
       * isFocused, isDirty가 모두 true일 경우, blur 후 다시 focus 되었을 때
       * 입력과 동시에 validator 가 작동하도록 함
       */
      isSimul: this.simul,
      isSuccess: false,
      /**
       * 유효성 여부 (true : 성공, false : 실패)
       */
      isValid: false,
      /**
       * 검증 여부 (true : 성공, false : 실패)
       */
      isVerified: false,
      inputValue: this.value
    }
  },
  computed: {
    useTitle() {
      if (this.title.length > 0) {
        if (this.alwaysTitle) {
          return true
        }

        return this.$device.isDesktop
      }
      return false
    },
    isTextType() {
      return (
        this.type == 'text' ||
        this.type == 'password' ||
        this.type == 'number' ||
        this.type == 'password-number'
      )
    },
    /**
     * type 프로퍼티를 실제 input type으로 변환한다
     */
    inputType() {
      switch (this.type) {
        case 'text':
        case 'number':
          return 'text'
          break
        case 'password':
        case 'password-number':
          return 'password'
          break
        default:
          return this.type
      }
    },
    isNumberType() {
      return this.type == 'number' || this.type == 'password-number'
    },
    isButtonType() {
      return this.type == 'button'
    }
  },
  watch: {
    isSuccess: function(val) {
      this.updateResult()
    },
    isValid: function(val) {
      if (this.isValid && this.isVerified) {
        this.isSuccess = true
      } else {
        this.isSuccess = false
      }
      this.updateResult()
    },
    isVerified: function(val) {
      if (this.isValid && this.isVerified) {
        this.isSuccess = true
      } else {
        this.isSuccess = false
      }
      this.updateResult()
    },
    value: function(val) {
      this.inputValue = val
    },
    inputValue: function(val) {
      if (this.isSimul) {
        this.validate(this.inputValue)
      }
      this.updateResult()
    }
  },
  mounted() {
    // trigger에서 $el 접근하므로 mounted 에서 호출
    // 초기 데이터 설정
    this.updateResult()
  },
  methods: {
    updateResult() {
      var self = this
      this.$emit('update:result', {
        valid: this.isValid,
        verified: this.isVerified,
        success: this.isSuccess,
        value: this.inputValue,
        exec: {
          validate: function() {
            // validate 실행
            self.validate(self.inputValue)
          },
          verify: async function() {
            await self.verify(self.inputValue)
          }
        }
      })
    },
    updateValue(e) {
      if (this.isTextType) {
        e.target.value = e.target.value.replace(/\n/g, '') // 모바일에서 새줄 생기는 버그 해결
      }

      if (this.isNumberType) {
        e.target.value = e.target.value.replace(/[^0-9]*/g, '') // 숫자외 다른 문자 입력시 무시
      }

      this.inputValue = e.target.value
    },
    /**
     * input 값에 대한 유효성을 검증한다
     * $validator 모듈을 사용하며 검증이 완료되면 `infoText`, `isValid`, `status` 값을 변경한다
     */
    validate(inputValue) {
      var self = this
      var value = inputValue
      var success = this.success
      var validateFunc = function(tester) {
        var test = tester.test
        var not = tester.not // true or false
        var options = {
          min: tester.min,
          max: tester.max,
          minLength: tester.minLength,
          maxLength: tester.maxLength
        }
        var fail = tester.fail

        var validateResult = self.$validator.v(test, value, options) // true or false
        if ((validateResult && !not) || (!validateResult && not)) {
          // xor
          return true
        } else {
          self.infoText = typeof fail === 'function' ? fail(e) : fail
          return false
        }
      }
      if (this.validator.every(validateFunc)) {
        this.infoText =
          typeof success === 'function' ? success(e) : success || ''
        this.isValid = true
        this.status = 'valid'
      } else {
        this.isValid = false
        this.status = 'invalid'
      }
    },
    /**
     * input 값을 테스트한다.
     * 서버통신이 있을 수 있으며, async 함수이다.
     * `isVerified` 값을 변경한다.
     */
    async verify(inputValue) {
      var self = this
      self.isVerified = false
      if (typeof verifier === 'function') {
        if (await this.verifier(inputValue)) {
          // 함수 실행시 참일 경우 verified
          self.isVerified = true
        }
      } else {
        // 함수가 없을 경우 verified
        self.isVerified = true
      }
    },
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'input':
          classes[this.$style['input']] = true
          classes[this.$style['input--status-' + this.status]] = true
          classes[this.$style['input--type-' + this.type]] = true
          classes[this.$style['input--focus']] = this.isFocus
          classes[this.$style['input--disabled']] = this.disabled
          break
        case 'title':
          classes[this.$style['input__title']] = true
          break
        case 'group':
          classes[this.$style['input__group']] = true
          break
        case 'prefix':
          classes[this.$style['input__prefix']] = true
          break
        case 'suffix':
          classes[this.$style['input__suffix']] = true
          break
        case 'elem':
          classes[this.$style['input__elem']] = true
          classes[this.$style['input__elem--' + this.type]] = true
          break
        case 'label':
          classes[this.$style['input__label']] = true
          break
      }
      return classes
    },
    /**
     * 유효 정확성
     */
    handleKeyUp(e) {
      var self = this

      // flag
      this.isDirty = true

      this.updateValue(e)

      // event
      setTimeout(function() {
        self.$emit('keyup', e)
      }, 10)
    },
    /**
     * 빠른 반응성
     */
    handleKeyDown(e) {
      // flag
      this.isDirty = true

      // event
      if (e.keyCode === 13) {
        this.$emit('onPressEnter', e)
      }

      // event
      this.$emit('keydown', e)
    },
    handleFocus(e) {
      var self = this

      this.isFocus = true // isFocused 와 구분할 것!
      this.updateValue(e)

      // key 입력 이벤트가 한번이상 진행된 후
      // 다시 focus 이벤트가 발생하면 동시 validate를 수행
      if (this.isDirty || this.isFocused) {
        this.isSimul = true
      }
      this.isFocused = true // isFocus 와 구분할 것 !

      if (this.focusSelection) {
        $(e.target).select()
      }

      // event
      setTimeout(function() {
        self.$emit('focus', e)
      }, 10)
    },
    async handleBlur(e) {
      var self = this

      this.isFocus = false // isFocused 와 구분할 것!

      this.updateValue(e)

      // method
      this.validate(e.target.value)
      await this.verify(e.target.value)

      // event
      setTimeout(function() {
        self.$emit('blur', e)
      }, 10)
    }
  }
}
</script>
<style module>
.input {
}
.input--focus {
}
.input--disabled {
}
.input--type-text {
}
.input--type-password {
}
.input--type-number {
}
.input--type-password-number {
}
.input--type-button {
}

.input--status-empty {
}
.input--status-invalid {
}
.input--status-valid {
}

.input__title {
}
.input__group {
}
.input__prefix {
}
.input__suffix {
}
.input__elem {
}
.input__elem--text {
}
.input__elem--number {
}
.input__elem--password {
}
.input__elem--password-number {
}
.input__elem--button {
}
.input__label {
}
</style>
