<template>
  <div :class="$style['checkbox-input']">
    <slot name="before" />
    <input
      :id="id"
      :class="$style['checkbox-input__elem']"
      type="checkbox"
      style="display: none;"
    >
    <label
      :for="id"
      :class="$style['checkbox-input__label']"
    >
      <svg
        width="18px"
        height="18px"
        viewBox="0 0 18 18">
        <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"/>
        <polyline points="1 9 7 14 15 4"/>
      </svg>
      <span
        :class="$style['checkbox-input__text']"
      >{{ text }}</span>
    </label>
    <slot name="after" />
  </div>
</template>

<script>
/**
 * CheckboxInput
 * @vuedoc
 * @classdesc 체크박스 입력 컴포넌트
 * @exports inputs/Checkbox
 */
export default {
  name: 'CheckboxInput',
  components: {},
  props: {
    id: String,
    text: String
  },
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
.checkbox-input {
}
.checkbox-input__elem {
}
.checkbox-input__label {
}
.checkbox-input__text {
}
</style>
