<template>
  <div :class="getClasses('currency-input')">
    <base-input
      :validator="validator"
      :disabled="disabled"
      :placeholder="placeholder"
      :value.sync="value.toString()"
      :result.sync="inputResult"
      text-align="right"
      type="number"
    >
      <div slot="prefix">₩</div>
      <div slot="suffix">만원</div>
    </base-input>
  </div>
</template>

<script>
import BaseInput from '~/components/inputs/Base.vue'
/**
 * CurrencyInput
 * @vuedoc
 * @classdesc 통화 입력 컴포넌트
 * @exports inputs/Currency
 */
export default {
  name: 'CurrencyInput',
  components: { BaseInput },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: ''
    },
    validator: {
      type: Array,
      default: () => []
    },
    currency: {
      type: String, // 'KRW'
      default: 'KRW'
    },
    value: {
      type: Number,
      default: 0
    },
    result: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      inputResult: {}
    }
  },
  watch: {
    inputResult: function(val) {
      /**
       * CurrencyInput 은 결과값 value를 문자열 -> 숫자로 변환한다.
       * 변환과 동시에 결과값을 가져온 BaseInput에는 영향을 주지 않기 위해 객체를 새로 생성한다.
       * 생성된 객체의 value 값만 number type이다.
       */
      var result = Object.assign({}, this.inputResult)
      if (!isNaN(this.inputResult.value)) {
        result.value = parseFloat(result.value)
      }
      this.$emit('update:result', result)
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'currency-input':
          classes[this.$style['currency-input']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.currency-input {
}
</style>
