<template>
  <div :class="getClasses('email-input')">
    <base-input
      :title="title"
      :placeholder="placeholder"
      :value.sync="inputValue"
      :result.sync="inputResult"
      :validator="validator"
      :simul="simul"
      type="text"
    >
      <div 
        v-if="useIcon" 
        slot="innerAfter"
        :class="getClasses('send')"
        @click="handleIconClick">
        <base-icon
          section="svg"
          theme="antd/fill"
          type="mail" />
      </div>
    </base-input>
  </div>
</template>
<script>
import BaseInput from '~/components/inputs/Base.vue'
import BaseIcon from '~/components/icons/Base.vue'

/**
 * EmailInput
 * @vuedoc
 * @classdesc 이메일 입력 컴포넌트
 * - onSendClick : send 버튼 클릭 시
 * @exports inputs/Email
 */
export default {
  name: 'EmailInput',
  components: { BaseInput, BaseIcon },
  props: {
    title: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    simul: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: null
    },
    useIcon: {
      type: Boolean,
      default: false
    },
    result: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      inputValue: this.value,
      inputResult: {},
      validator: [
        {
          test: /@/,
          fail: '"@"가 입력되어야 합니다'
        },
        {
          test: 'email',
          fail: '이메일 형식이 올바르지 않습니다'
        }
      ]
    }
  },
  computed: {},
  watch: {
    /**
     * 입력값 변경
     */
    inputValue: function(val) {
      this.$emit('update:value', val)
    },
    inputResult: function(val) {
      this.$emit('update:result', val)
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'email-input':
          classes[this.$style['email-input']] = true
          classes[this.$style['is-valid']] = this.inputResult.valid
          break
        case 'send':
          classes[this.$style['email-input__send']] = true
          break
      }
      return classes
    },
    handleIconClick(e) {
      this.$emit('onSendClick', e)
    }
  }
}
</script>
<style module>
.email-input {
}
.is-valid {
}
.email-input__send {
}
</style>
