<template>
  <div :class="$style['id-input']">
    <base-input
      :title="title"
      :placeholder="placeholder"
      :validator="validator"
      max-length="20"
      type="text"
    />
  </div>
</template>

<script>
import BaseInput from '~/components/inputs/Base.vue'
/**
 * IdInput
 * @vuedoc
 * @classdesc 아이디 입력 컴포넌트
 * @exports inputs/Id
 */
export default {
  name: 'IdInput',
  components: { BaseInput },
  props: {
    title: String,
    placeholder: String
  },
  data() {
    return {
      validator: [
        {
          test: /.*/,
          fail: '최소 5글자 이상이여야 합니다',
          minLength: 5
        },
        {
          test: /.*/,
          fail: '최대 20글자 이하이여야 합니다',
          maxLength: 20
        },
        {
          not: true,
          test: /[^a-zA-Z0-9_]+/,
          fail: '영어 대소문자와 숫자, 하이픈(-)만 사용가능합니다'
        }
      ]
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
.id-input {
}
</style>
