<template>
  <div :class="$style['name-input']">
    <base-input
      :title="title"
      :placeholder="placeholder"
      :validator="validator"
    />
  </div>
</template>

<script>
import BaseInput from '~/components/inputs/Base.vue'
/**
 * Nameinput
 * @vuedoc
 * @classdesc 이름 입력 폼
 * @exports inputs/Name
 */
export default {
  name: 'NameInput',
  components: { BaseInput },
  props: {
    title: String,
    placeholder: String
  },
  data() {
    return {
      validator: [
        {
          test: /.*/,
          fail: '최소 1글자 이상이여야 합니다',
          minLength: 1
        }
      ]
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
      }
      return classes
    }
  }
}
</script>

<style module>
.name-input {
}
</style>
