<template>
  <div :class="$style['password-input']">
    <base-input
      :title="title"
      :placeholder="placeholder"
      :value.sync="inputValue"
      :validator="validator"
      :result.sync="inputResult"
      simul
      type="password"
      max-length="30"
      @focus="handleGeneral"
      @blur="handleGeneral"
      @keyup="handleGeneral"
    />
    <base-input
      v-if="withCheck"
      :title="title2"
      :value.sync="inputValue2"
      :validator="validator2"
      :placeholder="placeholder2"
      :result.sync="inputResult2"
      simul
      type="password"
      max-length="30"
    />
  </div>
</template>
<script>
import BaseInput from '~/components/inputs/Base.vue'
/**
 * PasswordInput
 * @vuedoc
 * @classdesc 비밀번호 입력 컴포넌트
 * @exports inputs/Password
 */
export default {
  name: 'PasswordInput',
  components: { BaseInput },
  props: {
    title: String,
    title2: String,
    placeholder: String,
    placeholder2: String,
    withCheck: Boolean,
    result: Object
  },
  data() {
    return {
      inputResult: {},
      inputResult2: {},
      inputValue: '',
      inputValue2: '',
      validator: [
        {
          test: /.*/,
          fail: '최소 10글자 이상이여야 합니다',
          minLength: 10
        },
        {
          test: /.*/,
          fail: '최소 30글자 이하이여야 합니다',
          maxLength: 30
        },
        {
          test: /[a-zA-Z]+/,
          fail: '문자가 최소 1개이상 있어야 합니다.'
        },
        {
          test: /[0-9]+/,
          fail: '숫자가 최소 1개이상 있어야 합니다.'
        }
      ],
      validator2: [
        {
          test: e => {
            return this.inputResult.success
          },
          fail: '비밀번호를 먼저 입력해주세요.'
        },
        {
          test: e => {
            console.log(e)
            console.log(this.inputResult.value)
            return this.inputResult.value == e
          },
          fail: '비밀번호가 일치하지 않습니다.'
        }
      ]
    }
  },
  computed: {},
  watch: {
    /**
     * 입력값 변경
     */
    inputResult: function(val) {
      this.updateResult()
    },
    inputResult2: function(val) {
      this.updateResult()
    }
  },
  methods: {
    updateResult() {
      if (this.withCheck) {
        // 비밀번호와 비밀번호 확인 모두 success 상태여야 한다
        // 값은 비밀번호만 사용
        // 상태는 비밀번호 확인 상태에 따름
        this.$emit('update:result', {
          success: this.inputResult.success && this.inputResult2.success,
          value: this.inputResult.value,
          status: this.inputResult2.status
        })
      } else {
        this.$emit('update:result', {
          success: this.inputResult.success,
          value: this.inputResult.value,
          status: this.inputResult.status
        })
      }
    },
    handleGeneral(e) {
      if (
        typeof this.inputResult2.value === 'string' &&
        this.inputResult2.value.length > 0
      ) {
        this.inputResult2.exec.validate()
      }
    },
    handleGeneral2(e) {}
  }
}
</script>
<style module>
.password-input {
}
</style>
