<template>
  <div :class="getClasses('personal-number')">
    <div :class="getClasses('title-wrapper')">
      <slot name="beforeTitle" />
      <span :class="getClasses('title')">{{ title }}
        <personal-number-tooltip />
      </span>
      <slot name="afterTitle" />
    </div>
    <div :class="getClasses('input-wrapper')">
      <base-input
        :validator="validator"
        :disabled="disabled"
        type="number"
        placeholder="앞자리 입력"
        always-title
        max-length="6"
      />
      <span :class="getClasses('dash')">-</span>
      <base-input
        :validator="validator2"
        :disabled="disabled"
        type="password-number"
        placeholder="뒷자리 입력"
        max-length="7"
      />
    </div>
  </div>
</template>

<script>
import BaseInput from '~/components/inputs/Base.vue'
import PersonalNumberTooltip from '~/components/tooltips/questions/PersonalNumber.vue'
/**
 * PersonalNumberInput
 * @vuedoc
 * @classdesc 주민등록번호 입력 컴포넌트
 * @exports inputs/PersonalNumber
 */
export default {
  name: 'PersonalNumberInput',
  components: { BaseInput, PersonalNumberTooltip },
  props: {
    title: String,
    disabled: Boolean
  },
  data() {
    return {
      validator: [
        {
          test: /.*/,
          fail: '6자리를 입력해주세요',
          minLength: 6,
          maxLength: 6
        }
      ],
      validator2: [
        {
          test: /.*/,
          fail: '7자리를 입력해주세요',
          minLength: 7,
          maxLength: 7
        }
      ]
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'personal-number':
          classes[this.$style['personal-number-input']] = true
          break
        case 'title':
          classes[this.$style['personal-number-input__title']] = true
          classes[this.$style['input__title']] = true
          break
        case 'title-wrapper':
          classes[this.$style['personal-number-input__title-wrapper']] = true
          break
        case 'input-wrapper':
          classes[this.$style['personal-number-input__input-wrapper']] = true
          break
        case 'dash':
          classes[this.$style['personal-number-input__dash']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.input__title {
}

.personal-number-input {
}
.personal-number-input__title {
}
.personal-number-input__dash {
}
.personal-number-input__title-wrapper {
}
.personal-number-input__input-wrapper {
}
.personal-number-input__input-wrapper .input {
}
</style>
