<template>
  <div :class="getClasses('phone')">
    <div
      v-if="useTitle"
      :class="getClasses('title-wrapper')">
      <span
        :class="getClasses('title')">{{ title }}</span>
    </div>
    <div :class="getClasses('input-wrapper')">
      <base-input
        :validator="validator"
        :placeholder="placeholder || '국번'"
        type="number"
        always-title
        max-length="3"
      />
      <span :class="getClasses('dash')">-</span>
      <base-input
        :validator="validator2"
        type="number"
        max-length="4"
      />
      <span :class="getClasses('dash')">-</span>
      <base-input
        :validator="validator3"
        type="number"
        max-length="4"
      />
    </div>
  </div>
</template>

<script>
import BaseInput from '~/components/inputs/Base.vue'
/**
 * PhoneInput
 * @vuedoc
 * @classdesc 전화번호 입력 컴포넌트
 * @exports inputs/Phone
 */
export default {
  name: 'PhoneInput',
  components: { BaseInput },
  props: {
    title: {
      type: String,
      default: ''
    },
    /**
     * 이 옵션이 true일 경우, 타이틀과 input이 한줄로 나타난다.
     */
    placeholder: {
      type: String,
      default: ''
    },
    nowrap: {
      type: Boolean,
      default: false
    },
    alwaysTitle: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      validator: [
        {
          test: /.*/,
          fail: '2자리 이상 입력해주세요',
          minLength: 2,
          maxLength: 3
        }
      ],
      validator2: [
        {
          test: /.*/,
          fail: '3자리 이상 입력해주세요',
          minLength: 3,
          maxLength: 4
        }
      ],
      validator3: [
        {
          test: /.*/,
          fail: '4자리를 입력해주세요',
          minLength: 4,
          maxLength: 4
        }
      ]
    }
  },
  computed: {
    useTitle() {
      if (this.title.length > 0) {
        if (this.alwaysTitle) {
          return true
        }

        return this.$device.isDesktop
      }
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'phone':
          classes[this.$style['phone-input']] = true
          if (this.nowrap) {
            classes[this.$style['phone-input--nowrap']] = true
          }
          break
        case 'title':
          classes[this.$style['phone-input__title']] = true
          classes[this.$style['input__title']] = true
          break
        case 'title-wrapper':
          classes[this.$style['phone-input__title-wrapper']] = true
          break
        case 'input-wrapper':
          classes[this.$style['phone-input__input-wrapper']] = true
          break
        case 'dash':
          classes[this.$style['phone-input__dash']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.input__title {
}
.phone-input {
}
.phone-input--nowrap {
}
.phone-input__title {
}
.phone-input__title-wrapper {
}
.phone-input__input-wrapper {
}
.phone-input__wrapper .input {
}
.phone-input__dash {
}
</style>
