<template>
  <div :class="getClasses('textarea-input')">
    <div
      v-if="useTitle"
      :class="getClasses('title')">{{ title }}</div>
    <div :class="getClasses('group')">
      <textarea
        :class="getClasses('elem')"
        :placeholder="placeholder"/>
    </div>
  </div>
</template>

<script>
/**
 * TextareaInput
 * @vuedoc
 * @classdesc 텍스트 입력 폼
 * @exports inputs/Textarea
 */
export default {
  name: 'TextareaInput',
  components: {},
  props: {
    title: String,
    placeholder: String,
    alwaysTitle: Boolean
  },
  data() {
    return {}
  },
  computed: {
    useTitle() {
      if (this.title.length > 0) {
        if (this.alwaysTitle) {
          return true
        }

        return this.$device.isDesktop
      }
    }
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'textarea-input':
          classes[this.$style['textarea-input']] = true
          break
        case 'title':
          classes[this.$style['textarea-input__title']] = true
          classes[this.$style['input__title']] = true
          break
        case 'group':
          classes[this.$style['textarea-input__group']] = true
          break
        case 'elem':
          classes[this.$style['textarea-input__elem']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.input__title {
}

.textarea-input {
}
.textarea-input__title {
}
.textarea-input__group {
}
.textarea-input__elem {
}
</style>
