.wave-background {
  width: inherit;
  height: inherit;
  background: lighten(#f0f4cc, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }

  &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(#e6f0ff, 1),
      rgba(#def, 0) 80%
    );
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }

  &__elem {
    $width: 400%;
    opacity: .4;
    position: absolute;
    top: 65%;
    left: 50%;
    background: #fff;
    width: $width;
    padding-top: $width;
    margin-left: -$width/2;
    transform-origin: 50% 48%;

    &--one {
      transform: rotate(100deg);
      background: #3a89ff;
      border-radius: 38%;
    }

    &--two {
      transform: rotate(150deg);
      opacity: 0.15;
      background: #3a89ff;
      border-radius: 47%;
    }

    &--three {
      transform: rotate(0deg);
      opacity: .55;
      background: #54f952;
      border-radius: 42%;
    }

    &--four {
      transform: rotate(250deg);
      opacity: 0.2;
      background: #f4a9a2;
      border-radius: 40%;
    }

    @include at-device("desktop") {
      &--one {
        transform: rotate(0deg);
        animation: drift 72s infinite linear; // 3
      }
      &--two {
        transform: rotate(0deg);
        animation: drift 168s infinite linear; // 7
      }
      &--three {
        transform: rotate(0deg);
        animation: drift 120s infinite linear; // 5
      }
      &--four {
        transform: rotate(0deg);
        animation: drift 48s infinite linear; // 2
      }
    }
  }

  &__title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, 0.1);
    text-indent: 0.3em;
  }
}

.wave-background--bottom { /* not implemented */
  $b: '.wave-background';

  #{$b} {
    &__elem {
      bottom: 30%;
    }
  }
}
