._7xt{position:relative;height:250px;line-height:250px;background-color:#4a90e2;color:#fff;font-size:2.8em}._4xt,._7xt{text-align:center}._4xt{height:120px;line-height:120px;color:#4a90e2;font-size:2.4em}