<template>
  <a
    v-if="item.type == 'link'"
    :class="getClasses('link', item.data)"
    :href="item.data">
    {{ item.name }}
  </a>
  <base-logo
    v-else-if="item.type == 'logo'"
    :type="item.data" />
  <base-button
    v-else-if="item.type == 'btn'"
    :text="item.data.text"
    :type="item.data.type"
    :option="item.data.option" />
  <base-dropdown
    v-else-if="item.type == 'dropdown'"
    :title="item.name"
    :items="item.data" />
  <signup-button
    v-else-if="item.type == 'signup-btn'"
  />
  <login-button v-else-if="item.type == 'login-btn'" />
  <social-media-button
    v-else-if="item.type == 'social-media-btn'"
    :type="item.data.type"
    :text="item.name"
    :href="item.data.href"/>
  <base-search v-else-if="item.type == 'search'" />
</template>

<script>
import BaseLogo from '~/components/logos/Base.vue'
import BaseDropdown from '~/components/dropdowns/Base.vue'
import BaseButton from '~/components/buttons/Base.vue'
import LoginButton from '~/components/buttons/Login.vue'
import SignupButton from '~/components/buttons/Signup.vue'
import SocialMediaButton from '~/components/buttons/SocialMedia.vue'
import BaseSearch from '~/components/search/Base.vue'

/**
 * BaseItem
 * @description 아이템을 생성하기 위한 컴포넌트입니다. 로고, 드롭다운, 버튼 외에도 다양한 컴포넌트를 삽입할 수 있습니다.
 * 컴포넌트 별로 입력되는 인자가 달라집니다.
 * @vuedoc
 * @exports items/Base
 */
export default {
  name: 'BaseItem',
  components: {
    BaseLogo,
    BaseDropdown,
    BaseButton,
    LoginButton,
    SignupButton,
    SocialMediaButton,
    BaseSearch
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      path: this.$route.path
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'link':
          classes[this.$style['is-selected']] = this.path == arg
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.is-selected {
}
</style>
