.accordion-item {
  $icon: '.icon';

  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  &__header {
    position: relative;

    border-bottom: 1px dashed rgba(0,0,0,0.2);
    padding: 10px;

    font-size: 1.5em;

    color: $theme-color;
    background-color: $body-bg;

    cursor: pointer;
    @include user-select(none);

    #{$icon} {
      position: absolute;
      top: 1em;
      right: 0px;

      font-size: 0.8em;

      @include rotate(180);

      @include transition-property(transform);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease);
    }
  }

  &__content {
    position: relative;

    width: 100%;
    height: inherit;
    opacity: 1;

    @include transition-property(height, opacity);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease);
  }
}

.accordion-item--sticky {
  position: relative;
}

.is-fixed {
  $b: '.accordion-item';
  #{$b} {
    &__header {
      border-bottom: 1px solid rgba(0,0,0,0.1); // alpha 0.1 도 충분
    }
  }
}

.accordion-item.is-collapsed {
  $b: '.accordion-item';
  $icon: '.icon';
  #{$b} {
    &__header {
      #{$icon} {
        @include rotate(360);
      }
    }

    &__content {
      visibility: hidden;
      opacity: 0;

      height: 0px;
    }
  }
}

.accordion-item--theme-default {
  /**/

  &__header {
    /**/

  }

  &__content {
    /**/
 }
}
