<template>
  <div 
    :class="getClasses('modal')" 
    :style="modalStyle">
    <div :class="getClasses('content')">
      <slot/>
    </div>
    <div
      :class="getClasses('close')"
      @click="handleCloseButtonClick">
      <div
        :class="getClasses('close-btn')"
        @click="handleCloseButtonClick">
        <base-icon
          section="svg"
          theme="antd/outline"
          type="close"/>
      </div>
    </div>
  </div>
</template>
<script>
import BaseIcon from '~/components/icons/Base.vue'

/**
 * ModalFrame
 * @vuedoc
 * @classdesc 모달 프레임 컴포넌트
 * @exports frames/Modal
 */
export default {
  name: 'ModalFrame',
  components: { BaseIcon },
  props: {
    activate: {
      type: Boolean,
      default: false
    },
    /**
     * 부모 엘리먼트만 감싼다.
     */
    relative: {
      type: Boolean,
      default: false
    },
    backgroundColor: {
      type: String,
      default: null
    },
    animate: {
      type: String,
      default: 'fade' // 'up', 'down', 'left', 'right', 'fade'
    }
  },
  data() {
    return {
      isActivated: this.activate
    }
  },
  computed: {
    modalStyle: function() {
      return {
        backgroundColor: this.backgroundColor
      }
    }
  },
  watch: {
    activate(val) {
      this.isActivated = val
    },
    isActivated(val) {
      this.$emit('update:activate', val)
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'modal':
          classes[this.$style['modal-frame']] = true
          classes[this.$style['modal-frame--relative']] = this.relative
          classes[this.$style['is-active']] = this.isActivated
          classes[this.$style['modal-frame--animate-' + this.animate]] = true
          break
        case 'close':
          classes[this.$style['modal-frame__close']] = true
          break
        case 'close-btn':
          classes[this.$style['modal-frame__close-btn']] = true
          break
        case 'content':
          classes[this.$style['modal-frame__content']] = true
          break
      }
      return classes
    },
    handleCloseButtonClick() {
      this.isActivated = false
    }
  }
}
</script>
<style module>
.modal-frame {
}
.modal-frame--relative {
}
.modal-frame--animate-up {
}
.modal-frame--animate-down {
}
.modal-frame--animate-left {
}
.modal-frame--animate-right {
}
.modal-frame--animate-fade {
}
.modal-frame.is-active {
}
.modal-frame__close {
}
.modal-frame__close-btn {
}
.modal-frame__content {
}
</style>
