// ==========================================================================
// Carousel - 회전 트랙
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

// ==========================================================================
// Variables
//
// carousel-showcase-height
// carousel-indicator-height
//
//
// carousel-track-speed
// carousel-showcase-z-index
// carousel-indicator-z-index
//
//
// carousel-showcase-color
// carousel-showcase-bg-color
//
// carousel-indicator-bg-color
//
// / selector
// carousel-selector-color
// carousel-selector-bg-color
//
// carousel-selector-hover-color
// carousel-selector-hover-bg-color
//
// carousel-selector-activated-color
// carousel-selector-activated-bg-color
//
// carousel-selector-activated-hover-color
// carousel-selector-activated-hover-bg-color
//
// / selector - inside
// carousel-selector-inside-color
// carousel-selector-inside-bg-color
//
// carousel-selector-inside-hover-color
// carousel-selector-inside-hover-bg-color
//
// carousel-selector-inside-activated-color
// carousel-selector-inside-activated-bg-color
//
// carousel-selector-inside-activated-hover-color
// carousel-selector-inside-activated-hover-bg-color

.carousel {
  $b: &;

  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  &__arrow {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;

    padding: 15px;

    font-size: 4em;

    z-index: 10;

    cursor: pointer;

    @include transition-property(opacity);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);

    svg {
      stroke-width: 8px;

      @include transition-property(color);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-out);
    }

    &:hover {
    }

    &-prev {
      /**/
    }

    &-next {
      /**/
    }

    &--left {
      top: 0;
      left: 0;

      @include rotate(180);
    }
    &--right {
      top: 0;
      right: 0;
    }
    &--bottom {
      left: 0;
      bottom: 0;

      @include rotate(90);
    }
    &--top {
      left: 0;
      top: 0;

      @include rotate(270);
    }
  }

  &__showcase {
    position: relative;
    z-index: $carousel-showcase-z-index;

    display: block;

    width: 100%;
    // height: $carousel-showcase-height;
    height: calc(100% - #{$carousel-indicator-height});

    color: $carousel-showcase-color;
    background-color: $carousel-showcase-bg-color;

    overflow: hidden;
  }

  &__showcase-track {
    visibility: hidden; // 초기화 후에 보여짐
    opacity: 0;

    height: 100%;

    @include transition-duration($carousel-track-speed);
    @include transition-property(all);
    @include transition-timing-function(ease);

    cursor: grab;

    @include media("mobile") {
      @include transition-duration($carousel-track-speed);
      @include transition-timing-function(ease-in-out);
    }

    &.is-drag {
      overflow-y: hidden;
      @include transition-property(none);
    }

    // 드래그 후 옮겨질 때(잠시동안 설정되는 클래스)
    &.is-dragout {
      @include transition-duration(500ms);

      @include transition-timing-function(ease);

      @include transition-property(transform);

      @include media("mobile") {
        @include transition-duration(300ms);
      }
    }

    &:active {
      cursor: grabbing;
    }
  }

  &__showcase-content {
    float: left;

    width: 0px;
    height: 100%;
  }

  &__indicator {
    position: relative;
    z-index: $carousel-indicator-z-index;

    display: flex;
    justify-content: center;

    width: 100%;
    height: $carousel-indicator-height;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);

    background-color: $carousel-indicator-bg-color;

    &--default {
      /**/
    }
    &--inside {
      /**/
    }
    &--left {
      /**/
    }
    &--right {
      /**/
    }
    &--top {
      /**/
    }
    &--bottom {
      /**/
    }

    #{$b} {
      &--top {
        #{$b}--inside {
          margin-bottom: -$carousel-indicator-height;
        }
      }
      &--bottom {
        flex-basis: 100%;
        #{$b}--inside {
          margin-top: -$carousel-indicator-height;
        }
      }
      &--left {
        #{$b}--inside {
          margin-right: -60px;
        }
      }
      &--right {
        #{$b}--inside {
          margin-left: -60px;
        }
      }
      &--inside {
        @include media("mobile") {
          background: none; // 배경을 그냥 사용
        }

        #{$b}__indicator-selector {
          color: $carousel-selector-inside-color;
          background-color: $carousel-selector-inside-bg-color;
          &:hover {
            color: $carousel-selector-inside-hover-color;
            background-color: $carousel-selector-inside-hover-bg-color;
          }
          &.is-active {
            color: $carousel-selector-inside-activated-color;
            background-color: $carousel-selector-inside-activated-bg-color;
          }
          &.is-active:hover {
            color: $carousel-selector-inside-activated-hover-color;
            background-color: $carousel-selector-inside-activated-hover-bg-color;
          }
        }
      }
    }
  }

  &__indicator-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @include partial-width();

    @include media("wide") {
      width: $desktop-width;
    }
  }

  &__indicator-selector {
    flex: 1 0 $carousel-selector-min-width;
    text-align: center;

    height: 100%;
    min-height: 1px;

    color: $carousel-selector-color;
    background-color: $carousel-selector-bg-color;

    cursor: pointer;

    &.is-active {
      color: $carousel-selector-activated-color;
      background-color: $carousel-selector-activated-bg-color;
    }

    @include only-desktop () { // Desktop 에서만 hover 작동
      &:hover {
        color: $carousel-selector-hover-color;
        background-color: $carousel-selector-hover-bg-color;
      }
      &.is-active:hover {
        color: $carousel-selector-activated-hover-color;
        background-color: $carousel-selector-activated-hover-bg-color;
      }
    }
  }

  &--vertical {
    #{$b} {
      &__showcase-track {
        width: 100%;
        height: initial;
      }

      &__showcase-content {
        width: 100%;
        height: 0px;
      }
    }
  }

  @include user-select(none);
}

.carousel--maximum {
  $b: '.carousel';

  #{$b} {
    &__showcase {
      height: 100%;
    }
  }
}

.carousel__indicator--belt,
.carousel__indicator--dash,
.carousel__indicator--dot {
  $b: '.carousel__indicator';

  $bg-color: $theme-color-black;
  $hover-bg-color: $theme-color-black2;
  $active-bg-color: $theme-color;


  width: 50%;
  height: 10px;
  margin: auto;
  margin-top: -30px;

  background-color: transparent;

  #{$b} {
    &-container {
      align-items: center;

      width: 100%;
      overflow: hidden;
    }

    &-selector {
      flex-grow: 1;
      flex-basis: initial;

      background-color: $bg-color;

      @include at-device("desktop") {
        &:hover {
          background-color: $hover-bg-color;
        }
        &.is-active {
          background-color: $active-bg-color;
        }
      }

      &.is-active {
        background-color: $active-bg-color;
      }
    }
  }
}
.carousel__indicator--belt {
  $b: '.carousel__indicator';

  $hover-border-bg-color: #606060;
  $border-radius: 10px;

  border-radius: $border-radius;

  #{$b} {
    &-container {
      border-radius: $border-radius;

      @include at-device("desktop") {
        &:hover {
          #{$b}-selector {
            border-right: 1px solid $hover-border-bg-color;
            &:last-of-type {
              border-right: 0;
            }
          }
        }
      }
    }
  }
}

.carousel__indicator--dash {
  $b: '.carousel__indicator';

  width: 30%;
  height: 5px;

  box-shadow: none;

  #{$b} {
    &-container {
      width: 100%;
      overflow: visible; // box-shadow 잘림 현상 방지
    }

    &-selector {
      margin: 0px 2px;
      border-radius: 1px;

      background-color: white;
      @include transition-duration(0.3s);
      @include transition-property(flex-grow);
      @include transition-timing-function(ease);

      &:hover {
        height: 7px;
      }

      &.is-active {
        flex-grow: 1.5;
        height: 7px;
      }
    }
  }
}

.carousel__indicator--dot {
  $b: '.carousel__indicator';

  width: initial;

  box-shadow: none;

  #{$b} {
    &-container {
      width: 100%;
      overflow: visible; // box-shadow 잘림 현상 방지
    }

    &-selector {
      width: 10px;
      height: 10px;

      margin: 0px 2px;
      border-radius: 10px;
      border: 1px solid rgba(200,200,200,0.2);

      background-color: rgba(200,200,200,0.4);

      @include transition-duration(0.3s);
      @include transition-property(background-color);
      @include transition-timing-function(ease);

      &:hover {
        background-color: white !important;
        border-color: white;
      }

      &.is-active {
        background-color: $theme-color !important;
        border: 2px solid $theme-color;
      }
    }
  }
}
