// ==========================================================================
// Carousel Jumbotron
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

.carousel-jumbotron {
  $b: &;
  $btn: '.btn';
  $carousel: '.carousel';

  height: 600px;

  &__wrapper {
    position: relative;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &--open {
      /**/
    }
    &--new {
      /**/
    }
    &--notice {
      /**/
    }
    &--event {
      /**/
    }
    &--funding {
      /**/
    }
    &--complete {
      /**/
    }
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    /**/
  }

  &__status {
    /**/
    &--open {
      /**/
    }
    &--new {
      /**/
    }
    &--notice {
      /**/
    }
    &--event {
      /**/
    }
    &--funding {
      /**/
    }
    &--complete {
      /**/
    }
  }
  &__status-desc {
    /**/
  }
  &__title {
    /**/
  }
  &__desc {
    /**/
  }
  &__data {
    /**/
  }
  &__data-key {
    /**/
  }
  &__data-value {
    /**/
  }
  &__buttons {
    /**/
  }

  // carousel override
  #{$carousel} {
    $_b: &;

    &__showcase {

      &-content {

        &.is-active {
          #{$b} {
            &__content {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      #{$b} {
        &__content {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: initial;

          padding: 20px;
          @include partial-width();

          & > * {
            flex-basis: 100%;
            margin: 10px;
          }
        }

        &__status {
          padding: 5px 10px;

          border: 1px solid white;
          border-radius: 5px;

          font-size: 140%;

          &--open {
            border-color: transparent;

            background-color: #00897b;
          }
        }

        &__status-desc {
          position: relative;

          margin-left: 15px;

          font-size: 120%;



          &.has-content::after {
            content: "";

            position: absolute;
            top: 12px;
            left: 0px;

            width: 100%;
            border: 3px solid rgba(255, 255, 255, 0.4);
          }
        }

        &__title {
          font-size: 250%;
          text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
        }

        &__desc {
          margin-top: -3px;

          color: rgba(255, 255, 255, 0.85);
          text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
          font-size: 135%;
          white-space: pre;
        }

        &__data {
          ruby {
            margin: 0px 7px;
            font-size: 140%;
          }
        }

        &__buttons {
          a {
            margin-top: 25px;
            margin-right: 12px;
          }

          #{$btn} {
            padding: 12px;

            &:hover {
              color: white;
              border-color: transparent;
            }
          }
        }
      }
    }

    &__indicator {
      &-selector {
        &,
        &:hover,
        &.is-active {
          background: none !important;
        }

        &.is-active {
          color: $theme-color;
        }

        @include only-desktop () {
          &:hover {
            color: $theme-color;
          }
        }
      }

      #{$b} {
        &__wrapper {
          background: none !important;
        }

        &__content {
          align-items: baseline;

          & > * {
            max-width: $carousel-selector-min-width;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        &__status {
          font-size: 110%;
        }

        &__title {
          font-size: 120%;
        }

        &__desc {
          text-align: left;
          overflow-x: hidden;

          font-size: 85%;
        }

        @include media("mobile") {
          &__desc {
            display: none;
          }
        }
      }
    }
  }
}
