.thumbnail-carousel {
  height: 100%;

  &__wrapper {
    position: relative;

    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &__content {
    /**/
  }

  &__title {
    /**/
  }
}
