<template>
  <div
    :class="getClasses('terms')">
    <div :class="getClasses('content')">
      <slot />
    </div>
  </div>
</template>

<script>
/**
 * BaseTerms
 * @vuedoc
 * @classdesc 약관 틀
 * @exports terms/Base
 */
export default {
  name: 'BaseTerms',
  components: {},
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'terms':
          classes[this.$style['terms']] = true
          break
        case 'content':
          classes[this.$style['terms__content']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.terms {
}
.terms__content {
}
</style>
