<template>
  <base-terms>
    <p/>
  </base-terms>
</template>

<script>
import BaseTerms from '~/components/terms/Base.vue'
import InvestTerms from '~/data/terms/invest.json'
/**
 * InvestTerm
 * @vuedoc
 * @classdesc 투자 이용약관 컴포넌트
 * @exports terms/Invest
 */
export default {
  name: 'InvestTerms',
  components: { BaseTerms }
}
</script>
