<template>
  <div
    :class="getClasses('dropdown')"
    @mouseover="enableDropdown"
    @mouseleave="disableDropdown">
    <div
      :class="getClasses('trigger')"
      @mouseover="getMenuWrapper">
      <span :class="getClasses('trigger-text')">
        {{ title }}
        <base-icon
          section="svg"
          theme="antd/outline"
          type="down" />
      </span>
    </div>
    <div :class="getClasses('menu')">
      <ul>
        <li
          v-for="(item, index) in items"
          :key="index">
          <a 
            :href="item.data" 
            :class="getClasses('menu-text')">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import BaseIcon from '~/components/icons/Base.vue'
/**
 * DropdownBase
 * @vuedoc
 * @classdesc 드롭다운 기본 컴포넌트
 * @exports dropdowns/Base
 */
export default {
  name: 'BaseDropdown',
  components: {
    BaseIcon
  },
  props: {
    /**
     * 드롭다운 제목
     */
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => {}
    }
  },
  data() {
    return {
      visible: false
    }
  },
  created() {
    if (process.browser) {
      $(window).on('resize', this.initMenuWidth)
    }
  },
  destroyed() {
    if (process.browser) {
      $(window).off('resize', this.initMenuWidth)
    }
  },
  mounted() {
    if (process.browser) {
      this.initMenuWidth()
    }
  },
  methods: {
    getClasses(type) {
      var classes = {}
      switch (type) {
        case 'dropdown':
          classes[this.$style['dropdown']] = true
          classes[this.$style['is-visible']] = this.visible
          break
        case 'trigger':
          classes[this.$style['dropdown__trigger']] = true
          break
        case 'trigger-text':
          classes[this.$style['dropdown__trigger-text']] = true
          break
        case 'menu':
          classes[this.$style['dropdown__menu']] = true
          break
        case 'menu-text':
          classes[this.$style['dropdown__menu-text']] = true
          break
      }
      return classes
    },
    enableDropdown(e) {
      this.initMenuWidth()
      this.visible = true
    },
    disableDropdown() {
      this.visible = false
    },
    getMenuWrapper(e) {
      this.initMenuWidth()
    },
    initMenuWidth() {
      var trigger = this.$el.firstChild
      var menu = this.$el.lastChild
      window.trigger = $(trigger)

      $(menu).css('width', $(trigger).outerWidth())
      $(menu).css('top', $(trigger).position().top)
      $(menu).css('left', $(trigger).position().left)
      $(menu).css('padding-top', $(trigger).outerHeight())
    }
  }
}
</script>

<style module>
.dropdown {
}
.dropdown__trigger {
}
.dropdown__trigger-text {
}
.dropdown__menu {
}
.dropdown__menu-text {
}
.is-visible {
}
</style>
