// ==========================================================================
// Footer
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

.footer {
  $b: &;

  min-height: 400px;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  background-color: $footer-bg-color;
  color: $footer-color;

  @include a-color($footer-link-text-color, $footer-link-text-hover-color);

  & &__link {
    /**/
    &--external {
      color: $footer-color;
      text-decoration: underline;
    }
  }

  &__text {
    width: 100%;
  }

  &__header,
  &__content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  &__header {
    height: 110px;

    background-color: $footer-header-bg-color;

    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);

    .tabbar {
      &__right {
        .tabbar__item {
          margin: 4px;
        }
      }
    }
  }

  &__content-container {
    padding: 10px;

    @include partial-width();
  }

  &__content {
    margin-bottom: inherit;
  }

  &__content-company {
    margin: 14px 20px;

    color: $footer-content-company-color;
  }

  &__content-name {
    color: $footer-content-company-name-color;
    font-size: 120%;
  }

  &__content-key {
    color: $footer-content-key-color;

    &:after {
      content: ": ";
    }
  }

  &__content-value {
    color: $footer-content-value-color;
  }

  &__row {
    width: 100%;

    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__col {
    flex-grow: 0;

    text-align: left;
  }

  &__divider {
    width: inherit;
    height: 0px;

    margin: 12px auto;
    border: 1px solid $footer-content-divider-color;

    &--empty {
      height: 10px;
      border: 0;
    }
  }

  @include media("tablet") {
    &__header {
      height: 86px;
    }

    .tabbar {
      flex-wrap: wrap;
      @include browser('ff') {
        align-self: center;
      }

      &__left {
        .tabbar__item {
          margin: 5px 9px;
        }
      }

      &__right {
        flex-grow: 1;
        text-align: right;

        font-size: 0.9em;

        .btn {
          padding: 6px 3px;
        }

        svg {
          width: 1.44em;
          height: 1.44em;
        }
      }
    }
  }

  @include media("mobile") {
    &__header {
      height: 72px;
    }

    .tabbar {
      display: grid;

      grid-template-rows: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
      grid-template-columns: $footer-logo-rect-mobile-size auto;
      grid-template-areas:
        "logo left"
          "logo left"
          "logo left"
          "logo left"
          "logo left"
          "logo right"
          "logo right"
          "logo right"
          "logo right";
      // flex-wrap: wrap-reverse;

      // @include browser('ff') {
      //   align-self: center;
      // }

      // align-content: center;

      &__logo,
      &__left,
      &__right {
        // flex-grow: 1;
        // text-align: center;
      }

      &__logo {
        grid-area: logo;
      }
      &__left {
        font-size: 0.94em;

        grid-area: left;
        align-self: center;
        justify-self: center;

        .tabbar__item {
          margin: 5px 7px;
        }
      }

      &__right {
        grid-area: right;
        align-self: start;
        justify-self: center;

        font-size: 0.8em;

        .btn {
          padding: 3px;
        }

        svg {
          width: 1.43em;
          height: 1.43em;
        }
      }
    }
  }
}
