// ==========================================================================
// SimpleFooter
//
// Copyright (c) 2019 Founding inc.
// ==========================================================================

.footer.simple-footer {
  $b: '.footer';
  min-height: 0px;

  @include a-color($simple-footer-color, $footer-link-text-hover-color);

  #{$b} {
    &__header {
      background-color: $simple-footer-header-background;
    }
  }
}
