<template>
  <div :class="getClasses('footer')">
    <div :class="getClasses('header')">
      <base-tabbar
        :logo="logo"
        :logo-type="logoType"
        :items="items"
      />
    </div>
    <div :class="getClasses('content-container')">
      <div :class="getClasses('content', 'row')">

        <p :class="getClasses('text')"><b>파운딩</b>은 <a
          :class="getClasses('link-external')"
          href="http://www.law.go.kr/%EB%B2%95%EB%A0%B9/%EC%9C%A0%EC%82%AC%EC%88%98%EC%8B%A0%ED%96%89%EC%9C%84%EC%9D%98%EA%B7%9C%EC%A0%9C%EC%97%90%EA%B4%80%ED%95%9C%EB%B2%95%EB%A5%A0">유사수신행위의 규제에 관한 법률</a>에 따라 투자원금과 수익을 보장하지 않으며 투자손실에 대한 책임은 모두 투자자에게 있습니다.<br>
        </p>
      </div>
      <div :class="getClasses('content', 'row')">
        <p :class="getClasses('text')">대출금리 최저 연 4%~최고 연 20% (연체금리 최고 연 23.9%이내) 플랫폼 이용료, 법무비 등 부대비용은 추가될 수 있으며, 중개수수료를 요구하거나 받는 행위는 불법입니다. 대출 시 귀하의 신용등급이 하락할 수 있습니다. 과도한 빚은 당신에게 큰 불행을 안겨 줄 수 있습니다.</p><br>

      </div>
      <hr :class="getClasses('divider')">
      <div :class="getClasses('content', 'row')">
        <div :class="getClasses('content-company', 'col')">
          <span :class="getClasses('content-name')">(주)크라우드 플랫폼</span><br>
          <span :class="getClasses('content-key')">대표</span>
          <span :class="getClasses('content-value')">홍길동</span><br>
          <span :class="getClasses('content-key')">사업자 등록번호</span>
          <span :class="getClasses('content-value')">123-45-67812</span><br>
          <span :class="getClasses('content-key')">통신판매업</span>
          <span :class="getClasses('content-value')">2018-서울서초-1999</span><br>
          <span :class="getClasses('content-key')">주소</span>
          <span :class="getClasses('content-value')">서울특별시 서초구 서초대로78길 31 3층</span><br>
          <span :class="getClasses('content-key')">E-mail</span>
          <span :class="getClasses('content-value')">founding@gmail.com</span><br>
        </div>
        <div :class="getClasses('content-company', 'col')">
          <span :class="getClasses('content-name')">(주)크라우드 대부</span><br>
          <span :class="getClasses('content-key')">대표</span>
          <span :class="getClasses('content-value')">홍길동</span><br>
          <span :class="getClasses('content-key')">P2P연계대부업</span>
          <span :class="getClasses('content-value')">2018-금감원-19359</span><br>
          <span :class="getClasses('content-key')">주소</span>
          <span :class="getClasses('content-value')">서울특별시 서초구 서초대로78길 31 3층</span><br>
          <span :class="getClasses('content-key')">등록기관</span>
          <span :class="getClasses('content-value')">금융감독원(1332)</span><br>
        </div>
      </div>
      <hr :class="getClasses('divider-empty')">
    </div>
  </div>
</template>

<script>
import BaseTabbar from '~/components/tabbars/Base.vue'
/**
 * BaseFooter Component
 * @vuedoc
 * @exports footers/Base
 */
export default {
  name: 'BaseFooter',
  components: {
    BaseTabbar
  },
  props: {
    logo: {
      type: Boolean,
      default: false
    },
    logoType: {
      type: String,
      default: 'rect'
    },
    items: {
      type: Array,
      default: () => {}
    }
  },
  created() {
    if (process.browser) {
      $(window).on('scroll', this.handleScroll)
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}

      switch (arg) {
        case 'row':
          classes[this.$style['footer__row']] = true
          break
        case 'col':
          classes[this.$style['footer__col']] = true
          break
      }

      switch (type) {
        case 'footer':
          classes[this.$style['footer']] = true
          break
        case 'header':
          classes[this.$style['footer__header']] = true
          break
        case 'divider':
          classes[this.$style['footer__divider']] = true
          break
        case 'divider-empty':
          classes[this.$style['footer__divider']] = true
          classes[this.$style['footer__divider--empty']] = true
          break
        case 'link':
          classes[this.$style['footer__link']] = true
          break
        case 'link-external':
          classes[this.$style['footer__link']] = true
          classes[this.$style['footer__link--external']] = true
          break
        case 'text':
          classes[this.$style['footer__text']] = true
          break
        case 'content-container':
          classes[this.$style['footer__content-container']] = true
          break
        case 'content':
          classes[this.$style['footer__content']] = true
          break
        case 'content-company':
          classes[this.$style['footer__content-company']] = true
          break
        case 'content-name':
          classes[this.$style['footer__content-name']] = true
          break
        case 'content-key':
          classes[this.$style['footer__content-key']] = true
          break
        case 'content-value':
          classes[this.$style['footer__content-value']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.footer {
}
.footer__header {
}
.footer__content-container {
}
.footer__link {
}
.footer__link--external {
}
.footer__text {
}
.footer__content {
}
.footer__divider {
}
.footer__divider--empty {
}
.footer__content-company {
}
.footer__content-name {
}
.footer__content-key {
}
.footer__content-value {
}

.footer__row {
}
.footer__col {
}
</style>
