<template>
  <div :class="getClasses('footer')">
    <div :class="getClasses('header')">
      <base-tabbar
        :logo="logo"
        :logo-type="logoType"
        :items="items"
      />
    </div>
  </div>
</template>

<script>
/**
 * BaseFooter Component
 * @vuedoc
 * @exports footers/Base
 */
import BaseTabbar from '~/components/tabbars/Base.vue'
export default {
  name: 'SimpleFooter',
  components: {
    BaseTabbar
  },
  props: {
    logo: {
      type: Boolean,
      default: false
    },
    logoType: {
      type: String,
      default: 'rect'
    },
    items: {
      type: Array,
      default: () => {}
    }
  },
  created() {
    if (process.browser) {
      $(window).on('scroll', this.handleScroll)
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}

      switch (arg) {
        case 'row':
          classes[this.$style['footer__row']] = true
          break
        case 'col':
          classes[this.$style['footer__col']] = true
          break
      }

      switch (type) {
        case 'footer':
          classes[this.$style['footer']] = true
          classes[this.$style['simple-footer']] = true
          break
        case 'header':
          classes[this.$style['footer__header']] = true
          break
        case 'divider':
          classes[this.$style['footer__divider']] = true
          break
        case 'divider-empty':
          classes[this.$style['footer__divider']] = true
          classes[this.$style['footer__divider--empty']] = true
          break
        case 'link':
          classes[this.$style['footer__link']] = true
          break
        case 'link-external':
          classes[this.$style['footer__link']] = true
          classes[this.$style['footer__link--external']] = true
          break
        case 'text':
          classes[this.$style['footer__text']] = true
          break
        case 'content-container':
          classes[this.$style['footer__content-container']] = true
          break
        case 'content':
          classes[this.$style['footer__content']] = true
          break
        case 'content-company':
          classes[this.$style['footer__content-company']] = true
          break
        case 'content-name':
          classes[this.$style['footer__content-name']] = true
          break
        case 'content-key':
          classes[this.$style['footer__content-key']] = true
          break
        case 'content-value':
          classes[this.$style['footer__content-value']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.simple-footer {
}
.footer {
}
.footer__header {
}
.footer__content-container {
}
.footer__link {
}
.footer__link--external {
}
.footer__text {
}
.footer__content {
}
.footer__divider {
}
.footer__divider--empty {
}
.footer__content-company {
}
.footer__content-name {
}
.footer__content-key {
}
.footer__content-value {
}

.footer__row {
}
.footer__col {
}
</style>
