<template>
  <div :class="getClasses('contact-form')">
    <form :class="getClasses('form')">
      <div :class="getClasses('group', 'info')">
        <div :class="getClasses('group', 'name')">
          <name-input
            title="이름"
            placeholder="성함을 입력해주세요" />
        </div>
        <div :class="getClasses('group', 'email')">
          <email-input
            title="이메일"
            placeholder="답변받을 이메일을 입력해주세요"
          />
        </div>
      </div>
      <div :class="getClasses('group', 'phone')">
        <phone-input
          title="연락처"
          placeholder=""
          nowrap
        />
      </div>
      <div :class="getClasses('divider')" />
      <div :class="getClasses('group', 'content')">
        <div :class="getClasses('group', 'content-title')">
          <base-input
            title="문의 제목"
            placeholder="문의할 제목을 입력해주세요"
          />
        </div>
        <div :class="getClasses('group', 'content-text')">
          <textarea-input
            title="문의 내용"
            placeholder="문의할 내용을 입력해주세요"
          />
        </div>
      </div>
      <div
        :class="getClasses('group', 'submit')"
        tabindex="0"
        @keyup.enter="submit"
        @keyup.space="submit"
        @click="submit">
        <a>
          문의 보내기
        </a>
      </div>
    </form>
  </div>
</template>

<script>
import BaseInput from '~/components/inputs/Base.vue'
import NameInput from '~/components/inputs/Name.vue'
import PhoneInput from '~/components/inputs/Phone.vue'
import EmailInput from '~/components/inputs/Email.vue'
import CheckboxInput from '~/components/inputs/Checkbox.vue'
import TextareaInput from '~/components/inputs/Textarea.vue'

/**
 * ContactForm
 * @vuedoc
 * @classdesc 연락처 폼 컴포넌트
 * @exports forms/Contact
 */
export default {
  name: 'ContactForm',
  components: {
    BaseInput,
    NameInput,
    EmailInput,
    PhoneInput,
    CheckboxInput,
    TextareaInput
  },
  props: {},
  data() {
    return {}
  },
  created() {},
  destoryed() {},
  mounted() {},
  methods: {
    submit(e) {},
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'contact-form':
          classes[this.$style['form']] = true
          classes[this.$style['contact-form']] = true
          break
        case 'title':
          classes[this.$style['form__title']] = true
          break
        case 'form':
          classes[this.$style['contact-form__form']] = true
          break
        case 'group':
          classes[this.$style['contact-form__group']] = true
          classes[this.$style['contact-form__group--' + arg]] = true
          switch (arg) {
            case 'submit':
              classes[this.$style['form__btn']] = true
              classes[this.$style['form__btn--center']] = true
              break
          }
          break
        case 'divider':
          classes[this.$style['form__divider']] = true
          break
        case 'label':
          classes[this.$style['form__label']] = true
          break
        case 'input':
          classes[this.$style['form__input']] = true
          break
      }
      return classes
    }
  }
}
</script>

<style module>
.form {
}
.form__title {
}
.form__divider {
}
.form__btn {
}
.form__btn--center {
}
.form__label {
}
.form__input {
}
.form__textarea {
}
.form__link {
}

.contact-form {
}
.contact-form__form {
}

.contact-form__group {
}
.contact-form__group--info {
}
.contact-form__group--name {
}
.contact-form__group--email {
}
.contact-form__group--phone {
}
.contact-form__group--content {
}
.contact-form__group--content-title {
}
.contact-form__group--content-text {
}
.contact-form__group--submit {
}
.contact-form__group--text {
}
</style>
