<template>
  <div 
    v-if="type == 'default' || type == 'modal'"
    :class="getClasses('invest-form')">
    <div :class="getClasses('tab')">
      <div
        :class="getClasses('title', 0)"
        data="0"
        @click="handleTabClick">기본 정보
      </div>
      <div
        :class="getClasses('title', 1)"
        data="1"
        @click="handleTabClick">상세 정보
      </div>
    </div>
    <div
      v-if="currentTab == 0"
      :class="getClasses('progress')">
      <base-progress
        id="invest-form"
        :current-step="fundedAmount"
        :total-step="fundingAmount"
        :width="8"
        :transition-duration="1000"
        inner-color="transparent"
        inner-fill-color="#f8f8f8"
        stroke-color="#35d27f"
        stroke-end-color="#00a86b"
        type="circle"
        transition-easing="ease-in-out"
      >
        <span 
          :class="getClasses('text', 'm')" 
          style="color:gray;">{{ funded }} 모집</span>
        <span :class="getClasses('text', 'xl')">{{ currentPercent }}%</span>
        <span 
          :class="getClasses('text', 's')" 
          style="color:gray;">203명 참여 중</span>
      </base-progress>
    </div>
    <div :class="getClasses('user')">
      <div :class="getClasses('row')">
        <span :class="getClasses('key')">나의 투자 한도 <MaxInvestableAmountTooltip/></span>
        <span :class="getClasses('value')">5000만원</span>
      </div>
      <div :class="getClasses('divider')"/>
      <div :class="getClasses('row')">
        <span :class="getClasses('key')">나의 예치금 <BalanceTooltip/></span>
        <span :class="getClasses('value')">1000만원</span>
      </div>
    </div>
    <div
      v-if="currentTab == 0"
      :class="getClasses('calc')">
      <div :class="getClasses('subtitle')">투자 금액 입력</div>
      <currency-input
        :value="investValue"
        :result.sync="investResult"
      />
      <div :class="getClasses('amount')">
        <div 
          :class="getClasses('btn-simple')" 
          @click="handleAmountButtonClick(500)">500만원</div>
        <div 
          :class="getClasses('btn-simple')" 
          @click="handleAmountButtonClick(100)">100만원</div>
        <div
          :class="getClasses('btn-simple')"
          @click="handleAmountButtonClick(10)">10만원
        </div>
      </div>
      <div
        :class="getClasses('profit')"
        @click="handleProfitClick">
        <div :class="getClasses('profit-title')">
          예상 수익 계산 표 보기
        </div>
        <div :class="getClasses('modal')">
          <modal-frame
            :activate.sync="showProfits"
            relative>
            <div :class="getClasses('modal-content')">
              <table>
                <thead>
                  <tr>
                    <td>회차</td>
                    <td>지급일</td>
                    <td>수익금</td>
                    <td>세금</td>
                    <td>수익금(세후)</td>
                  </tr>
                </thead>
                <tr
                  v-for="(data, i) in profitData"
                  :key="i">
                  <td>{{ i+1 }} 회차</td>
                  <td>{{ data.date }}</td>
                  <td>{{ data.profit }}</td>
                  <td>{{ data.tax }}</td>
                  <td>{{ data.profit - data.tax }}</td>
                </tr>
              </table>
            </div>
          </modal-frame>
        </div>
      </div>
    </div>
    <div :class="getClasses('btn')">
      <span>투자 하기</span>
    </div>
  </div>
  <div 
    v-else-if="type == 'button'"
    :class="getClasses('invest-form')">
    <div :class="getClasses('progress')">
      <base-progress
        id="invest-form-button"
        :current-step="fundedAmount"
        :total-step="fundingAmount"
        :width="4"
        :transition-duration="1000"
        inner-color="transparent"
        inner-fill-color="#f8f8f8"
        stroke-color="#35d27f"
        stroke-end-color="#00a86b"
        type="line"
        shape="rect"
        transition-easing="ease-in-out"
      />
    </div>
    <div :class="getClasses('content')">
      <div :class="getClasses('title')">
        투자하기
      </div>
    </div>
  </div>
</template>

<script>
import BaseProgress from '~/components/progress/Base.vue'
import CurrencyInput from '~/components/inputs/Currency.vue'
import BalanceTooltip from '~/components/tooltips/questions/Balance.vue'
import MaxInvestableAmountTooltip from '~/components/tooltips/questions/MaxInvestableAmount.vue'
import ModalFrame from '~/components/frames/Modal.vue'

/**
 * InvestForm
 * @vuedoc
 * @classdesc 투자하기 폼
 * @exports forms/Invest
 */
export default {
  name: 'InvestForm',
  components: {
    BaseProgress,
    CurrencyInput,
    BalanceTooltip,
    MaxInvestableAmountTooltip,
    ModalFrame
  },
  props: {
    fundedAmount: {
      type: Number,
      required: true
    },
    fundingAmount: {
      type: Number,
      required: true
    },
    type: {
      type: String,
      default: 'default' // 'button', 'modal', 'default'
    }
  },
  data() {
    return {
      currentTab: 0, // 0 : default, 1 : detail
      investValue: 10,
      investResult: {},
      showProfits: false
    }
  },
  computed: {
    funded: function() {
      return this.$number.abbr(this.fundedAmount) + '원'
    },
    funding: function() {
      return this.$number.abbr(this.fundingAmount) + '원'
    },
    currentPercent: function() {
      return ((this.fundedAmount / this.fundingAmount) * 100).toFixed(1)
    },
    profitData: function() {
      return [
        {
          date: '2019-05-01',
          profit: '5000',
          tax: '1200'
        },
        {
          date: '2019-06-01',
          profit: '5000',
          tax: '1200'
        },
        {
          date: '2019-07-01',
          profit: '5000',
          tax: '1200'
        }
      ]
    }
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'invest-form':
          classes[this.$style['form']] = true // 기본 폼 스타일 사용
          classes[this.$style['invest-form']] = true
          classes[this.$style['invest-form--type-' + this.type]] = true
          break
        case 'tab':
          classes[this.$style['invest-form__tab']] = true
          break
        case 'title':
          classes[this.$style['invest-form__title']] = true
          classes[this.$style['invest-form__title--selected']] =
            arg == this.currentTab
          break
        case 'subtitle':
          classes[this.$style['invest-form__subtitle']] = true
          break
        case 'divider':
          classes[this.$style['invest-form__divider']] = true
          break
        case 'content':
          classes[this.$style['invest-form__content']] = true
          break
        case 'progress':
          classes[this.$style['invest-form__progress']] = true
          break
        case 'user':
          classes[this.$style['invest-form__user']] = true
          break
        case 'calc':
          classes[this.$style['invest-form__calc']] = true
          break
        case 'btn':
          classes[this.$style['form__btn']] = true // 기본 폼 버튼 스타일 사용
          classes[this.$style['invest-form__btn']] = true
          break
        case 'btn-simple': // 간단한 버튼 스타일
          classes[this.$style['invest-form__btn']] = true // 기본 폼 버튼 스타일 사용
          classes[this.$style['invest-form__btn--simple']] = true
          break
        case 'amount':
          classes[this.$style['invest-form__row']] = true
          classes[this.$style['invest-form__amount']] = true
          break
        case 'profit':
          classes[this.$style['invest-form__profit']] = true
          break
        case 'profit-title':
          classes[this.$style['invest-form__profit-title']] = true
          break
        case 'modal':
          classes[this.$style['invest-form__modal']] = true
          break
        case 'modal-content':
          classes[this.$style['invest-form__modal-content']] = true
          break
        case 'row':
          classes[this.$style['invest-form__row']] = true
          break
        case 'key':
          classes[this.$style['invest-form__key']] = true
          break
        case 'value':
          classes[this.$style['invest-form__value']] = true
          break
        case 'text':
          classes[this.$style['text--' + arg]] = true
          break
      }
      return classes
    },
    handleTabClick(e) {
      this.currentTab = parseInt($(e.target).attr('data'))
    },
    handleAmountButtonClick(value) {
      this.investValue = this.investResult.value + value
    },
    handleProfitClick(e) {
      this.showProfits = true
    }
  }
}
</script>

<style module>
.text--xs {
}
.text--s {
}
.text--m {
}
.text--l {
}
.text--xl {
}
.text--xxl {
}

.form {
}
.form__btn {
}

.invest-form {
}
.invest-form--type-default {
}
.invest-form--type-modal {
}
.invest-form--type-button {
}
.invest-form__tab {
}
.invest-form__title {
}
.invest-form__title--selected {
}
.invest-form__subtitle {
}
.invest-form__content {
  /* for button type */
}
.invest-form__divider {
}
.invest-form__progress {
}
.invest-form__user {
}
.invest-form__calc {
}
.invest-form__amount {
}
.invest-form__profit {
}
.invest-form__profit-title {
}
.invest-form__modal {
}
.invest-form__modal-content {
}
.invest-form__btn {
}
.invest-form__btn--simple {
}
.invest-form__row {
}
.invest-form__key {
}
.invest-form__value {
}
</style>
