<template>
  <div :class="getClasses('login-form')">
    <div :class="getClasses('logo')">
      <base-logo type="svg-text"/>
    </div>
    <div :class="getClasses('title')">
      {{ title }}
    </div>
    <hr :class="getClasses('divider')" >
    <form :class="getClasses('form')">
      <div :class="getClasses('group', 'id')">
        <id-input
          title="아이디"
          placeholder="아이디를 입력해주세요"
        />
      </div>
      <div :class="getClasses('group', 'pw')">
        <password-input
          title="비밀번호"
          placeholder="비밀번호를 입력해주세요"
        />
      </div>
      <div :class="getClasses('group', 'save')">
        <checkbox-input
          id="svae-cbx"
          text="아이디 저장"
        />
      </div>
      <div
        :class="getClasses('group', 'login')"
        tabindex="0">
        <a
          :class="getClasses('login')">
          로그인</a>
      </div>
      <div :class="getClasses('group', 'forgot')">
        <a
          :class="getClasses('forgot')"
          href="/auth/forgot"
        >잊어버리셨나요?</a>
      </div>
    </form>
  </div>
</template>

  <script>
import BaseLogo from '~/components/logos/Base.vue'
import CheckboxInput from '~/components/inputs/Checkbox.vue'
import IdInput from '~/components/inputs/Id.vue'
import PasswordInput from '~/components/inputs/Password.vue'
/**
 * LoginForm
 * @vuedoc
 * @classdesc 로그인 폼
 * @exports forms/Login
 */
export default {
  name: 'LoginForm',
  components: { BaseLogo, IdInput, PasswordInput, CheckboxInput },
  props: {
    title: {
      type: String,
      required: false,
      default: '로그인'
    }
  },
  computed: {},
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'login-form':
          classes[this.$style['form']] = true
          classes[this.$style['login-form']] = true
          classes[this.$style['fnd-form--adaptive']] = true
          break
        case 'logo':
          classes[this.$style['form__logo']] = true
          break
        case 'title':
          classes[this.$style['form__title']] = true
          break
        case 'group':
          classes[this.$style['login-form__group']] = true
          classes[this.$style['login-form__group--' + arg]] = true
          switch (arg) {
            case 'login':
              classes[this.$style['form__btn']] = true
              break
          }
          break
        case 'label':
          classes[this.$style['form__label']] = true
          break
        case 'input':
          classes[this.$style['form__input']] = true
          break
        case 'divider':
          classes[this.$style['form__divider--short']] = true
          break
        case 'login':
          classes[this.$style['login-form__login']] = true
          break
        case 'forgot':
          classes[this.$style['form__link']] = true
          classes[this.$style['login-form__forgot']] = true
          break
        case 'form':
          classes[this.$style['login-form__form']] = true
          break
      }
      return classes
    }
  }
}
</script>

  <style module>
.fnd-form--adaptive {
  /* vendor */
}

.form {
}
.form__logo {
}
.form__title {
}
.form__divider--short {
}
.form__btn {
}
.form__label {
}
.form__input {
}
.form__link {
}

.login-form {
}
.login-form__logo {
}
.login-form__title {
}
.login-form__form {
}
.login-form__group {
}
.login-form__group--id {
}
.login-form__group--pw {
}
.login-form__group--save {
}
.login-form__group--login {
}
.login-form__group--forgot {
}
.login-form__login {
}
.login-form__forgot {
}

.login-form__label {
}
.login-form__input {
}
.login-form__divider {
}
</style>
