<template>
  <div :class="getClasses('signup-form')">
    <div :class="getClasses('state-text-wrapper')">
      <div :class="getClasses('state-text')">
        {{ stateText }}
      </div>
      <div :class="getClasses('state-step')">
        <span :class="getClasses('state-step-current')">{{ step }}</span>
        <span :class="getClasses('state-step-slash')">/</span>
        <span :class="getClasses('state-step-total')">{{ lastStep }}</span>
      </div>
    </div>
    <base-indicator
      :total-step="lastStep"
      :current-step.sync="step"
      type="dash"
    />
    <div
      v-if="withLogo"
      :class="getClasses('logo')">
      <base-logo type="svg-text"/>
    </div>
    <div
      v-if="withTitle"
      :class="getClasses('title')">
      {{ title }}
    </div>
    <form :class="getClasses('form')">
      <div v-if="step==1"/>
      <div
        v-if="step==2">
        <div :class="getClasses('group', 'id')">
          <id-input
            title="아이디"
            placeholder="아이디를 입력해주세요"
            with-check
          />
        </div>
        <div :class="getClasses('group', 'password')">
          <password-input
            title="비밀번호 입력"
            title2="비밀번호 확인"
            placeholder="비밀번호를 입력해주세요"
            placeholder2="비밀번호를 확인해주세요"
            with-check
          />
        </div>
        <div :class="getClasses('group', 'email')">
          <email-input
            title="이메일"
            placeholder="이메일을 입력해주세요"
          />
        </div>
      </div>
      <div v-else-if="step==3">
        <div :class="getClasses('group', 'name')">
          <name-input
            title="이름"
            placeholder="본명을 입력해주세요"
          />
        </div>
        <div :class="getClasses('group', 'resident')">
          <personal-number-input
            :disabled="data.residentSwitch.value"
            title="주민등록번호"
          >
            <toggle-switch
              slot="afterTitle"
              :result.sync="data.residentSwitch"
              left-text="나중에 등록"
            />
          </personal-number-input>
        </div>
        <div :class="getClasses('group', 'phone')">
          <phone-input
            title="휴대폰 번호"
          />
        </div>
      </div>
      <div v-else-if="step==4">
        <div :class="getClasses('group', 'sms-notify')">
          <checkbox-input
            id="sms-notify"
            text="SMS 수신(선택)" />
        </div>
        <div :class="getClasses('group', 'email-notify')">
          <checkbox-input
            id="email-notify"
            text="이메일 수신(선택)" />
        </div>
      </div>
      <div
        v-if="step == lastStep"
        :class="getClasses('group', 'confirm')"
        tabindex="0"
        @keyup.enter="nextStep"
        @keyup.space="nextStep"
        @click="nextStep">
        <a
          :class="getClasses('confirm')">
          완료
          <base-icon
            :key="'check'"
            section="svg"
            theme="antd/outline"
            type="check" />
        </a>
      </div>
      <div
        v-if="step < lastStep"
        :class="getClasses('group', 'next')"
        tabindex="0"
        @keyup.enter="nextStep"
        @keyup.space="nextStep"
        @click="nextStep">
        <a
          :class="getClasses('next')">
          다음
          <base-icon
            :key="'right'"
            section="svg"
            theme="antd/fill"
            type="caret-right" />

        </a>
      </div>
      <div
        v-if="step > 1"
        :class="getClasses('group', 'prev')"
        tabindex="0"
        @keyup.enter="prevStep"
        @keyup.space="prevStep"
        @click="prevStep">
        <a
          :class="getClasses('prev')">
          <base-icon
            :key="'left'"
            section="svg"
            theme="antd/fill"
            type="caret-left" />
          이전
        </a>
      </div>
    </form>
  </div>
</template>

<script>
import BaseIcon from '~/components/icons/Base.vue'
import BaseLogo from '~/components/logos/Base.vue'
import BaseProgress from '~/components/progress/Base.vue'
import BaseIndicator from '~/components/indicators/Base.vue'
import IdInput from '~/components/inputs/Id.vue'
import PasswordInput from '~/components/inputs/Password.vue'
import EmailInput from '~/components/inputs/Email.vue'
import NameInput from '~/components/inputs/Name.vue'
import PersonalNumberInput from '~/components/inputs/PersonalNumber.vue'
import PhoneInput from '~/components/inputs/Phone.vue'
import CheckboxInput from '~/components/inputs/Checkbox.vue'
import ToggleSwitch from '~/components/toggles/Switch.vue'

/**
 * SignupForm
 * @vuedoc
 * @classdesc 회원가입 폼
 * @exports forms/Signup
 */
export default {
  name: 'SignupForm',
  components: {
    BaseIcon,
    BaseLogo,
    BaseProgress,
    BaseIndicator,
    IdInput,
    PasswordInput,
    EmailInput,
    NameInput,
    PersonalNumberInput,
    PhoneInput,
    CheckboxInput,
    ToggleSwitch
  },
  props: {
    title: {
      type: String,
      required: false,
      default: '회원가입'
    },
    withLogo: {
      type: Boolean,
      required: false,
      default: false
    },
    withTitle: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      step: 1,
      firstStep: 1,
      lastStep: 4,
      data: {
        residentSwitch: {
          // 주민등록번호 토글스위치
        }
      }
    }
  },
  computed: {
    stateText() {
      switch (this.step) {
        case 1:
          return '1. 약관 동의'
          break
        case 2:
          return '2. 필수 정보 입력'
          break
        case 3:
          return '3. 본인 인증'
          break
        case 4:
          return '4. 가입 완료'
          break
      }
    },
    stateStep() {
      return this.step + ' / ' + this.lastStep
    }
  },
  updated() {
    this.initStep()
  },
  methods: {
    getClasses(type, arg) {
      var classes = {}
      switch (type) {
        case 'signup-form':
          classes[this.$style['form']] = true
          classes[this.$style['signup-form']] = true
          classes[this.$style['fnd-form--adaptive']] = true
          break
        case 'logo':
          classes[this.$style['form__logo']] = true
          break
        case 'title':
          classes[this.$style['form__title']] = true
          break
        case 'state-text-wrapper':
          classes[this.$style['form__state-text-wrapper']] = true
          break
        case 'state-text':
          classes[this.$style['form__state-text']] = true
          if (arg < this.step) {
            classes[this.$style['form__state-text--deactivate']] = true
          } else if (arg == this.step) {
            classes[this.$style['form__state-text--activate']] = true
          }
          break
        case 'state-step':
          classes[this.$style['form__state-step']] = true
          break
        case 'state-step-current':
          classes[this.$style['form__state-step-current']] = true
          break
        case 'state-step-slash':
          classes[this.$style['form__state-step-slash']] = true
          break
        case 'state-step-total':
          classes[this.$style['form__state-step-total']] = true
          break
        case 'group':
          classes[this.$style['signup-form__group']] = true
          classes[this.$style['signup-form__group--' + arg]] = true
          switch (arg) {
            case 'signup':
              classes[this.$style['form__btn']] = true
              break
            case 'prev':
              classes[this.$style['form__btn']] = true
              classes[this.$style['form__btn--left']] = true
              break
            case 'next':
              classes[this.$style['form__btn']] = true
              classes[this.$style['form__btn--right']] = true
              break
            case 'confirm':
              classes[this.$style['form__btn']] = true
              classes[this.$style['form__btn--right']] = true
              classes[this.$style['form__btn--confirm']] = true
              break
          }
          break
        case 'label':
          classes[this.$style['form__label']] = true
          break
        case 'input':
          classes[this.$style['form__input']] = true
          break
        case 'divider':
          classes[this.$style['form__divider--short']] = true
          break
        case 'form':
          classes[this.$style['signup-form__form']] = true
          break
      }
      return classes
    },
    /**
     * 현재 스텝 초기화
     */
    initStep() {
      $($(':focus')[0]).blur() // focus 된 객체를 blur
      // 가장 위의 input을 선택
      $($(this.$el).find("input[type='text']")[0]).focus()
    },
    nextStep() {
      if (this.step <= this.lastStep) {
        this.step++
      }
    },
    prevStep() {
      if (this.step > this.firstStep) {
        this.step--
      }
    }
  }
}
</script>

  <style module>
.fnd-form--adaptive {
  /* vendor */
}

.form {
}
.form__logo {
}
.form__title {
}
.form__divider--short {
}
.form__btn {
}
.form__btn--confirm {
}
.form__btn--right {
}
.form__btn--left {
}
.form__label {
}
.form__input {
}
.form__link {
}
.form__state-text-wrapper {
}
.form__state-text {
}
.form__state-text--activate {
}
.form__state-text--deactivate {
}
.form__state-step {
}
.form__state-step-current {
}
.form__state-step-slash {
}
.form__state-step-total {
}

.signup-form {
}
.signup-form__logo {
}
.signup-form__title {
}
.signup-form__form {
}
.signup-form__group {
}
.signup-form__group--id {
}
.signup-form__group--pw {
}
.signup-form__group--email {
}
.signup-form__group--name {
}
.signup-form__group--resident {
}
.signup-form__group--phone {
}
.signup-form__group--signup {
}
.signup-form__group--next {
}
.signup-form__group--prev {
}
.signup-form__group--confirm {
}
.signup-form__signup {
}
.signup-form__forgot {
}

.signup-form__label {
}
.signup-form__input {
}
.signup-form__divider {
}
</style>
